﻿

<div role="tabpanel" class="col-md-12" ng-controller="customise as vm" ng-cloak>

    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <ul class="nav nav-tabs mytabs headmenu" role="tablist">
            <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->
            <li role="presentation"><a href="/mainpage">MYPROFILE</a></li>
            <li role="presentation"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
            <li role="presentation" class="active"><a href="/mainpage/customise">CUSTOM FEED</a></li>
            <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><!--<span class="msgnoti">8</span>--></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <fieldset class="standard">
                <legend class="md-hedr1"><h4>SELECT SKILL SETS BELOW</h4></legend>
            </fieldset>
        </div>
        <div class="col-md-12" style="background-color:white;">
            <div class="col-md-6 skil-selected">
                <h2 class="md-title md-hedr"><em>Currently viewing feeds from:</em></h2>
                <span style="display: block; padding: 8px;">
                    <h4 class="md-hedr">
                        <span>{{selCatgryListShow}}</span>
                    </h4>
                </span>
                <h4 class="txt-bottom">add upto 4 skill sets to feed</h4>
            </div>
            <div class="col-md-6">
                <div layout="row " layout-wrap flex>
                    <div>
                        <div id="list{{$index}}" ng-repeat="item in categoryList" class="list-select1 form-group">
                            <input id="list-sel{{$index}}" ng-model="item.selected" type="checkbox" name="chk_group[]"
                                   value={{item.text}} class="chk-list" ng-click="isCheck(item,selectedCategories,$index)" />
                            <label for="list-sel{{$index}}" class="chk-bn-tags chk-list">{{item.text}}</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--<div>
                        <md-button type="button" class="md-raised md-primary loginColor sideN md-button ng-scope md-ink-ripple" ng-click="searchFeeds()">Search</md-button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row activeDiv">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div ng-if="totalActiveFeeds > 0">
                    <h2 class="title">MY CUSTOM FEED LINE <span class="totalact pull-right">TOTAL ACTIVE FEEDS : {{totalActiveFeeds}}</span></h2>
                </div>
                <div ng-if="totalActiveFeeds == 0">
                    <h2 class="title">MY CUSTOM FEED LINE <span class="totalact pull-right">NO  ACTIVE FEEDS</span></h2>
                </div>
            </div>
            <div class="col-md-12">
                <div infinite-scroll="loadMorePosts()" infinite-scroll-disabled="busy" style="overflow: hidden;">
                    <div class="row feed-scroll">
                        <div class="mymediaa" ng-repeat="feed in feedsList track by $index">
                            <div class="row">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <div class="my-media-block">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img ng-if='feed.imageLink != ""' ng-src="{{feed.imageLink}}" class="media-object" alt="image">
                                                    <img ng-if='feed.imageLink == ""' src="/img/_BlankProfile.jpg" class="media-object" alt="image">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="{{feed.userProfileUrl}}" target="_blank">
                                                    <img ng-src="{{feed.userProfile}}" class="img-responsive puserpic" alt=".." />
                                                    <span class="bittext1">
                                                        {{feed.createdUserName.replace('-',' ')}}
                                                    </span>
                                                </a>
                                                <h4 class="media-heading">{{feed.title}}</h4>
                                                <p>{{feed.description}}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2 col-sm-4 col-xs-12 text-left">
                                                <ul class="follow_links">
                                                    <li ng-if="feed.isFollow >= 1"><a href="#" ng-click="followFeed(feed)">FOLLOWING</a></li>
                                                    <li ng-if="feed.isFollow == 0"><a href="#" ng-click="followFeed(feed)">FOLLOW ME</a></li>
                                                    <li ng-if="feed.saveFeedStatus == 0"><a href="#" ng-click="savedFeed(feed)">SAVE FEED</a></li>
                                                    <li ng-if="feed.saveFeedStatus == 1"><a href="#" ng-click="savedFeed(feed)">SAVED FEED</a></li>
                                                    <li ng-if="feed.noAudioLink"><a href="#" ng-click="playMusic($index)">LISTEN NOW</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-12">
                                                <ul class="comment_links">
                                                    <li><a href="#" ng-click="displayComments(feed.id,$index)">VIEW COMMENTS</a></li>
                                                    <li><a href="#" ng-click="feedLinks(feed.id,$index,'Message',feed.createdBy)">MESSAGE</a></li>
                                                    <li>
                                                        <a href="#" style="cursor:pointer; z-index:9990;" ng-click="feedLinks(feed.id,$index,'Like Feed',feed.userId)">LIKE FEED</a>
                                                        <span ng-show="feed.isLikes==1">You Liked,</span>
                                                        <span ng-show="feed.likeCount>0">Total {{feed.likeCount}} likes</span>
                                                    </li>
                                                </ul>
                                                <br />
                                                <form id="frmComment" name="frmComment" novalidate>
                                                    <input type="hidden" id="hdnFeedId" name="hdnFeedId" ng-model="feed.id" />
                                                    <md-input-container class="form-control" flex-gt-sm>
                                                        <label class="text-left">Comment</label>
                                                        <textarea class="form-control" name="Comment" id="Comment" ng-model="feed.Comment" required></textarea>
                                                        <div ng-show="(frmComment.Comment.$invalid && frmComment.Comment.$touched && (!frmComment.Comment.$pristine || isCommentSubmit ))" ng-messages="frmComment.Comment.$error">
                                                            <div class="validations text-left" ng-message="required">Comment is required.</div>
                                                        </div>
                                                    </md-input-container>
                                                    <button type="button" class="postbtn pull-right" ng-click="SaveComment(frmComment,$index)">POST COMMENT</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12 ">
                                    <div class="submitted-feed">
                                        <input type="button" ng-click="feedLinks(feed.id,feed.title,'submitTofeed',feed.userId)" class="dropzone" />
                                        <ul class="social_links">
                                            <!--<li ng-if="getSocialMediaLinks[1].mediaName=='Flag'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[1].mediaLink,$index,'media','flag')"><img src="../img/social-icon-flag.jpg" class="img-responsive" title={{getSocialMediaLinks[1].mediaName}} alt="image"></a></li>-->
                                            <li ng-if="getSocialMediaLinks[0].mediaName=='Facebook'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[0].mediaLink,$index,'media','facebook')"><img src="../img/social-icon-fb.jpg" class="img-responsive" title={{getSocialMediaLinks[0].mediaName}} alt="image"></a></li>
                                            <li ng-if="getSocialMediaLinks[3].mediaName=='Twitter'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[3].mediaLink,$index,'media','twitter')"><img src="../img/social-icon-twitter.jpg" class="img-responsive" title={{getSocialMediaLinks[3].mediaName}} alt="image"></a></li>
                                            <li ng-if="getSocialMediaLinks[2].mediaName=='Google+'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[2].mediaLink,$index,'media','google+')"><img src="../img/social-icon-google-plus.jpg" class="img-responsive" title={{getSocialMediaLinks[2].mediaName}} alt="image"></a></li>
                                        </ul>
                                        <span style="width: 100%;display: block; text-align: right;"><small style="padding-left: 124px;">DAYS:HRS</small></span>
                                        <h4 style="font-size: 17px;margin-top: 2px;margin-bottom: 2px; text-align: right;">FEED EXPIRES IN:: {{feed.feedExpireIN}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="busy" class="col-md-12 ">
                            <md-progress-circular ng-if="showSpinner1" ng-disabled="!activated1" class="md-accent md-hue-1" md-diameter="80">
                            </md-progress-circular>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .closest-dropzone {
        background-color: #EDEDED;
        box-shadow: inset 0 0 2px #6F726F;
        border-style: solid;
        border-color: #A6B4AD;
        border-width: 1px;
        border-radius: 5px;
    }

        .closest-dropzone:hover {
            /*background-color: #DADFE3;*/
            background-color: rgb(226, 195, 195);
            box-shadow: inset 0 0 2px #1A1A1A;
            border-color: #8c0000;
        }

            .closest-dropzone:hover > span {
                color: #8c0000;
                text-shadow: 0 0 0px #1A1A1A;
            }

    .dropzone-upload {
        background-color: #78C6D3 !important;
        box-shadow: inset 0 0 2px #6F726D !important;
        border-color: #3598DC !important;
    }

        .dropzone-upload > span {
            text-shadow: 0 0 2px #1A1A1A !important;
        }

    .closest-dropzone > span {
        color: #A6B4AD;
        text-shadow: 0 0 0px #1A1A1A;
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        top: 33% !important;
    }

    .feed-scroll {
        overflow-x: hidden;
        overflow-y: auto;
        height: 630px;
        width: 100%;
        margin-left: 1px;
        margin-top: -16px;
    }

        /*.feed-scroll::-webkit-scrollbar {
            display: none;
        }*/

    .submitted-feed {
        width: 270px;
        height: 250px;
        margin: auto;
    }

    .my-media-block {
        min-height: 330px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropzone').inputFileZone();
    });
</script>
