﻿
<div role="tabpanel" ng-controller="editGallery as vm" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegister" name="frmRegister" novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    <md-content class="contentClass" layout-gt-sm="row" layout-padding>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="modal-body login-box clearfix">
                                    <ul id="media-list" class="clearfix" style="width: 660px;">
                                        <li ng-repeat="gallery in getGallery" class="myupload">
                                            <md-progress-circular ng-if="showSpinner1" ng-disabled="!activated1" class="md-accent md-hue-1" style="display:inline;" md-diameter="80">
                                            </md-progress-circular>
                                            <div class="overlay">
                                                <div class="text">{{gallery.fileName.slice(0,-4)}}</div>
                                            </div>
                                            <img ng-src={{gallery.fileUrl}} class="img-responsive img-size" alt=".." />
                                            <div class="post-thumb">
                                                <div class="inner-post-thumb">
                                                    <a href="javascript:void(0);" data-id="assessment-center770x440.jpg" class="">
                                                        <span class="overlay text">
                                                            <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i><input type="file" accept="image/png, image/jpeg, image/gif, image/svg" data-gid="{{gallery.id}}" click-type="type2" id="editpicupload" class="editpicupload" sstyle="display: none;" title="" />
                                                            <i class="fa fa-trash text" title="Delete" aria-hidden="true" ng-click="removeUserGallery(gallery.id,$event)"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="myupload">
                                            <span><i class="fa fa-plus" aria-hidden="true"></i><input type="file" accept="image/*" click-type="type2" id="picupload" class="picupload" style="color:transparent;" multiple=""></span>
                                            <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1 loader" md-diameter="80">
                                            </md-progress-circular>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <md-button class="md-raised md-primary loginColor sideN " ng-click="cancel()" value="Cancel">Cancel</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>
</div>
<link href="../../clientCSS/galleryImages.css" rel="stylesheet" />