﻿<div role="tabpanel" ng-controller="editAccountInfo as vm" ng-cloak>

    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegister" class="edit-profile-form" name="frmRegister" ng-submit="editRegister(frmRegister.$valid)" novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    <md-content class="contentClass" layout-gt-sm="row" layout-padding>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <md-input-container class="editInputContainer">
                                    <label>Email Id</label>
                                    <input type="email" id="txtEmailId" name="txtEmailId" ng-model="userProfile.email" required ng-blur="checkmail(userProfile.email)" />
                                    <div ng-show="frmRegister.txtEmailId.$invalid && (!frmRegister.txtEmailId.$pristine || isSubmit )">
                                        <div class="text-danger">not a valid Email.</div>
                                    </div>
                                    <div class="text-danger" ng-show="isFocus"> User exist with this email.</div>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="inputContainer1">
                                    <label><md-icon md-svg-src="../../img/ic_password_24px.svg" class="email"></md-icon> Password</label>
                                    <input type="password" id="Password" name="Password" ng-model="userProfile.password"
                                           onkeypress='return event.charCode !=32' ng-required="true" ng-minlength="6" />
                                    <div ng-show="frmRegister.Password.$error.required && (!frmRegister.Password.$pristine || isSubmit )">
                                        <div class="text-danger">
                                            Password is required
                                        </div>
                                    </div>
                                    <div ng-show="frmRegister.Password.$error.minlength && (!frmRegister.Password.$pristine || isSubmit2 )">
                                        <div class="text-danger">
                                            Password should be atleast 6 characters
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="inputContainer1">
                                    <label> <md-icon md-svg-src="../../img/ic_password_24px.svg" class="email"></md-icon> Confirm Password</label>
                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="userProfile.confirmPassword"
                                           onkeypress='return event.charCode !=32' ng-required="true" ng-minlength="6" />
                                    <div ng-show="frmRegister.ConfirmPassword.$error.required && (!frmRegister.ConfirmPassword.$pristine || isSubmit )">
                                        <div class="text-danger"> Confirm Password is required.</div>
                                    </div>
                                    <div ng-show="!frmRegister.ConfirmPassword.$error.required && (frmRegister.ConfirmPassword.$error.minlength ||
                                         userProfile.password != userProfile.confirmPassword && (!frmRegister.ConfirmPassword.$pristine || isSubmit ))">
                                        <div class="text-danger">Password and Confirm Password should be equal.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
                                </md-progress-circular>
                            </div>
                        </div>
                        
                    </md-content>
                    <div class="text-right">
                        <md-button class="md-raised md-primary loginColor sideN " ng-click="editAccountInfo(frmRegister)" value="Edit">Save</md-button>
                    </div>

                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>

</div>