﻿
<div role="tabpanel" ng-controller="editTags as vm" ng-cloak>

    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegister" name="frmRegister" ng-submit="edigTags(frmRegister.$valid)" novalidate>
            <md-dialog-container>
                <md-dialog-content layout-padding>

                    <md-content class="contentClass1" layout-gt-sm="row" layout-padding>
                        <div class="userTags">
                            Choose a category that matches your <b>PRIMARY</b> skill set.
                            <md-input-container class="inputContainer">

                                <label>Primary Skill Set</label>
                                <md-select id="mainTag" name="mainTag" ng-model="userTags.mainTag" required>
                                    <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                        {{tag}}
                                    </md-option>
                                </md-select>
                                <div ng-show="frmRegister.mainTag.$invalid && (!frmRegister.mainTag.$pristine || isSubmit )">
                                    <div class="text-danger">Primary skill set is required.</div>

                                </div>
                            </md-input-container>
                        </div>
                        <div class="userTags">
                            Choose up 3 categories that matches your <b>ADDITIONAL</b> skill set.(Optional)
                            <md-input-container class="inputContainer">

                                <label>Additional Skill Set 1</label>
                                <md-select id="Tag1" name="Tag1" ng-model="userTags.tag1">
                                    <md-option ng-value="Null"><em>NONE</em> </md-option>
                                    <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                        {{tag}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="inputContainer">
                                <label>Additional Skill Set 1</label>
                                <md-select id="Tag2" name="Tag2" ng-model="userTags.tag2">
                                    <md-option ng-value="Null"><em>NONE</em> </md-option>
                                    <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                        {{tag}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                            <md-input-container class="inputContainer">
                                <label>Additional Skill Set 3</label>
                                <md-select id="Tag3" name="Tag3" ng-model="userTags.tag3">
                                    <md-option ng-value="Null"><em>NONE</em> </md-option>
                                    <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                        {{tag}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
                    </md-progress-circular>
                    <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " ng-click="editTags(frmRegister)" value="Edit">Edit</md-button>
                    <!--<md-button class="md-raised md-primary loginColor sideN " ng-click="cancel()" value="Cancel">Cancel</md-button>-->
                    <!--<input type="button" class="md-raised md-primary loginColor sideN" id="btnSave" name="btnSave" ng-click="editProfile(frmRegister)" value="Edit" />
                    <input type="button" class="md-raised md-primary loginColor sideN" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />-->
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>

</div>