﻿<style>
    .md-dailog-block .dialogContainer {
        width: 830px !important;
    }
</style>
<div role="tabpanel" ng-controller="editMusicCatalog as vm" ng-cloak class="md-dailog-block">
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-container class="dialogContainer">
            
            <div class="row form-group" style="width: 734px;">
                <div class="col-md-12">
                    <md-dialog-content layout-padding class="dis-block">
                        <form id="frmMusicCatalog" name="frmMusicCatalog" class="formClass" novalidate>
                            <md-dialog-container class="dialogContainer">
                                <md-dialog-content layout-padding>

                                    <md-content class="contentClass contentClass-audio" layout-gt-sm="row" layout-padding style="width:693px">
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <div class="upload-img-audio1">
                                                    <md-input-container class="editInputContainer">
                                                        <label>Catalog Name</label>
                                                        <input id="txtCatalogName" name="txtCatalogName" ng-model="userMusicCatalog.catalogName" required />  <!--ng-change="isNameexist();"-->

                                                        <div ng-show="frmMusicCatalog.txtCatalogName.$invalid && (!frmMusicCatalog.txtCatalogName.$pristine || isSubmit )">
                                                            <div class="text-danger">Catalog Name is required.</div>

                                                        </div>
                                                    </md-input-container>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <div class="upload-img-audio3">
                                                            <md-input-container class="editContainer1">
                                                                <div class="form-group file-area file-area1">
                                                                    <input type="file" ng-model="myAudio" name="myAudio" aria-label="audioName" accept="audio/*" onchange="angular.element(this).scope().audioUpload(event)"  />
                                                                    
                                                                    <div class="file-dummy">
                                                                        <div class="default">CHANGE AUDIO</div>
                                                                    </div>

                                                                    <!--<div class="FileNameDisp1" ng-model="userMusicCatalog.songName">{{userMusicCatalog.songName}}</div>-->
                                                                    
                                                                </div>
                                                                <div ng-show="frmMusicCatalog.myAudio.$invalid && (!frmMusicCatalog.myAudio.$pristine || isSubmit)&&(frmMusicCatalog.myAudio.$untouched || isSubmit)">
                                                                    <div class="text-danger">Audio is required.</div>
                                                                </div>

                                                            </md-input-container>
                                                            <a href="#">
                                                                <img id="{{catalog.playBtnImg}}" src="../img/bh_img_12.png" class="img-responsive playBtnImg" alt="image" title="Play" style="float:right;"> <!--ng-click="AddToPlayerList(catalog.catalogId,catalog.songLink,catalog.songName)"-->
                                                            </a>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-12">
                                                        <div id="muicerror" ng-if="IsmusictagError" class="text-danger">{{musictagErrorMessage}}</div>
                                                        <md-input-container class="inputContainer1">
                                                            <label>Music Tag 1</label>
                                                            <md-select id="Tag1" name="Tag1" ng-model="userMusicCatalog.musicTag1">
                                                                <md-option ng-value="Null"><em>NONE</em> </md-option>
                                                                <md-option ng-repeat="tag in musicTagsList" ng-value="tag.value">
                                                                    {{tag.text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <md-input-container class="inputContainer1">
                                                            <label>Music Tag 2</label>
                                                            <md-select id="Tag2" name="Tag2" ng-model="userMusicCatalog.musicTag2">
                                                                <md-option ng-value="Null"><em>NONE</em> </md-option>
                                                                <md-option ng-repeat="tag in musicTagsList" ng-value="tag.value">
                                                                    {{tag.text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <md-input-container class="inputContainer1">
                                                            <label>Music Tag 3</label>
                                                            <md-select id="Tag3" name="Tag3" ng-model="userMusicCatalog.musicTag3">
                                                                <md-option ng-value="Null"><em>NONE</em> </md-option>
                                                                <md-option ng-repeat="tag in musicTagsList" ng-value="tag.value">
                                                                    {{tag.text}}
                                                                </md-option>
                                                            </md-select>
                                                        </md-input-container>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-12">
                                                        <div class="upload-img-audio2">
                                                            <md-input-container class="editContainer1">

                                                                <div class="form-group file-area file-area1" style="width:188px;">
                                                                    <input type="file" ng-model="myImage" name="myImage" id="myImage" accept="image/png, image/jpeg, image/gif, image/svg"
                                                                           aria-label="imageName" onchange="angular.element(this).scope().imageUpload(event)" />
                                                                    <div class="file-dummy">
                                                                        <div class="default">
                                                                            <img ng-if="userMusicCatalog.imageName1 == null" ng-src={{userMusicCatalog.imageLink}} class="media-object1" alt="image" width="180">
                                                                            <!--<img src="../../img/upload-icon.png" alt="edit image" title="edit image" class="upload-photo1" />-->
                                                                        </div>

                                                                      

                                                                    </div>
                                                                    <img ng-if="userMusicCatalog.imageName1 != null" id="blah" src="#" alt="your image" />
                                                                </div>
                                                                <div ng-show="frmMusicCatalog.myImage.$invalid && (!frmMusicCatalog.myImage.$pristine || isSubmit1 )">
                                                                    <div class="text-danger">Catalog Image is required.</div>
                                                                </div>
                                                            </md-input-container>
                                                        </div>

                                                    </div>

                                                </div>


                                            </div>

                                        </div>

                                    </md-content>
                                    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
                                    </md-progress-circular>

                                 

                                    <div class="button-add">
                                        <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " ng-click="addMusicCatalog(frmMusicCatalog)" value="Edit">Update</md-button>
                                        <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " ng-click="addMusicCatalog(frmMusicCatalog)" value="Edit">Delete</md-button>
                                    </div>
                                    <!--<md-button class="md-raised md-primary loginColor sideN " ng-click="cancel()" value="Cancel">Cancel</md-button>-->
                                </md-dialog-content>
                            </md-dialog-container>
                        </form>
                    </md-dialog-content>
                </div>

            </div>
        </md-dialog-container>
    </md-dialog>
</div>