﻿<div role="tabpanel" ng-controller="editProfilepic" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegister" name="frmRegister" novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    <md-content class="contentClass" layout-gt-sm="row" layout-padding>

                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="upload-img-audio2">
                                    <md-input-container class="editContainer1">
                                        <div class="form-group file-area file-area1 file-width">
                                            <input type="file" ng-model="myImage" name="myImage" id="myImage" accept="image/png, image/jpeg, image/gif, image/svg" aria-label="imageName" onchange="angular.element(this).scope().imageUpload(event)" valid-file />
                                            <div class="file-dummy dummy-file-name">
                                                <div class="default">EDIT IMAGE</div>
                                            </div>
                                            <div ng-hide="myImage == ''" class="cropArea">
                                                <img-crop image="myImage" result-image="myCroppedImage" result-image-size="500"></img-crop>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" style="top: 90px;" md-diameter="80">
                                </md-progress-circular>
                                <md-button type="button" class="md-raised md-primary loginColor sideN contentBtn1 btni-profilepic" ng-click="editUserProfilepic()" ng-if="!iseditable">SUBMIT</md-button>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                    </md-content>
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>
</div>
<style>
    .dummy-file-name {
        margin-left: 56px;
        background-color: #ffebef;
    }

    .file-width {
        width: 251px;
    }

    .btni-profilepic {
        margin-left: 319px;
        margin-top: -400px;
        position: relative;
    }
</style>