﻿
<div role="tabpanel" ng-controller="editFeeds as vm" ng-cloak style="width: 1008px;">
    {{title}}
    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
    </md-progress-circular>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-container class="dialogContainer">
            <md-dialog-content layout-padding>
                <form role="form" name="formEditFeed" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12 col-md-offset-2">
                                    <h2 class="title">EDIT YOUR FEED HERE - POST WHAT YOUR NEEDS</h2>
                                </div>
                                <div class="col-md-12">
                                    <md-input-container class="form-control" flex-gt-sm>
                                        <label>Title</label>
                                        <input id="Title" name="Title" ng-model="postFeed.title" required /> <!--ng-model="postFeed.Title"  />-->
                                        <div ng-show="formEditFeed.Title.$invalid && (!formEditFeed.Title.$pristine || isSubmit )" ng-messages="formEditFeed.Title.$error">
                                            <div class="validations" ng-message="required">Title is required.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-md-12">
                                    <md-input-container class="form-control discriptions1" flex-gt-sm>
                                        <label>Description</label>
                                        <textarea id="Description" name="Description" ng-model="postFeed.description" md-select-on-focus md-maxlength="350" required></textarea> <!--ng-model="postFeed.Description"-->
                                        <!--<div ng-show="formEditFeed.Description.$invalid && (!formEditFeed.Description.$pristine || isSubmit )" ng-messages="formEditFeed.Description.$error">
                                            <div class="validations" ng-message="required">Description is required.</div>
                                        </div>-->

                                        <div ng-show="formEditFeed.Description.$error.required && formEditFeed.Description.$invalid && (!formEditFeed.Description.$pristine || isSubmit )">
                                            <div class="validations" ng-message="required">Description is required.</div>
                                        </div>
                                        <div ng-show="!formEditFeed.Description.$error.maxlength && formEditFeed.Description.$invalid && !formEditFeed.Description.$error.required && (!formEditFeed.Description.$pristine || isSubmit )">
                                            <div class="validations" ng-message="required">Description Exceeds limit.</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-10">
                                    <md-button type="button" class="md-raised md-primary PostBtns" ng-click="editpostFeed(formEditFeed)">POST</md-button>
                                </div>
                                <div class="col-md-12">
                                    <!--<div class="col-md-4 file-area file-area1 file-source">
                                        <input type="file" ng-model-instant name="imageName" accept="image/*" onchange="angular.element(this).scope().imageUpload(event)" />
                                        <div class="file-dummy">
                                            <div class="default">CHANGE IMAGE</div>
                                        </div>
                                        <img ng-show="postFeed.imageName != null" style="width: 152px;height: 103px;" id="blah" class="edit-file" ng-src="{{postFeed.imageLink}}" alt="image" />
                                        <div class="file-name-show" ng-model="postFeed.imageName">{{postFeed.imageName}}</div>
                                    </div>-->
                                    <div class="col-md-4 form-group file-area file-area1 file-source">
                                        <md-input-container>
                                            <input type="file" ng-model="myImage" name="myImage" id="myImage" accept="image/png, image/jpeg, image/gif, image/svg" aria-label="imageName" onchange="angular.element(this).scope().imageUpload(event)" valid-file />
                                            <div class="file-dummy" style="margin-top: -27px;">
                                                <div class="default">CHANGE IMAGE</div>
                                            </div>
                                            <div ng-hide="myImage == ''" class="cropAreahere">
                                                <img-crop image="myImage" result-image="myCroppedImage" class="crop-imgp" result-image-size="500"></img-crop>
                                            </div>
                                            <div ng-hide="myImage != ''">
                                                <img ng-show="postFeed.imageName != null" id="blah" class="edit-file bind-img" ng-src="{{postFeed.imageLink}}" alt="image" />
                                            </div>
                                            <div class="file-name-show" ng-model="postFeed.imageName">{{postFeed.imageName}}</div>
                                        </md-input-container>
                                    </div>

                                    <div class="col-md-4 file-area file-area1 file-source">
                                        <md-input-container>
                                            <input type="file" ng-model="postFeed.audioName" name="audioName" aria-label="audioName" accept="audio/*" onchange="angular.element(this).scope().audioUpload(event)" />
                                            <div class="file-dummy">
                                                <div class="default" style="margin-top: -22px;">CHANGE AUDIO</div>
                                            </div>
                                            <span class="edit-file edit-filee">Choose Here</span>
                                            <div class="file-name-show file-av-name" ng-model="postFeed.audioName">{{postFeed.audioName}}</div>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-4 file-area file-area1 file-source">
                                        <md-input-container>

                                            <input type="file" ng-model-instant name="videoName" aria-label="videoName" accept="video/*" onchange="angular.element(this).scope().videoupload(event)" />
                                            <div class="file-dummy">
                                                <div class="default" style="margin-top: -22px;">CHANGE VIDEO</div>
                                            </div>
                                            <span class="edit-file edit-filee">Choose Here</span>
                                            <div class="file-name-show file-av-name" ng-model="postFeed.videoName">{{postFeed.videoName}}</div>

                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </md-dialog-content>
        </md-dialog-container>
    </md-dialog>
</div>
<style>
    .file-source {
        height: 170px;
        width: 155px;
        margin-left: 50px;
    }

    .edit-file {
        border: 1px solid #d4d0d0;
        height: 100px;
        width: 155px;
        cursor: pointer;
    }

    .edit-filee {
        margin-left: 15px;
        text-align: center;
        padding: 1px 44px 78px 0px;
        background-color: #ecebeb;
    }

    .edit-file:hover {
        font-size: 14px;
    }

    .file-name-show {
        width: 120px;
        float: right;
        font-size: smaller;
        margin-left: 36px;
        margin-top: -18px;
    }

    .file-av-name {
        margin-left: 24px;
        margin-top: 79px;
    }

    .bind-img {
        width: 152px;
        height: 105px;
    }

    .crop-imgp {
        height: 150px;
        width: 152px;
        margin-top: -12px;
    }

    .cropAreahere {
        background: #E4E4E4;
        overflow: hidden;
        height: 150px;
        width: 152px;
        margin-top: -2px;
    }
</style>
