﻿
<div role="tabpanel" ng-controller="editProfile as vm" ng-cloak>
    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
    </md-progress-circular>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegister" class="edit-profile-form" name="frmRegister" ng-submit="editRegister(frmRegister.$valid)" novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>

                    <md-content class="contentClass" layout-gt-sm="row" layout-padding>
                        <!-- <div>
                            <div class="f-l-name">
                                <md-input-container class="editInputContainer">
                                    <label>First Name</label>
                                    <input id="txtFirstName" name="txtFirstName" ng-model="userProfile.firstName" required /> 
                                    <div ng-show="frmRegister.txtFirstName.$invalid && (!frmRegister.txtFirstName.$pristine || isSubmit )">
                                        <div class="text-danger">First Name is required.</div>

                                    </div>

                                </md-input-container>
                                <md-input-container class="editInputContainer">
                                    <label>Last Name</label>
                                    <input id="txtLastName" name="txtLastName" ng-model="userProfile.lastName" required />
                                    <div ng-show="frmRegister.txtLastName.$invalid && (!frmRegister.txtLastName.$pristine || isSubmit )">
                                        <div class="text-danger">Last Name is required.</div>
                                    </div>


                                </md-input-container>
                            </div>
                            <div class="country-profile">
                                <md-input-container class="editInputContainer">
                                    <label asp-for="Country">Country</label>
                                    <md-select asp-for="Country" ng-model="userProfile.country">
                                        <md-option><em>Select Country</em></md-option>
                                        <md-option ng-repeat="country in SelectCountryList" ng-value="country.name" selected="userProfile.country == country">
                                            {{country.name}}
                                        </md-option>
                                    </md-select>
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </md-input-container>


                                <md-input-container class="editContainer">
                                    <div class="form-group file-area file-area1">
                                        <input type="file" ng-model-instant name="myImage" accept="image/png, image/jpeg, image/gif, image/svg" onchange="angular.element(this).scope().imageUpload(event)" />
                                        <div class="file-dummy">
                                            <div class="default">CHANGE IMAGE</div>
                                        </div>
                                        <div class="FileNameDisp" ng-model="userProfile.imageFileName">{{userProfile.imageFileName}}</div>
                                        <img ng-show="userProfile.imageFileName != null" id="blah" src="#" alt="your image" />
                                        <img ng-show="userProfile.imageFileName == null" id="blah" ng-src="{{userProfile.profileLink}}" alt="your image" />
                                    </div>
                                </md-input-container>
                            </div>

                        </div>-->
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <md-input-container class="editInputContainer">
                                    <label>User Name</label>
                                    <input id="txtFirstName" name="txtFirstName" ng-model="userProfile.firstName" required />
                                    <div ng-show="frmRegister.txtFirstName.$invalid && (!frmRegister.txtFirstName.$pristine || isSubmit )">
                                        <div class="text-danger">User Name is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="editInputContainer">
                                    <label asp-for="Country">Country</label>
                                    <md-select asp-for="Country" ng-model="userProfile.country">
                                        <md-option><em>Select Country</em></md-option>
                                        <md-option ng-repeat="country in SelectCountryList" ng-value="country.name" selected="userProfile.country == country">
                                            {{country.name}}
                                        </md-option>
                                    </md-select>
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="editContainer">
                                    <div class="form-group file-area file-area1">
                                        <input type="file" ng-model-instant name="myImage" accept="image/png, image/jpeg, image/gif, image/svg" onchange="angular.element(this).scope().imageUpload(event)" />
                                        <div class="file-dummy">
                                            <div class="default">CHANGE IMAGE</div>
                                        </div>
                                        <div class="FileNameDisp" ng-model="userProfile.imageFileName">{{userProfile.imageFileName}}</div>
                                        <img ng-show="userProfile.imageFileName != null" id="blah" src="#" alt="your image" />
                                        <img ng-show="userProfile.imageFileName == null" id="blah" ng-src="{{userProfile.profileLink}}" alt="your image" />
                                    </div>
                                </md-input-container>
                            </div>
                        </div>

                    </md-content>

                    <div class="text-right">
                        <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " ng-click="editProfile(frmRegister)" value="Edit">Save</md-button>
                        <!--<md-button class="md-raised md-primary loginColor sideN " ng-click="cancel()" value="Cancel">Cancel</md-button>-->
                        <!--<input type="button" class="md-raised md-primary loginColor sideN" id="btnSave" name="btnSave" ng-click="editProfile(frmRegister)" value="Edit" />
                        <input type="button" class="md-raised md-primary loginColor sideN" id="btnCancel" name="btnCancel" ng-click="cancel()" value="Cancel" />-->
                    </div>

                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>

</div>