﻿<div role="tabpanel" ng-controller="editSocialMedia as vm" ng-cloak>
    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
    </md-progress-circular>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegisterMedia" class="edit-profile-form" name="frmRegisterMedia" ng-submit="editRegister(frmRegisterMedia.$valid)" novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    <md-content layout-padding>
                        <div class="row">
                            <div class="col-md-12 country-profile">
                                <md-input-container class="editInputContainer">
                                    <label asp-for="mediaType">Social Media Type</label>
                                    <md-select asp-for="mediaType" ng-model="SocialMedia.MediaName" ng-change="selectChanged()" ng-required='userProfile.MediaName'>
                                        <md-option><em>Select Social Media</em></md-option>
                                        <md-option ng-repeat="media in socialMediaNames" ng-value="media.name">
                                            {{media.name}}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="frmRegisterMedia.mediaType.$error.required && (!frmRegisterMedia.mediaLink.$pristine || isSubmit )" role="alert">
                                        <div ng-message="required">You must supply a value.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container class="editInputContainer">
                                    <label>Social Media Link</label>
                                    <input type="url" id="mediaLink" name="mediaLink" ng-model="SocialMedia.mediaLink" required />
                                    <div ng-show="frmRegisterMedia.mediaLink.$error.required && (!frmRegisterMedia.mediaLink.$pristine || isSubmit )">
                                        <div class="text-danger">required.</div>
                                    </div>
                                    <div ng-show="!frmRegisterMedia.mediaLink.$error.required && frmRegisterMedia.mediaLink.$error.url && (!frmRegisterMedia.mediaLink.$pristine || isSubmit )">
                                        <div class="text-danger">Invalid url!&nbsp;<span class="urlvdn">(eg:&nbsp;http://www.domainname.com)</span></div>
                                    </div>
                                </md-input-container>
                            </div><div class="col-md-12">
                                <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor btnposition " ng-click="editSocialMedia(frmRegisterMedia)" value="Edit">Save</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>
</div>
<style>
    .btnposition {
        margin-left: 350px;
        margin-top: -20px;
    }

    .dialogContainer {
        width: 550px !important;
        height: 255px !important;
    }

    .urlvdn {
        color: black;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>