﻿

<div role="tabpanel" ng-controller="editBiography as vm" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form id="frmRegister" name="frmRegister" ng-submit="editBiography(frmRegister.$valid)" novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    <md-content class="contentClass1 biography" layout-gt-sm="row" layout-padding>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <md-input-container class="md-block">
                                    <label>Description</label>
                                    <!--<input id="txtDescription" name="txtDescription" ng-model="UserBiography.userBiography" required />-->
                                    <textarea rows="5" id="txtDescription" name="txtDescription" ng-model="UserBiography.userBiography" md-select-on-focus required></textarea> <!--md-maxlength="250"-->
                                    <div ng-show="frmRegister.txtDescription.$error.required && frmRegister.txtDescription.$invalid && (!frmRegister.txtDescription.$pristine || isSubmit )">
                                        <div class="text-danger">Biography is required.</div>
                                    </div>
                                    <!--<div ng-show="!frmRegister.txtDescription.$error.maxlength && frmRegister.txtDescription.$invalid && !frmRegister.txtDescription.$error.required && (!frmRegister.txtDescription.$pristine || isSubmit )">
                                        <div class="text-danger">Biography Exceeds limit.</div>
                                    </div>-->
                                </md-input-container>
                            </div>

                            <div class="col-md-12">
                                <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
                                </md-progress-circular>
                            </div>
                            <div class="col-md-12 text-right">
                                <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " ng-click="editBiography(frmRegister)" value="Edit">Save</md-button>
                                <!--<md-button class="md-raised md-primary loginColor sideN " ng-click="cancel()" value="Cancel">Cancel</md-button>-->
                            </div>
                        </div>
                    </md-content>

                    <!--<div class="clearfix"></div>
                    <div class="clearfix"></div>-->
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>

</div>