﻿<div role="tabpanel" ng-controller="followedFeeds as vm" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <ul class="nav nav-tabs mytabs headmenu" role="tablist">
            <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->
            <li role="presentation"><a href="/mainpage">MYPROFILE</a></li>
            <li role="presentation" class="active"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
            <li role="presentation"><a href="/mainpage/customise">CUSTOM FEED</a></li>
            <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><!--<span class="msgnoti">8</span>--></li>
        </ul>
    </div>
    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
    </md-progress-circular>
    <div id="mainfeed_tab">
        <div class="row activeDiv">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div ng-if="totalActiveFeeds == 0">
                    <h2 class="title">FOLLOWED USERS<span class="totalact pull-right">NO FOLLOWED ACTIVE USERS</span></h2>
                </div>
                <div ng-if="totalActiveFeeds > 0">
                    <h2 class="title">FOLLOWED USERS<span class="totalact pull-right">TOTAL FOLLOWED ACTIVE USERS : {{totalActiveFeeds}}</span></h2>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-heading">
                        <tr>
                            <th>Followed Image</th>
                            <th>Followed User</th>
                            <!--<th>Following By</th>-->
                            <th>Following Date</th>
                        </tr>
                        <tr class="mymediaa" ng-repeat="feed in feedsListPartial track by $index">
                            <td>
                                <a href="{{feed.followingUserPUrl}}" target="_blank">
                                    <img ng-src="{{feed.followingUserPLink}}" class="img-responsive puserpic" alt=".." />
                                </a>
                            </td>
                            <td>
                                <a href="{{feed.followingUserPUrl}}" target="_blank">
                                    <span class="bittext1">
                                        {{feed.followingUser.replace('-',' ')}}
                                    </span>
                                </a>
                            </td>
                            <!--<td>
                                {{feed.createdBy.replace('-',' ')}}
                            </td>-->
                            <td>
                                {{feed.followDate}}
                            </td>
                        </tr>
                        <tr ng-if="feedsListPartial.length==0"><td colspan="4">records not found</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .closest-dropzone {
        background-color: #EDEDED;
        box-shadow: inset 0 0 2px #6F726F;
        border-style: solid;
        border-color: #A6B4AD;
        border-width: 1px;
        border-radius: 5px;
    }

        .closest-dropzone:hover {
            /*background-color: #DADFE3;*/
            background-color: rgb(226, 195, 195);
            box-shadow: inset 0 0 2px #1A1A1A;
            border-color: #8c0000;
        }

            .closest-dropzone:hover > span {
                color: #8c0000;
                text-shadow: 0 0 0px #1A1A1A;
            }

    .dropzone-upload {
        background-color: #78C6D3 !important;
        box-shadow: inset 0 0 2px #6F726D !important;
        border-color: #3598DC !important;
    }

        .dropzone-upload > span {
            text-shadow: 0 0 2px #1A1A1A !important;
        }

    .closest-dropzone > span {
        color: #A6B4AD;
        text-shadow: 0 0 0px #1A1A1A;
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        top: 33% !important;
    }

    .feed-scroll {
        overflow-x: hidden;
        overflow-y: auto;
        height: 630px;
        width: 100%;
        margin-left: 1px;
        margin-top: -16px;
    }

        .feed-scroll::-webkit-scrollbar {
            display: none;
        }

        .feed-scroll::-webkit-scrollbar {
            display: none;
        }

    .submitted-feed {
        width: 270px;
        height: 250px;
        margin: auto;
    }

    .my-media-block {
        min-height: 330px;
    }

    .table-heading th {
        text-align: center;
        background-color: #a5192a;
        color: white;
    }

    .puserpic {
        width: 60px;
        display: inline-block;
        height: 56px;
        border-radius: 4px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropzone').inputFileZone();
    });
</script>