﻿<div role="tabpanel" ng-controller="getSubmitedToFeed as vm" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <ul class="nav nav-tabs mytabs headmenu" role="tablist">
            <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->
            <li role="presentation"><a href="/mainpage">MYPROFILE</a></li>
            <li role="presentation" class="active"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
            <li role="presentation"><a href="/mainpage/customise">CUSTOM FEED</a></li>
            <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><!--<span class="msgnoti">8</span>--></li>
        </ul>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="col-md-12">
            <div class="col-md-12">
                <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1 md-spi-pos" md-diameter="80">
                </md-progress-circular>
            </div>
            <div ng-if="totalSubmitedToFeed > 0">
                <h2 class="title">SUMITTED TO FEED HISTORY<span class="totalact pull-right">TOTAL ACTIVE SUMITTED TO FEED : {{totalSubmitedToFeed}}</span></h2>
            </div>
            <div ng-if="totalSubmitedToFeed == 0">
                <h2 class="title">SUMITTED TO FEED HISTORY<span class="totalact pull-right">NO  ACTIVE SUMITTED TO FEED</span></h2>
            </div>
        </div>
    </div>
    <div id="mainfeed_tab">
        <div class="row activeDiv">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="mymediaa" ng-repeat="subfeed in SubmitedToFeed" infinite-scroll="loadMorePosts()" infinite-scroll-disabled="busy">
                    <div class="media">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 media-left">
                                    <a href="#">
                                        <img ng-if="subfeed.imageLink!=null" ng-src={{subfeed.imageLink}} class="media-object" alt="..">
                                        <img ng-if="subfeed.imageLink==null" src="~/img/_BlankProfile.jpg" class="media-object" alt="..">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="media-body">
                                        <div class="bitlogoview">
                                            <a href="{{subfeed.profileUrl}}" target="_blank">
                                                <span class="bitlogo" ng-if="subfeed.profilLink != Null">
                                                    <img ng-src="{{subfeed.profilLink}}" alt=".." class="img-responsive puserpic" />
                                                </span>
                                                <span class="bittext">
                                                    {{subfeed.firstname.replace('-',' ')}}
                                                </span>
                                            </a>
                                        </div>
                                        <h4 class="media-heading">{{subfeed.title}}</h4>
                                        <p>{{subfeed.description}}</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mcat-right">
                                    <!--<table class="table table-bordered table-hover">
                                        <tr>
                                            <th></th>
                                            <th>File Name</th>
                                            <th>File Type</th>
                                            <th>Submited By</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span ng-if="subfeed.fileType == 'image'"><img ng-if="subfeed.fileUrl !=null" ng-src={{subfeed.fileUrl}} class="media-object media-object-size" alt=".."></span>
                                                <span ng-if="subfeed.fileType == 'audio'"><span ng-if="subfeed.noAudioLink"><a href="#" ng-click="playMusic(subfeed.indexs)">LISTEN NOW</a></span></span>
                                                <span ng-if="subfeed.fileType == 'video'">
                                                    <video id="videofeed" onclick="playVideo()" controls preload="none" class="video-file">
                                                        <source ng-src="{{subfeed.fileUrl }}" type="video/mp4">
                                                        <source ng-src="{{subfeed.fileUrl }}" type="video/ogg">
                                                        "Your browser does not support."
                                                    </video>
                                                </span>
                                            </td>
                                            <td>
                                                <h4 class="media-heading" title="File Name">{{subfeed.fileName.replace('-',' ')}}</h4>
                                            </td>
                                            <td>
                                                <p title="File Type">{{subfeed.fileType}}</p>
                                            </td>
                                            <td>
                                                <p title="Submited From">{{subfeed.toUserName}}</p>
                                            </td>
                                        </tr>
                                    </table>-->
                                    <ul>
                                        <li ng-click="editViewSubmissions($event,subfeed.id,subfeed.toUserId,subfeed.title)"><a href="#">VIEW SUBMISSIONS</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <md-progress-circular ng-if="showSpinner1" ng-disabled="!activated1" class="md-accent md-hue-1" md-diameter="80">
                </md-progress-circular>
            </div>
        </div>
    </div>
</div>
<style>
    .media-left, .media-right, .media-body {
        display: table-cell;
        vertical-align: top;
        width: 13%;
    }

    .media, .media-body {
        overflow: hidden;
        zoom: 1;
    }

    .media-object {
        height: 110px;
        width: 150px;
    }

    h5 {
        font-weight: bold;
    }

    .media-object-size {
        height: 50px;
        width: 70px;
    }

    .bittext {
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 19px;
        font-weight: bold;
        color: #8c0000;
        margin-top: 4px;
    }

    .md-spi-pos {
        margin-left: 540px !important;
        margin-top: 37px !important;
    }

    .mcat-right {
        width: 36%;
    }

    .video-file {
        width: 145px;
        height: 107px;
    }
</style>