﻿
<style>
    .userdiv {
    }

    a.links {
        color: #a5192a;
        cursor: pointer;
    }
</style>
<div role="tabpanel" ng-controller="index" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <ul class="nav nav-tabs mytabs headmenu" role="tablist">
            <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->

            <li role="presentation" class="active"><a href="/mainpage">MYPROFILE</a></li>
            <li role="presentation"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
            <li role="presentation"><a href="/mainpage/customise">CUSTOM FEED</a></li>
            <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><!--<span class="msgnoti">8</span>--></li>
        </ul>
    </div>
    <section id="main_contain">
        <!-- start section  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!--<img src="../img/prf_img.png" class="img-responsive pr_img" alt=".." width="100%">-->
                    <img ng-src="{{userDetails.profileLink}}" class="img-responsive pr_img" alt=".." width="100%" style="position:absolute; height:750px;">
                    <!--user image-->
                    <div class="userdiv">
                        <h1 class="imageTEXT" style="margin-top: 25px;">
                            <b>{{userDetails.firstName.replace('-',' ')}}</b>
                        </h1>
                        <h2 class="imageTEXT" style="margin-top:-5px;" ng-if="userTags.mainTag != Null">#{{userTags.mainTag}}</h2>
                        <h3 class="imageTEXT" style="margin-top:-5px;"><span ng-if="userTags.tag1 != Null">{{userTags.tag1}}</span><span ng-if="userTags.tag2 != Null"><span ng-if="userTags.tag1 != Null">,  </span> {{userTags.tag2}}</span><span ng-if="userTags.tag3 != Null ">, {{userTags.tag3}}</span></h3>
                        <h4 class="imageTEXT">{{feedsList.length}} FEEDS / {{}} POSTS / {{}} SUBMISSIONS</h4>
                    </div>
                    <!--<div class="follow_feed">
                        <ul class="list-inline">
                            <li>follow <br> my feed &nbsp;</li>
                            <li class="rd_box"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="space10"></div>
                        <ul class="list-inline">
                            <li>message <br> me &nbsp;</li>
                            <li class="rd_box"><a href="#" class="cmnt"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>-->
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="edit_box" style="margin-top: -1px;">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseOne')" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="edit_click" ng-click="displayCatalogs()">VIEW </span>
                                            MUSIC CATALOG
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 red-panel-musiccatelog">
                                                <div ng-repeat="catalog in musicCatalogs">

                                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                                        <a href="#" class="music_img1" ng-click="editCatalog(catalog[0])">
                                                            <img ng-src={{catalog[0].imageLink}} width="100%" class="img-responsive" alt="..">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-6">
                                                    <form class="avatar">
                                                        <a href="#" class="music_img1">
                                                            <img src="../img/bn_18.png" width="100%" ng-click="addMusicCatalog($event)" class="img-responsive profile_img" alt="img">
                                                        </a>
                                                        <input type="file" name="avatar" />
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseTwo')" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="edit_click">VIEW </span>
                                            LATEST FEEDS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body" ng-repeat="feed in  feedsListLatest" ng-if="$index <=4">
                                        <!--<div class="sing_box">
                                            Seeking Singer for New Tr..
                                        </div>
                                        <div class="sing_box">
                                            New Project Need Beats...
                                        </div>-->
                                        <div class="sing_box" style="text-decoration:none;" ng-click="showFeed(feed)">
                                            {{feed.title}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseThree')" aria-expanded="false" aria-controls="collapseThree">
                                            <span class="edit_click">VIEW </span>
                                            BIOGRAPHY
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="sing_box red-panel-biography">
                                            <div>
                                                {{userBiography1}}
                                                <a href="#" ng-if="isMore" ng-click="showBiography(userBiography)" style="color: #fc0; padding-left: 10px;"> read more...</a>
                                            </div>

                                            <!--<hm-read-more hm-text="{{userBiography}}"
                                                          hm-limit="250"
                                                          hm-more-text="read more"
                                                          hm-less-text="read less"
                                                          hm-dots-class="dots"
                                                          hm-link-class="links">
                                            </hm-read-more>-->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFour')" aria-expanded="false" aria-controls="collapseFour">
                                            <span class="edit_click">VIEW </span>
                                            GALLERY
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <!--<div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    </div>-->
                                    <div class="panel-body">
                                        <div class="modal-body login-box clearfix">
                                            <ul id="media-list" class="clearfix red-panel-gallery">
                                                <li ng-repeat="gallery in getGallery  | limitTo : 20" class="myupload">
                                                    <md-progress-circular ng-if="showSpinner1" ng-disabled="!activated1" class="md-accent md-hue-1" style="display:inline;" md-diameter="80">
                                                    </md-progress-circular>
                                                    <div class="overlay">
                                                        <div class="text">
                                                            <!--{{gallery.fileName.slice(0,-4)}}-->
                                                        </div>
                                                    </div>
                                                    <img ng-src={{gallery.fileUrl}} class="img-responsive img-size" alt=".." />
                                                    <div class="post-thumb">
                                                        <div class="inner-post-thumb">
                                                            <a href="javascript:void(0);" data-id="assessment-center770x440.jpg" class="">
                                                                <span class="overlay text">
                                                                    <span href="javascript:void(0);" ng-click="showGallery($event,gallery)" data-id="assessment-center770x440.jpg" class="">
                                                                        <i class="fa fa-search" title={{gallery.fileName.slice(0,-4)}} aria-hidden="true"></i>
                                                                    </span>
                                                                    <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i><input type="file" accept="image/png, image/jpeg, image/gif, image/svg" data-gid="{{gallery.id}}" click-type="type2" id="editpicupload" class="editpicupload" title="" />
                                                                    <i class="fa fa-trash text" title="Delete" aria-hidden="true" ng-click="removeUserGallery(gallery.id,$event)"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="myupload" ng-if="getGallery.length <= 20">
                                                    <span><i class="fa fa-plus" aria-hidden="true"></i><input type="file" accept="image/*" click-type="type2" id="picupload" class="picupload"></span>   <!--multiple=""-->
                                                    <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1 loader" md-diameter="80">
                                                    </md-progress-circular>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFive')" aria-expanded="false" aria-controls="collapseFive">
                                            <span class="edit_click">VIEW </span>
                                            PORTFOLIO / LINK
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    </div>
                                </div>
                            </div>-->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSix')" aria-expanded="false" aria-controls="collapseSix">
                                            <span class="edit_click">VIEW </span>
                                            VIDEOS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <!--<iframe width="200" height="150" src="https://www.youtube.com/embed/XGSy3_Czz8k?controls=0"></iframe>
                                        <img src="http://img.youtube.com/vi/XGSy3_Czz8k/0.jpg" alt="Alternate Text" />
                                        <iframe width="200" height="150" src="//www.dailymotion.com/embed/video/xwr14q"></iframe>-->

                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 red-panel-musiccatelog">
                                                <div ng-repeat="videofeed in  feedsListLatest">

                                                    <div class="col-md-3 col-sm-4 col-xs-6" ng-if="videofeed.videoLink !=''">
                                                        <a href="#" class="music_img1" ng-click="showVideo(videofeed)">

                                                            <!--<img src="http://img.youtube.com/vi/XGSy3_Czz8k/0.jpg" alt="Alternate Text"  width="100%" class="img-responsive" />-->
                                                            <img ng-src="http://img.youtube.com/vi/{{videofeed.videoFileName}}/0.jpg" alt="Alternate Text" width="100%" class="img-responsive" />
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>




                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSeven')" aria-expanded="false" aria-controls="collapseSeven">
                                            <span class="edit_click">VIEW </span>
                                            PLAYLIST
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        You need a Landing Page, a Thank You Page and a way to pay per lead.
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSeven')" aria-expanded="false" aria-controls="collapseSeven">
                                            <span class="edit_click">EDIT </span>
                                            ENDORSEMENTS / TESTIMONIALS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        You need a Landing Page, a Thank You Page and a way to pay per lead.
                                    </div>
                                </div>
                            </div>-->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSeven1')" aria-expanded="false" aria-controls="collapseSeven1">
                                            <span class="edit_click">VIEW </span>
                                            SOCIAL MEDIA / LINKS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                                        <ul class="social_links" ng-repeat="links in getSocialMediaLinks">
                                            <!--<li ng-if="links.mediaName=='Flag' && links.mediaName != null"><a href=http://{{links.mediaLink}} target="_blank"><img src="../img/social-icon-flag.jpg" class="img-responsive" title={{links.mediaName}} alt="image"></a></li>-->
                                            <li ng-if="links.mediaName=='Facebook' && links.mediaName != null"><a href=http://{{links.mediaLink}} target="_blank"><img src="../img/social-icon-fb.jpg" class="img-responsive" title={{links.mediaName}} alt="image"></a></li>
                                            <li ng-if="links.mediaName=='Twitter' && links.mediaName != null"><a href=http://{{links.mediaLink}} target="_blank"><img src="../img/social-icon-twitter.jpg" class="img-responsive" title={{links.mediaName}} alt="image"></a></li>
                                            <li ng-if="links.mediaName=='Google+' && links.mediaName != null"><a href=http://{{links.mediaLink}} target="_blank"><img src="../img/social-icon-google-plus.jpg" class="img-responsive" title={{links.mediaName}} alt="image"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- panel-group -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    function togglecollapse($this) {
        $("#" + $this).toggle('slow', function () {
            $("#" + $this).toggleClass('in');
        });
    }
</script>
<link href="../../clientCSS/galleryImages.css" rel="stylesheet" />
<style>
    ul#media-list {
        list-style: none;
        padding: 0;
        margin: 0px 0px 0px -13px;
    }

    i.fa.fa-search:hover {
        background-color: gray;
        height: 70px;
        width: 70px;
        margin: 2px 1px 0px 0px;
        border-radius: 50%;
        padding: 10px 0px 0px 14px;
        position: absolute;
        font-size: 48px;
    }

    .red-panel-gallery {
        width: 660px;
        height: 211px;
        overflow-x: hidden;
        margin-bottom: -12px;
    }

    .red-panel-biography {
        height: 88px;
        width: 679px;
        overflow-x: hidden;
        margin-bottom: 0px;
    }

    .red-panel-musiccatelog {
        height: 240px;
        width: 653px;
        overflow-x: hidden;
    }

    /*.red-panel-gallery::-webkit-scrollbar {
        display: none;
    }

    .red-panel-biography::-webkit-scrollbar {
        display: none;
    }*/
</style>