﻿

<div class="col-md-12 col-sm-12 col-xs-12 text-right">
    <ul class="nav nav-tabs mytabs headmenu" role="tablist">
        <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->

        <li role="presentation" class="active"><a href="/mainpage">MYPROFILE</a></li>
        <li role="presentation"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
        <li role="presentation"><a href="/mainpage/customise">CUSTOM FEED</a></li>
        <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><!--<span class="msgnoti">8</span>--></li>
    </ul>

    <section id="logo_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logo_div">
                        <a href="#">
                            <img src="~/img/logo.png" class="img-responsive space10" alt="logo" ng-click="gohome()">
                            
                        </a>
                        <button data-toggle="offcanvas" data-target=".navmenu" data-canvas="#main_body" class="postbtn dbrd-h">DASHBOARD</button>
                    </div>
                
            </div>
        </div>
    </section>


    <section id="main_body">
        <section id="main_body">
            <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
                <div class="pro_pic textSizeImg">
                    <p>Member Since {{userDetails.registeredOn}}</p>
                    <img ng-src="{{userDetails.profileLink}}" ng-click="gotoProfile()" class="img-responsive center-block sidebarImg" width="180" style="cursor:pointer;" alt="logo">

                  
                    <div class="editpic">
                        <span>
                            <i class="fa fa-camera fa-2x userpcame" aria-hidden="true" ng-click="editProfilepic($event)"></i>
                        </span>
                        
                    </div>
                </div>

                <div class="details_12">
                    <h3 ng-click="gotoProfile()" style="cursor:pointer;">{{userDetails.firstName.replace('-',' ')}} {{userDetails.lastName}}</h3>
                    <p ng-if="userTags.mainTag != null">#{{userTags.mainTag}}</p>
                    <p><small ng-if="userTags.tag1 != Null">{{userTags.tag1}} </small> <small ng-if="userTags.tag2 != Null"><span ng-if="userTags.tag1 != Null">,</span> {{userTags.tag2}}</small><small ng-if="userTags.tag3 != Null"><span ng-if="userTags.tag2 != Null || userTags.tag1 != Null">,</span> {{userTags.tag3}}</small></p>
                </div>
                <ul class="feedview">
                    <li>TOTAL FEED VIEWS <span class="pull-right">{{userTags.totalFeedViews}}</span></li>
                   
                    <li>TOTAL LIKES<span class="pull-right">{{userTags.totalFeedUserLikes}}</span></li>
                  
                    <li>TOTAL TRACK PLAYS<span class="pull-right">100</span></li>
                </ul>
                <div id="letside_accordion">
                    <div class="edit_box">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseOne1')" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            MANAGE PROFILE 
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <ul class="list-unstyled editlist">
                                                          
                                                            <li ng-click="editBiography($event)"><a href="#">EDIT/ADD BIOGRAPHY</a></li>
                                                            <li ng-click="editProfile($event)"><a href="#">EDIT/ADD PROFILE </a></li>  @*PHOTO*@
                                                            <li ng-click="editGallery($event)"><a href="#">EDIT/ADD GALLERY</a></li>
                                                           
                                                            <li ng-click="editTags($event)"><a href="#">EDIT/ADD TOP TAG 10 TAGS</a></li>*@
                                                            <li ng-click="categories($event)"><a href="#">EDIT/ADD CATEGORIES</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseTwo2')" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            MANAGE FEEDS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="viewMyFeeds($event)"><a href="#">MY FEEDS</a></li>
                                                    <li ng-click="savedFeeds()"><a href="#">SAVED FEEDS</a></li>
                                                    <li ng-click="followedFeeds()"><a href="#">FOLLOWED USERS</a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseThree3')" aria-expanded="false" aria-controls="collapseThree">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i> </span>
                                            SEARCH SITE
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                          
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="searchByUser($event)"><a href="#">SEARCH ALL USERS</a></li>
                                                    <li ng-click="searchByFeed($event)"><a href="#">SEARCH ALL FEEDS</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFour4')" aria-expanded="false" aria-controls="collapseFour">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            SUBMISSION HISTORY
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="getsubtofeed($event)"><a href="#">SUBMISSIONS TO MY FEEDS</a></li>
                                                    <li ng-click="getsubfromfeed($event)"><a href="#">FEEDS I SUBMITTED TO</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFive5')" aria-expanded="false" aria-controls="collapseFive">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            ACCOUNT MANAGEMENT
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                
                                                    <li ng-click="editAccountInfo($event)"><a href="#">ACCOUNT INFO</a></li>
                                                    <li><a href="#">BILLING PROFILE</a></li>
                                                    <li ng-click="editSocialMedia($event)"><a href="#">LINK SOCIAL MEDIA</a></li>

                                                  

                                                    <li ng-click="editEmailNotifications($event)"><a href="#">MANAGE EMAIL NOTIFICATIONS</a></li>

                                                    <li><a href="/Home/Contactus">CONTACT US</a></li>
                                                    <li><a href="#">TERMS / CONDITIONS / PRIVACY</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive6" aria-expanded="false" aria-controls="collapseSix">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            ADMIN
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="trendingFeeds()"><a href="#">ADD/EDIT TRENDING FEED</a></li>
                                                    <li ng-click="featuredUsers()"><a href="#">ADD/EDIT FEATURED USERS</a></li>
                                                    @*
                                                    <li ng-click="editSocialMedia($event)"><a href="#">LINK SOCIAL MEDIA</a></li>*@

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            


                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </section>
</div>