﻿

<div role="tabpanel" ng-controller="messages as vm" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <ul class="nav nav-tabs mytabs headmenu" role="tablist">
            <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->
            <li role="presentation"><a href="/mainpage">MYPROFILE</a></li>
            <li role="presentation"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
            <li role="presentation"><a href="/mainpage/customise">CUSTOM FEED</a></li>
            <li role="presentation" class="active"><a href="/mainpage/messages">MESSAGES</a><span ng-if="totalmsgs!=0" class="msgnoti">{{totalmsgs}}</span></li>
        </ul>
    </div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2><br />
        </div>
    </md-toolbar>
    <form id="frmMessages" name="frmMessages">
        <!--<div class="col-md-12" style="margin-top: 10px;">
            <table class="table table-bordered table-striped table-hover custab">
                <tr>
                    <th class="col1">Message From</th>
                    <th class="col2">Description</th>
                    <th class="col1">Message To</th>
                    <th class="col1">Date</th>
                    <th></th>
                </tr>
                <tr ng-repeat="x in messages">
                    <td>{{ x.fromUserName }}</td>
                    <td>{{ x.subject }}</td>
                    <td>{{ x.toUserName }}</td>
                    <td>{{ x.messageDate | date : "dd.MM.yyyy" }}</td>
                    <td>
                        <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " value="Reply">Reply</md-button>
                        <md-button class="md-raised md-primary loginColor sideN " value="Delete">Delete</md-button>
                    </td>
                </tr>
                <tr ng-if="messages.length ==0"><td colspan="5" style="text-align:center" class="text-danger">No Messages</td></tr>
            </table>
        </div>-->

        <div class="col-md-12">
            <section class="full_screenbanner">
                <div class="main_section ">
                    <!--<div class="about-hdr">
                        <span class="trending-title">Subscription Payment Option</span>
                    </div>-->
                    <div class="container">
                        <div class="chat_container">
                            <div class="col-sm-3 chat_sidebar">
                                <div class="row">
                                    <!--<div id="custom-search-input">
                                       <div class="input-group col-md-12">
                                          <input type="text" class="  search-query form-control" placeholder="Conversation" />
                                          <button class="btn btn-danger" type="button">
                                          <span class="glyphicon glyphicon-search"></span>
                                          </button>
                                       </div>
                                    </div>-->
                                    <div class="dropdown all_conversation">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-weixin" aria-hidden="true"></i>
                                            Messaging
                                            <span class="caret pull-right"></span>
                                        </button>
                                        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <li>
                                                <a href="#"> All Conversation </a>  <ul class="sub_menu_ list-unstyled">
                                                    <li><a href="#"> All Conversation </a> </li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>-->
                                    </div>
                                    <div class="member_list">
                                        <ul class="list-unstyled">
                                            <li class="left clearfix" ng-repeat="msgUser in usersMsgList" ng-click="userMsgs(msgUser.id,msgUser.messageFrom)">
                                                <span class="chat-img pull-left">
                                                    <img src={{msgUser.userImage}} alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header_sec">
                                                        <strong class="primary-font">{{msgUser.messageFrom}}</strong> <strong class="pull-right">
                                                            {{msgUser.messageDate}}
                                                        </strong>
                                                    </div>
                                                    <div class="contact_sec">
                                                        <strong class="primary-font">{{msgUser.subject}}</strong> <span ng-if="msgUser.rmsgCount!='0'" class="badge pull-right">{{msgUser.rmsgCount}}</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--chat_sidebar-->
                            <div class="col-sm-9 message_section">
                                <div class="row">
                                    <div class="new_message_head">
                                        <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div><div class="pull-right">
                                            <!--<div class="dropdown">
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Profile</a></li>
                                                    <li><a href="#">Logout</a></li>
                                                </ul>
                                            </div>-->
                                        </div>
                                    </div><!--new_message_head-->

                                    <div class="chat_area unselectable" id="chat_area">
                                        <ul class="list-unstyled">
                                            <li class={{usersMsgs.chatclass}} ng-repeat="usersMsgs in usersTotalMsgs">
                                                <span class="chat-img1 {{usersMsgs.pullclass}}">
                                                    <img src={{usersMsgs.userImage}} alt={{usersMsgs.messageFrom}} title={{usersMsgs.messageFrom}} class="img-circle">
                                                </span>
                                                <div class="chat-body1 clearfix">
                                                    <p>{{usersMsgs.subject}}</p>
                                                    <div class="chat_time {{usersMsgs.dateclass}}">{{usersMsgs.messageDate}}</div>
                                                    <!--<div ng-if="usersMsgs.fromUserId!=currentUser" class="rpl-del-btn">-->
                                                    <div ng-if="usersMsgs.pullclass!='pull-left'" class="rpl-del-btn">
                                                        <button class="del-btn" data-toggle="tooltip" ng-click="deleteMsg(usersMsgs.id)" title="Delete">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li ng-if="usersTotalMsgs.length==0" class="left clearfix">
                                                <div class="chat-body1 clearfix">
                                                    <p style="text-align:left;" ng-if="currentUserName!=''">No Messages from {{currentUserName}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><!--chat_area-->
                                    <div class="message_write">
                                        <form role="form" name="sendmsg" novalidate>
                                            <textarea id="postMsg" name="postMsg" class="form-control" placeholder="type a message" ng-model="postMsg" required></textarea>
                                            <div ng-show="sendmsg.postMsg.$invalid && (!sendmsg.postMsg.$pristine || isSubmit )" ng-messages="sendmsg.postMsg.$error">
                                                <div class="text-danger"> required.</div>
                                            </div>                            
                                            <div class="clearfix"></div>
                                            <div class="chat_bottom">
                                                <!--<a href="#" class="pull-left upload_btn">
                                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                                    Add Files
                                                </a>-->
                                                <a ng-click="sendmsg(sendmsg)" class="pull-right md-raised md-primary loginColor sideN  md-button md-ink-ripple"> Send</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> <!--message_section-->
                        </div>
                    </div>
                </div>

            </section>
        </div>

    </form>
</div>

<link href="../../assets/css/styles-1.css" rel="stylesheet" />
<style>
    .about-hdr .trending-title {
        font-size: 30px;
    }

    .about-hdr .trending-title {
        position: relative;
        font-family: "Century Gothic", Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: rgb(140, 0, 0);
        display: inline-block;
        text-transform: uppercase;
        padding: 0px 15%;
    }

    /*.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

</style>
<script type="text/javascript">
    $(function () { 
        $("#postMsg").focus(function () {
            $("#postMsg").css("border", "1px solid #85d9ec");
        });
        $("#postMsg").blur(function () {
            $("#postMsg").css("border", "");
        });
    });
</script>
