﻿<div class="col-md-12 col-sm-12 col-xs-12 text-right">
    <ul class="nav nav-tabs mytabs headmenu" role="tablist">
        <!--<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>-->

        <li role="presentation"><a href="/mainpage">MYPROFILE</a></li>
        <li role="presentation"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
        <li role="presentation"><a href="/mainpage/customise">CUSTOM FEED</a></li>
        <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><span class="msgnoti">8</span></li>
    </ul>
</div>
<div role="tabpanel" ng-controller="musicList" ng-cloak>
    {{title}}
</div>