﻿<style>
    .md-dailog-block .dialogContainer {
        width: 830px !important;
    }
</style>
<div role="tabpanel" ng-controller="musicCatalogList as vm" ng-cloak class="md-dailog-block">
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-container class="dialogContainer">
            <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
            </md-progress-circular>
            <div class="row form-group" style="width: 734px;">
                <div class="col-md-12">
                    <md-dialog-content layout-padding class="dis-block">
                        <form id="frmMusicCatalogEdit" name="frmMusicCatalogEdit" class="formClass" novalidate>
                            <div class="media-heading-block">
                                <!--class="heading-music"-->
                                <h4 class="media-heading">
                                    <b ng-if="!iseditable">{{userMusicCatalog.catalogName}}</b>
                                    <input ng-if="iseditable" id="txtCatalogName" name="txtCatalogName" ng-model="userMusicCatalog.newCatalogName" required />
                                    <md-button class="md-raised md-primary loginColor sideN contentBtn1" ng-click="changeUpdate()" value="Edit" ng-if="!iseditable">Edit</md-button>
                                    <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN contentBtn1" ng-click="editCatalog(frmMusicCatalogEdit)" value="update" ng-if="iseditable">Update</md-button>
                                </h4>
                            </div>
                            <md-content class="contentClass added-music-block" layout-gt-sm="row" layout-padding>
                                <div class="form-group file-area file-area1">
                                    <input type="file" ng-model="myImage" name="myImage" id="myImage" accept="image/png, image/jpeg, image/gif, image/svg"
                                           aria-label="imageName" onchange="angular.element(this).scope().imageUpload(event)" />
                                    <div class="file-dummy">
                                        <div class="default">
                                            <img ng-if="userMusicCatalog.imageName1 == null" ng-src={{userMusicCatalog.imageLink}} class="media-object1" alt="image" width="180">
                                            <img src="../../img/upload-icon.png" alt="edit image" title="edit image" class="upload-photo1" />
                                        </div>
                                    </div>
                                    <img ng-if="userMusicCatalog.imageName1 != null" id="blah" src="#" alt="your image" />
                                </div>
                                <div ng-show="frmMusicCatalogEdit.myImage.$invalid && (!frmMusicCatalogEdit.myImage.$pristine || isSubmit1 )">
                                    <div class="text-danger">Catalog Image is required.</div>
                                </div>
                                <table class="table-responsive table-bordered table-striped tableClass added-music">
                                    <thead>
                                        <tr>
                                            <th>Song Name</th>
                                            <th>Add to Palyer</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="catalog in userMusicCatalogList">
                                            <td>{{catalog.songName}}</td>
                                            <td>
                                                <!--{{catalog.songLink}}-->
                                                <a href="#" ng-if="catalog.noAudioLink">
                                                    <img id="{{catalog.playBtnImg}}" src="../img/bh_img_12.png" class="img-responsive playBtnImg" alt="image" title="Add Play List" ng-click="AddToPlayerList(catalog.catalogId,catalog.songLink,catalog.songName)">
                                                </a>
                                            </td>
                                            <td><md-button class="md-raised md-primary loginColor sideN " ng-click="deletSong(catalog, $index)">Delete</md-button></td>
                                        </tr>

                                    </tbody>
                                </table>
                        </form>
                    </md-dialog-content>
                </div>
                <div class="col-md-12">
                    <form id="frmAddMusicCatalog" name="frmAddMusicCatalog" class="formClass" ng-submit="addMusicToCatalog(frmAddMusicCatalog.$valid)" novalidate>
                        <md-dialog-container class="dialogContainer">
                            <md-dialog-content layout-padding>
                                <md-content class="contentClass1 full-container-block" layout-gt-sm="row" layout-padding>
                                    <md-input-container class="editContainer11 full-container">
                                        <p class="title-block">Add New Song</p>

                                        <div class="form-group file-area file-area11">
                                            <input type="file" ng-model="myAudio" name="myAudio" id="myAudio" aria-label="audioName" accept="audio/*" onchange="angular.element(this).scope().audioUpload(event)" valid-file ng-required="true" />
                                            <div class="file-dummy">
                                                <div class="default">UPLOAD AUDIO</div>
                                            </div>
                                            <div class="FileNameDisp1" ng-model="userMusicCatalog.songName1">{{userMusicCatalog.songName1}}</div>
                                        </div>
                                        <div ng-show="frmAddMusicCatalog.myAudio.$invalid && (!frmAddMusicCatalog.myAudio.$pristine || isSubmit )">
                                            <div class="text-danger">Catalog Audio is required.</div>
                                        </div>
                                    </md-input-container>

                                    <div class="col-md-6">
                                        <div id="muicerror" ng-if="IsmusictagError" class="text-danger">{{musictagErrorMessage}}</div>
                                        <md-input-container class="inputContainer1">
                                            <label>Music Tag 1</label>
                                            <md-select id="Tag1" name="Tag1" ng-model="userMusicCatalog.musicTag1">
                                                <md-option ng-value="Null"><em>NONE</em> </md-option>
                                                <md-option ng-repeat="tag in musicTagsList" ng-value="tag.value">
                                                    {{tag.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6">
                                        <md-input-container class="inputContainer1">
                                            <label>Music Tag 2</label>
                                            <md-select id="Tag2" name="Tag2" ng-model="userMusicCatalog.musicTag2">
                                                <md-option ng-value="Null"><em>NONE</em> </md-option>
                                                <md-option ng-repeat="tag in musicTagsList" ng-value="tag.value">
                                                    {{tag.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6">
                                        <md-input-container class="inputContainer1">
                                            <label>Music Tag 3</label>
                                            <md-select id="Tag3" name="Tag3" ng-model="userMusicCatalog.musicTag3">
                                                <md-option ng-value="Null"><em>NONE</em> </md-option>
                                                <md-option ng-repeat="tag in musicTagsList" ng-value="tag.value">
                                                    {{tag.text}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div class="col-md-6">
                                        <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN contentBtn" ng-click="addMusicToCatalog(frmAddMusicCatalog)">Add Song</md-button>
                                    </div>
                                </md-content>
                            </md-dialog-content>
                        </md-dialog-container>

                    </form>
                </div>
            </div>
        </md-dialog-container>
    </md-dialog>
</div>