﻿
<div role="tabpanel" ng-controller="searchGallery as vm" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <form id="frmRegister" name="frmRegister" novalidate>
            <md-dialog-container class="dialog-class">
                <div class="row form-group">
                    <div class="col-md-12">
                        <md-button class="md-icon-button-close" ng-click="cancel()">
                            <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li>
                                <img ng-src={{getGallery.fileUrl}} class="image-show" title="{{getGallery.fileName.slice(0,-4)}}" alt=".." />
                            </li>
                        </ul>
                    </div>
                </div>
            </md-dialog-container>
        </form>
    </md-dialog>
</div>
<style>
    /*.dialog-class {
        width: 360px;
        height: 460px;
    }*/

    
    /*.image-show {
        height: 387px;
        width: 302px;
        padding: 24px 3px 0px 8px;
    }*/
    .dialog-class {
        width: 460px;
        height: 460px;
    }

    .image-show {
        height: 402px;
        width: 382px;
        padding: 5px 3px 0px 11px;
    }

    .md-icon-button-close {
        background: black;
        margin: 6px 0px 0px 326px;
        height: 40px;
        min-width: 0;
        line-height: 24px;
        padding: 8px;
        width: 40px;
        border-radius: 50%;
    }

    button.md-icon-button-close.md-button.md-ink-ripple:hover {
        background-color: #a5192a;
    }
</style>
