﻿
<div role="tabpanel" ng-controller="showSubmitedFromUserFeed as vm" ng-cloak class="md-dailog-block">
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-container class="dialogContainer" style="width:800px;height:537px;">
            <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
            </md-progress-circular>
            <md-dialog-content layout-padding class="dis-block">
                <form id="frmMusicCatalogEdit" name="frmMusicCatalogEdit" class="formClass" novalidate>
                    <div class="media-heading-block">
                        <div class="trackinfo">
                            <h5 class="ng-binding">{{feedTitle}}</h5>
                        </div>
                    </div>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Music">
                                <md-content class="md-padding">
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="MUSIC CATALOG">
                                            <md-content class="md-padding contentClass added-music-block" style="height: 393px;width: 784px;" layout-gt-sm="row" layout-padding>
                                                <table class="table table-bordered table-responsive table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Audio  Play</th>
                                                            <th>Song Name</th>
                                                            <th>Sumited By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="catalog in musicCatelogs">
                                                            <td>
                                                                <span ng-if="catalog.noAudioLink"><a href="#" ng-click="playMusic($index)">LISTEN NOW</a></span>
                                                            </td>
                                                            <td>
                                                                {{catalog.fileName}}
                                                            </td>
                                                            <td>
                                                                <a href={{catalog.profileUrl}} alt="{{catalog.firstname.replace('-',' ')}}" target="_blank">{{catalog.firstname.replace('-',' ')}}</a>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="musicCatelogs.length==0"><td colspan="3">Records not found</td></tr>
                                                    </tbody>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                            <md-tab label="Image">
                                <md-content class="md-padding">
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="Gallery">
                                            <md-content class="md-padding contentClass added-music-block" style="height: 393px;width: 784px;" layout-gt-sm="row" layout-padding>
                                                <table class="table table-bordered table-responsive table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Gallery Image</th>
                                                            <th>Image Name</th>
                                                            <th>User Name</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="gallery in imageGallery">
                                                            <td>
                                                                <img ng-if="gallery.fileUrl!=null" ng-src="{{gallery.fileUrl}}" style="height: 60px;width: 90px;" alt=".." />
                                                            </td>
                                                            <td>
                                                                {{gallery.fileName.replace('-',' ')}}
                                                            </td>
                                                            <td>
                                                                <a href={{gallery.profileUrl}} alt="{{gallery.firstname.replace('-',' ')}}" target="_blank">{{gallery.firstname.replace('-',' ')}}</a>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="imageGallery.length==0"><td colspan="4">Records not found</td></tr>
                                                    </tbody>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                            <md-tab label="Video">
                                <md-content class="md-padding">
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="Videos">
                                            <md-content class="md-padding contentClass added-music-block" style="height: 393px;width: 784px;" layout-gt-sm="row" layout-padding>
                                                <table class="table table-bordered table-responsive table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Video</th>
                                                            <th>Video Name</th>
                                                            <th>Submited By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="video in getVideos">
                                                            <td style="width: 260px;">
                                                                <div ng-if="video.fileUrl != ''" class="text-left">
                                                                    <video id="videofeed" onclick="playVideo()" controls preload="none">
                                                                        <source ng-src="{{video.fileUrl }}" type="video/mp4">
                                                                        <source ng-src="{{video.fileUrl }}" type="video/ogg">
                                                                        "Your browser does not support."
                                                                    </video>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{video.fileName}}
                                                            </td>
                                                            <td>
                                                                <a href={{video.profileUrl}} alt="{{video.firstname.replace('-',' ')}}" target="_blank">{{video.firstname.replace('-',' ')}}</a>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="getVideos.length==0"><td colspan="3">Records not found</td></tr>
                                                    </tbody>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </form>
            </md-dialog-content>
        </md-dialog-container>
    </md-dialog>
</div>
<style>
    .cat-sub-pos {
        padding: 0px;
    }

    .cat-sub-contnt {
        display: block;
        padding: 0px 0px 0px 8px;
    }

    .trackinfo h5 {
        font-size: 18px;
        font-weight: bold;
        color: #8c0000;
        display: block;
        padding-bottom: 5px;
    }
</style>
