﻿
<div role="tabpanel" ng-controller="showFeedDetails as vm" ng-cloak class="md-dailog-block">
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-container class="dialogContainer">
            <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
            </md-progress-circular>
            <div class="row form-group" style="width:947px;">
                <div class="col-md-12">
                    <md-dialog-content layout-padding class="dis-block">
                        <div class="row feed-scroll">
                            <div class="mymediaa">
                                <!--<div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="my-media-block">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img ng-if='feedDetails.imageLink != ""' ng-src="{{feedDetails.imageLink}}" class="media-object" alt="image">
                                                        <img ng-if='feedDetails.imageLink == ""' src="/img/_BlankProfile.jpg" class="media-object" alt="image">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <a href="{{feedDetails.userProfileUrl}}" target="_blank">
                                                        <img ng-src="{{feedDetails.userProfile}}" class="img-responsive puserpic" alt=".." />
                                                        <span class="bittext1">
                                                            {{feedDetails.createdUserName}}
                                                        </span>
                                                    </a>
                                                    <h4 class="media-heading">{{feedDetails.title}}</h4>
                                                    <p>{{feedDetails.description}}</p>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>-->

                                <div class="row">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <div class="my-media-block">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <!--<img class="media-object" src="../img/bn_07.png" alt="...">-->
                                                        <img ng-if='feedDetails.imageLink != ""' ng-src="{{feedDetails.imageLink}}" class="media-object" alt="image">
                                                        <img ng-if='feedDetails.imageLink == ""' src="/img/_BlankProfile.jpg" class="media-object" alt="image">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <a href="{{feedDetails.userProfileUrl}}" target="_blank">
                                                        <img ng-src="{{feedDetails.userProfile}}" class="img-responsive puserpic" alt=".." />
                                                        <span class="bittext1">
                                                            {{feedDetails.createdUserName}}
                                                        </span>
                                                    </a>
                                                    <h4 class="media-heading">{{feedDetails.title}}</h4>
                                                    <p>{{feedDetails.description}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-4 col-xs-12 text-left">
                                                    <ul class="follow_links">
                                                        <li ng-if="feedDetails.isFollow >= 1"><a href="#" ng-click="followFeed(feedDetails)">FOLLOWING</a></li>
                                                        <li ng-if="feedDetails.isFollow == 0"><a href="#" ng-click="followFeed(feedDetails)">FOLLOW ME</a></li>
                                                        <li ng-if="feedDetails.saveFeedStatus == 0"><a href="#" ng-click="savedFeed(feedDetails)">SAVE FEED</a></li>
                                                        <li ng-if="feedDetails.saveFeedStatus == 1"><a href="#" ng-click="savedFeed(feedDetails)">SAVED FEED</a></li>
                                                        <li ng-if="feedDetails.noAudioLink"><a href="#" ng-click="playMusic($index)">LISTEN NOW</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <ul class="comment_links">
                                                        <li><a href="#" ng-click="displayComments(feedDetails.id,$index)">VIEW COMMENTS</a></li>
                                                        <li><a href="#" ng-click="feedLinks(feedDetails.id,$index,'Message',feedDetails.createdBy)">MESSAGE</a></li>
                                                        <li>
                                                            <a href="#" style="cursor:pointer; z-index:9990;" ng-click="feedLinks(feedDetails.id,$index,'Like Feed',feed.userId)">LIKE FEED</a>
                                                            <span ng-show="feedDetails.isLikes==1">You Liked,</span>
                                                            <span ng-show="feedDetails.likeCount>0">Total {{feedDetails.likeCount}} likes</span>
                                                        </li>
                                                    </ul>
                                                    <br />
                                                    <form id="frmComment" name="frmComment" novalidate>
                                                        <input type="hidden" id="hdnFeedId" name="hdnFeedId" ng-model="feed.id" />
                                                        <md-input-container class="form-control" flex-gt-sm>
                                                            <label class="text-left">Comment</label>
                                                            <textarea class="form-control" name="Comment" id="Comment" ng-model="feedDetails.comment" required></textarea>
                                                            <div ng-show="(frmComment.Comment.$invalid && frmComment.Comment.$touched && (!frmComment.Comment.$pristine || isCommentSubmit ))" ng-messages="frmComment.Comment.$error">
                                                                <div class="validations text-left" ng-message="required">Comment is required.</div>
                                                            </div>
                                                        </md-input-container>
                                                        <button type="button" class="postbtn pull-right" ng-click="SaveComment(frmComment)">POST COMMENT</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12 ">
                                        <div class="submitted-feed">
                                            <input type="button" ng-click="feedLinks(feedDetails.id,feedDetails.title,'submitTofeed',feedDetails.userId)" class="dropzone" />
                                            <ul class="social_links">
                                                <!--<li ng-if="getSocialMediaLinks[1].mediaName=='Flag'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[1].mediaLink,$index,'media','flag')"><img src="../img/social-icon-flag.jpg" class="img-responsive" title={{getSocialMediaLinks[1].mediaName}} alt="image"></a></li>-->
                                                <li ng-if="getSocialMediaLinks[0].mediaName=='Facebook'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[0].mediaLink,$index,'media','facebook')"><img src="../img/social-icon-fb.jpg" class="img-responsive" title={{getSocialMediaLinks[0].mediaName}} alt="image"></a></li>
                                                <li ng-if="getSocialMediaLinks[3].mediaName=='Twitter'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[3].mediaLink,$index,'media','twitter')"><img src="../img/social-icon-twitter.jpg" class="img-responsive" title={{getSocialMediaLinks[3].mediaName}} alt="image"></a></li>
                                                <li ng-if="getSocialMediaLinks[2].mediaName=='Google+'"><a href=javascript:void(0); ng-click="feedLinks(getSocialMediaLinks[2].mediaLink,$index,'media','google+')"><img src="../img/social-icon-google-plus.jpg" class="img-responsive" title={{getSocialMediaLinks[2].mediaName}} alt="image"></a></li>
                                            </ul>
                                            <span style="width: 100%;display: block; text-align: right;"><small style="padding-left: 136px;">DAYS:HRS</small></span>
                                            <h4 style="font-size: 17px;margin-top: 2px;margin-bottom: 2px; text-align: right;">FEED EXPIRES IN:: {{feedDetails.feedExpireIN}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                </div>

            </div>
        </md-dialog-container>
    </md-dialog>
</div>
<style>
    .closest-dropzone {
        background-color: #EDEDED;
        box-shadow: inset 0 0 2px #6F726F;
        border-style: solid;
        border-color: #A6B4AD;
        border-width: 1px;
        border-radius: 5px;
    }

        .closest-dropzone:hover {
            /*background-color: #DADFE3;*/
            background-color: rgb(226, 195, 195);
            box-shadow: inset 0 0 2px #1A1A1A;
            border-color: #8c0000;
        }

            .closest-dropzone:hover > span {
                color: #8c0000;
                text-shadow: 0 0 0px #1A1A1A;
            }

    .dropzone-upload {
        background-color: #78C6D3 !important;
        box-shadow: inset 0 0 2px #6F726D !important;
        border-color: #3598DC !important;
    }

        .dropzone-upload > span {
            text-shadow: 0 0 2px #1A1A1A !important;
        }

    .closest-dropzone > span {
        color: #A6B4AD;
        text-shadow: 0 0 0px #1A1A1A;
        font-size: 30px;
        font-weight: bold;
        line-height: 36px;
        top: 33% !important;
    }

    .feed-scroll {
        overflow-y: hidden;
        height: 283px;
        width: 100%;
        margin-left: 1px;
    }

    .submitted-feed {
        width: 220px;
        height: 181px;
        margin: auto;
    }

    .my-media-block {
        min-height: auto;
    }

    .bittext1-pos {
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 8px;
        font-weight: bold;
        color: #8c0000;
        margin-top: 0px;
    }

    .bittext1-pos1 {
        margin: -14px 0px -14px 4px;
    }

    .up-ld-btns {
        margin-top: 10px;
    }

    .media-object {
        height: 90px;
        width: 120px;
    }

    .mymediaa {
        background-color: #fff;
        padding: 2px 33px 10px 0px;
        box-shadow: 0 2px 5px 1px #ddd;
        margin-top: 0px;
        border: 1px solid #a51a2b;
        border-radius: 2px;
    }

    .media p {
        font-size: 11px;
        color: #000;
    }

    .media-body a img.puserpic {
        width: 50px;
        display: inline-block;
        height: 48px;
        border-radius: 4px;
    }

    .comment_links li a {
        display: inline-block;
        font-size: 10px;
        color: #000;
        font-weight: 700;
        border-right: 1px solid #000;
        padding: 0 5px;
    }

    .md-dailog-block .dialogContainer {
        width: 1100px !important;
    }

    .postbtn {
        margin-bottom: 10px;
    }

    .follow_links li a {
        display: block;
        font-size: 10px;
        color: #000;
        padding: 5px 0;
        font-weight: 700;
    }


</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropzone').inputFileZone();
    });
</script>