﻿





<div role="tabpanel" ng-controller="showVideo" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-container class="dialogContainer">
            <md-dialog-content layout-padding>
                <md-content class="contentClass1" layout-gt-sm="row" layout-padding>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <!--<iframe width="400px" height="150px" ng-src="https://www.youtube.com/embed/hS5CfP8n_js "></iframe>
                            <span>{{videoSrc}}</span>
                            <iframe width="400px" height="150px" src="{{videoSrc}}"></iframe>-->
                            <span>{{videoSrc}}</span>
                            <iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{trustSrc(videoSrc)}}" allowfullscreen frameborder="0"></iframe>

                        </div>
                    </div>
                </md-content>


            </md-dialog-content>
        </md-dialog-container>

    </md-dialog>

</div>