﻿<div role="tabpanel" ng-controller="index" ng-cloak>
    <section id="main_contain">
        <!-- start section  -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6" style="margin-top:21px;">
                    <div style="height: 528px;">
                        <img ng-src="{{userDetails.profileLink}}" class="img-responsive pr_img" alt=".." width="100%" style="position:absolute; height:750px;">
                    </div>
                    <div class="userdiv" style="top: 22px;">
                        <h1 class="imageTEXT" style="margin-top: 25px;">
                            <b>{{userDetails.firstName.replace('-',' ')}} {{userDetails.lastName}}</b>
                        </h1>
                        <h2 class="imageTEXT" style="margin-top:-5px;" ng-if="userTags.mainTag != Null">#{{userTags.mainTag}}</h2>
                        <h3 class="imageTEXT" style="margin-top:-5px;"><span ng-if="userTags.tag1 != Null">{{userTags.tag1}}</span><span ng-if="userTags.tag2 != Null"><span ng-if="userTags.tag1 != Null">,  </span> {{userTags.tag2}}</span><span ng-if="userTags.tag3 != Null ">, {{userTags.tag3}}</span></h3>
                        <h4 class="imageTEXT">{{feedsList.length}} FEEDS / {{}} POSTS / {{}} SUBMISSIONS</h4>
                    </div>
                    <!--<div class="follow_feed">
                        <ul class="list-inline">
                            <li>follow <br> my feed &nbsp;</li>
                            <li class="rd_box"><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="space10"></div>
                        <ul class="list-inline">
                            <li>message <br> me &nbsp;</li>
                            <li class="rd_box"><a href="#" class="cmnt"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>-->
                    <div ng-if="userStatus.loginUser!=userStatus.profileUser" class="follow_feed">
                        <ul class="list-inline">
                            <li ng-if="userStatus.followStatus==false" class="bittext1-pos">follow me</li>
                            <li ng-if="userStatus.followStatus==true" class="bittext1-pos">following</li>
                            <li class="rd_box"><a href="#" ng-click="usermsgfollow(userDetails.id,userStatus.loginUser,'Follow',$event)"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        </ul>
                        <div class="space10"></div>
                        <ul class="list-inline">
                            <li class="bittext1-pos">message me</li>
                            <li class="rd_box"><a href="#" ng-click="usermsgfollow(userDetails.id,userStatus.loginUser,'Message',$event)" class="cmnt"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="edit_box">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseOne')" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="edit_click">EDIT </span>
                                            MUSIC CATALOG
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 red-panel-musiccatelog">
                                                <div ng-repeat="catalog in musicCatalogs">
                                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                                        <a ng-if="userStatus.loginUser==userStatus.profileUser" href="#" class="music_img1" ng-click="editCatalog(catalog[0])">
                                                            <img ng-src={{catalog[0].imageLink}} width="100%" class="img-responsive" alt="..">
                                                        </a>

                                                        <a ng-if="userStatus.loginUser!=userStatus.profileUser" href="#" class="music_img1">
                                                            <img ng-src={{catalog[0].imageLink}} width="100%" class="img-responsive" alt="..">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseTwo')" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="edit_click">EDIT </span>
                                            LATEST FEEDS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body" ng-repeat="feed in  feedsListLatest | limitTo : 7">
                                        <!--<div class="sing_box">
                                            Seeking Singer for New Tr..
                                        </div>
                                        <div class="sing_box">
                                            New Project Need Beats...
                                        </div>-->
                                        <div class="sing_box" style="text-decoration:none;" ng-click="showFeed(feed)">
                                            {{feed.title}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseThree')" aria-expanded="false" aria-controls="collapseThree">
                                            <span class="edit_click">EDIT </span>
                                            BIOGRAPHY
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="sing_box red-panel-biography">
                                            {{userBiography}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFour')" aria-expanded="false" aria-controls="collapseFour">
                                            <span class="edit_click">EDIT </span>
                                            GALLERY
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class="modal-body login-box clearfix">
                                            <ul id="media-list" class="clearfix red-panel-gallery">
                                                <li ng-repeat="gallery in getGallery  | limitTo : 20" class="myupload">
                                                    <div class="overlay">
                                                        <span href="javascript:void(0);" ng-click="showGallery($event,gallery)" data-id="assessment-center770x440.jpg" class="">
                                                            <i class="fa fa-search" title={{gallery.fileName.slice(0,-4)}} aria-hidden="true"></i>
                                                        </span>



                                                        <!--<div class="text">{{gallery.fileName.slice(0,-4)}}</div>-->
                                                    </div>
                                                    <img ng-src={{gallery.fileUrl}} class="img-responsive img-size" alt=".." />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFive')" aria-expanded="false" aria-controls="collapseFive">
                                            <span class="edit_click">EDIT </span>
                                            PORTFOLIO / LINK
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    </div>
                                </div>
                            </div>-->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSix')" aria-expanded="false" aria-controls="collapseSix">
                                            <span class="edit_click">EDIT </span>
                                            VIDEOS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSeven')" aria-expanded="false" aria-controls="collapseSeven">
                                            <span class="edit_click">EDIT </span>
                                            ENDORSEMENTS / TESTIMONIALS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        You need a Landing Page, a Thank You Page and a way to pay per lead.
                                    </div>
                                </div>
                            </div>-->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingSeven">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseSeven1')" aria-expanded="false" aria-controls="collapseSeven1">
                                            <span class="edit_click">EDIT </span>
                                            SOCIAL MEDIA / LINKS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                    <div class="panel-body">
                                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
                                        <ul class="social_links" ng-repeat="links in getSocialMediaLinks">
                                            <li ng-if="links.mediaName=='Flag' && links.mediaName != null"><a href=http://{{links.mediaLink}}><img src="../img/social-icon-flag.jpg" class="img-responsive" title={{links.mediaName}} alt="image" target="_blank"></a></li>
                                            <li ng-if="links.mediaName=='Facebook' && links.mediaName != null"><a href=http://{{links.mediaLink}}><img src="../img/social-icon-fb.jpg" class="img-responsive" title={{links.mediaName}} alt="image" target="_blank"></a></li>
                                            <li ng-if="links.mediaName=='Twitter' && links.mediaName != null"><a href=http://{{links.mediaLink}}><img src="../img/social-icon-twitter.jpg" class="img-responsive" title={{links.mediaName}} alt="image" target="_blank"></a></li>
                                            <li ng-if="links.mediaName=='Google+' && links.mediaName != null"><a href=http://{{links.mediaLink}}><img src="../img/social-icon-google-plus.jpg" class="img-responsive" title={{links.mediaName}} alt="image" target="_blank"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div><!-- panel-group -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    function togglecollapse($this) {
        $("#" + $this).toggle('slow', function () {
            $("#" + $this).toggleClass('in');
        });
    }
</script>
<style>
    .img-size {
        height: 100px;
        width: 100%;
    }

    ul#media-list {
        list-style: none;
        padding: 0;
        margin: -13px 0px 0px -14px;
    }

    #media-list li:last-child {
        margin-right: 0;
    }

    .overlay {
        position: absolute;
        border-radius: 3px;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: rgba(58, 50, 50, 0.38);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .myupload:hover .overlay {
        bottom: -2px;
        height: 100px;
    }

    .text {
        cursor: pointer;
        white-space: nowrap;
        color: white;
        font-size: 12px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    #media-list li {
        float: left;
        border: 1px solid #ccc;
        background: #ccc;
        position: relative;
        margin: 0 2px 5px 0;
        width: 102px;
        height: 100px;
    }

    li.myupload span input {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    li.myupload span i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* color: #ccc; */
        font-size: 54px;
    }

    .bittext1-pos {
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 8px;
        font-weight: bold;
        color: #8c0000;
        margin-top: 0px;
    }

    i.fa.fa-search:hover {
        background-color: gray;
        height: 70px;
        width: 70px;
        margin: 2px 1px 0px 0px;
        border-radius: 50%;
        padding: 10px 0px 0px 14px;
        position: absolute;
        font-size: 48px;
        color: #8c0000;
    }

    .red-panel-gallery {
        width: 640px;
        height: 211px;
        overflow-x: hidden;
        margin-bottom: -12px;
    }

    .red-panel-biography {
        height: 85px;
        width: 664px;
        overflow-x: hidden;
        margin-bottom: 0px;
    }

    .red-panel-musiccatelog {
        height: 233px;
        width: 642px;
        overflow-x: hidden;
    }
    /*.red-panel-gallery::-webkit-scrollbar {
        display: none;
    }

    .red-panel-biography::-webkit-scrollbar {
        display: none;
    }*/
</style>