﻿<header class="clearfix">
    <link href="../../css/customstyles.css" rel="stylesheet" />
</header>
<md-dialog style="width:600px; height:550px; background: #fafafa;" class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center; " />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <core-animated-pages transitions="slide-from-right" ng-controller="index as vm">
        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel>
                        <core-toolbar class="heading-steps">
                            <span flex class="steps-heading">step 1 of 4</span>
                            <input type="submit" value="Continue" ng-click="vm.gotoStep2(frmRegister1,1)" class="finishbtn1">
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister1" name="frmRegister1" novalidate>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding>
                            <div class="userTags">
                                Choose a category that matches your <b>PRIMARY</b> skill set.
                                <md-input-container class="inputContainer1">
                                    <label>Primary Skill Set</label>
                                    <md-select id="mainTag" name="mainTag" ng-model="userTags.mainTag" required>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                    <div ng-show="frmRegister1.mainTag.$invalid && (!frmRegister1.mainTag.$pristine || isSubmit1 )">
                                        <div class="text-danger">Primary skill set is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="userTags tags-adddional">
                                Choose up 3 categories that matches your <b>ADDITIONAL</b> skill set.(Optional)
                                <md-input-container class="inputContainer1">
                                    <label>Additional Skill Set 1</label>
                                    <md-select id="Tag1" name="Tag1" ng-model="userTags.tag1">
                                        <md-option ng-value="Null"><em>NONE</em> </md-option>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label>Additional Skill Set 1</label>
                                    <md-select id="Tag2" name="Tag2" ng-model="userTags.tag2">
                                        <md-option ng-value="Null"><em>NONE</em> </md-option>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label>Additional Skill Set 3</label>
                                    <md-select id="Tag3" name="Tag3" ng-model="userTags.tag3">
                                        <md-option ng-value="Null"><em>NONE</em> </md-option>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-content>
                    </form>
                </md-dialog-content>
            </md-dialog-container>
        </section>

        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel style="z-index:999;">
                        <core-toolbar class="heading-steps">
                            <input type="submit" value="Previous" ng-click="vm.gotoStep1()" class="finishbtn1">
                            <span flex class="steps-heading">Step 2 of 4</span>
                            <input type="submit" value="Continue" ng-click="vm.gotoStep3(frmRegister2,2)" class="finishbtn1">
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister2" name="frmRegister2" style="top: 48px;" novalidate>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding>
                            <div class="userTags">
                                <p>Tell us who you are.</p>
                                <md-input-container class="inputContainer1 line-reg-margin">
                                    <label><md-icon md-svg-src="../../img/ic_person_24px.svg" class="name"></md-icon> User Name</label>
                                    <input id="FirstName" name="FirstName" ng-model="userTags.firstName" required />
                                    <div ng-show="frmRegister2.FirstName.$invalid && (!frmRegister2.FirstName.$pristine || isSubmit2 )">
                                        <div class="text-danger">User Name is required.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="inputContainer1 line-reg-margin">
                                    <label> <md-icon md-svg-src="../../img/ic_email_24px.svg" class="email"></md-icon> Email</label>
                                    <input type="email" id="Email" name="Email" ng-model="userTags.email" onkeypress='return event.charCode !=32' required ng-blur="checkmail(userTags.email)" />
                                    <div ng-show="frmRegister2.Email.$invalid && (!frmRegister2.Email.$pristine || isSubmit2 )">
                                        <div class="text-danger"> Not a valid Email.</div>
                                    </div>
                                    <div class="text-danger" ng-show="isFocus"> User exist with this email.</div>
                                    <!--<div ng-show="frmRegister2.Email.$invalid && (!frmRegister2.Email.$error.email && isSubmit2 )">
                                        <div class="text-danger"> Email is required. </div>

                                    </div>-->
                                </md-input-container>
                                <md-input-container class="inputContainer1 line-reg-margin">
                                    <label><md-icon md-svg-src="../../img/ic_password_24px.svg" class="email"></md-icon> Password</label>
                                    <!--<input type="password" id="Password" name="Password" ng-model="userTags.password"
                                           onkeypress='return event.charCode !=32' required ng-minlength="6" />
                                    <div ng-show="frmRegister2.Password.$invalid && (!frmRegister2.Password.$pristine || isSubmit2 )">
                                        <div class="">
                                            Password is required and should be atleast 6 characters
                                        </div>
                                    </div>-->
                                    <!--ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"-->
                                    <input type="password" id="Password" name="Password" ng-model="userTags.password"
                                           onkeypress='return event.charCode !=32' required />
                                    <div ng-show="frmRegister2.Password.$invalid && (!frmRegister2.Password.$pristine || isSubmit2 )">
                                        <div class="text-danger">
                                            Password is required
                                            <!--and should be atleast 8 characters
                                            long and should contain one number,one character and one special
                                            character-->
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="inputContainer1 line-reg-margin">
                                    <label> <md-icon md-svg-src="../../img/ic_password_24px.svg" class="email"></md-icon> Confirm Password</label>
                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="userTags.confirmPassword" onkeypress='return event.charCode !=32' required />
                                    <div ng-show="frmRegister2.ConfirmPassword.$invalid && (!frmRegister2.ConfirmPassword.$pristine || isSubmit2 )">
                                        <div class="text-danger"> Confirm Password is required.</div>
                                    </div>
                                    <div ng-show="!frmRegister2.ConfirmPassword.$invalid && userTags.confirmPassword != userTags.password && (!frmRegister2.ConfirmPassword.$pristine || isSubmit2 )">
                                        <div class="text-danger">Password and  Confirm Password should be equal.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="inputContainer1 line-reg-margin" style="margin-top:-5px;">
                                    <md-checkbox ng-model="userTags.termsandcontions" aria-label="t&c">
                                        I Agree Terms and Conditions
                                        <div class="text-danger" ng-show="valmsgtac">please check terms and contions.</div>
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                        </md-content>
                    </form>
                </md-dialog-content>
            </md-dialog-container>
        </section>

        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel style="z-index:999;">
                        <core-toolbar class="heading-steps">
                            <input type="submit" value="Previous" ng-click="vm.gotoStep2()" class="finishbtn1">
                            <span flex class="steps-heading">Step 3 of 4.</span>
                            <input ng-disabled="continueDisabled" type="submit" value="Continue" ng-click="vm.gotoStep4(frmRegister3,3)" class="finishbtn1">
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister3" name="frmRegister3" style="top: 48px;" novalidate>

                        <md-content class="contentClass1 checkbox-block" layout-gt-sm="row" layout-padding>
                            <div class="userTags">
                                <p>Secure Payment Info.</p>
                                <!--<md-radio-group ng-model="userTags.paymentOption">
                                <md-radio-button aria-label="radio" value="visaMaestro" class="md-primary payment-image-radio-button" selected="true">-->
                                <div ng-if="isPaymentSussess === false">
                                    <p>
                                        <input type="radio" value="Paypal" name="paymentOption" ng-model="userTags.paymentOption" />
                                        <img style="width:130px;" src="../../img/Paypal-Logo-PNG.png" alt="Alternate Text" />
                                        <input type="radio" value="visaMaestro" name="paymentOption" ng-model="userTags.paymentOption" />
                                        <img style="width:200px;" src="../../img/payment-options.png" alt="Alternate Text" />
                                    </p>
                                </div>
                                <!--</md-radio-button>-->
                                <!--<md-radio-button aria-label="radio1" value="Paypal" class="paypal-logo payment-image-radio-button">-->
                                <!--</md-radio-button>
                                </md-radio-group>-->
                                <div ng-if="userTags.paymentOption === 'visaMaestro'">
                                    <div ng-if="paymentSuccessObject.isNull === true">
                                        <md-input-container class="inputContainer1">
                                            <label>Name (as it appears on your card.)</label>
                                            <input id="cardName" name="cardName" ng-model="userTags.cardName" required>
                                            <div ng-show="frmRegister3.cardName.$invalid && (!frmRegister3.cardName.$pristine || isSubmit3 )">
                                                <div class="text-danger">Name is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container class="inputContainer1 date-month">
                                            <div class="input-block">
                                                <label>Card Number (no dashes or spaces)</label>
                                                <input type="text" id="cardNumber" name="cardNumber" ng-model="userTags.cardNumber" required payments-validate="card" payments-type-model="type" payments-format="card">

                                                <div class="image-card" ng-if="frmRegister3.cardNumber.$card.type != Null"><img src="../../images/{{frmRegister3.cardNumber.$card.type}}.png" alt="Alternate Text" /></div>
                                            </div>
                                            <div class="validations-block" ng-show="frmRegister3.cardNumber.$invalid && (!frmRegister3.cardNumber.$pristine || isSubmit3 )">
                                                <div class="text-danger">Valid card number is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="inputContainer1 date-month">
                                            <label>Expiry</label>
                                            <input type="text" name="expiry" id="expiry" ng-model="userTags.expiry" payments-validate="expiry" payments-format="expiry" required />

                                            <!--<label>Expiration Date</label>
                                            <md-select id="expMonth" name="expMonth" ng-model="userTags.expMonth">
                                                <md-option ng-repeat="expMonth in selectMonthList" ng-value="expMonth">
                                                    {{expMonth}}
                                                </md-option>
                                            </md-select>-->
                                            <div ng-show="frmRegister3.expiry.$invalid && (!frmRegister3.expiry.$pristine || isSubmit3 )">
                                                <div class="text-danger">Expiry is required.</div>

                                            </div>
                                        </md-input-container>
                                        <!--<md-input-container class="inputContainer1 date-month">
                                        <label>Year</label>
                                        <md-select id="expYear" name="expYear" ng-model="userTags.expYear">
                                            <md-option ng-repeat="expYear in selectYearList" ng-value="expYear">
                                                {{expYear}}
                                            </md-option>
                                        </md-select>-->
                                        <!--<div ng-show="frmRegister3.expYear.$invalid && (!frmRegister3.cardNumberexpYear.$pristine || isSubmit3 )">
                                            <div class="text-danger">Expiry Year is required.</div>

                                        </div>-->
                                        <!--</md-input-container>-->
                                        <md-input-container class="inputContainer1">
                                            <label>Security Code(3 on back, Amex: 4 on front)</label>
                                            <input type="text" id="cvvCode" name="cvvCode" ng-model="userTags.cvvCode" payments-validate="cvc" payments-format="cvc" payments-type-model="type" required>
                                            <div ng-show="frmRegister3.cvvCode.$invalid && (!frmRegister3.cvvCode.$pristine || isSubmit3 )">
                                                <div class="text-danger">CVV Code number is required.</div>
                                            </div>
                                        </md-input-container>

                                        <input type="submit" ng-disabled="!continueDisabled" value="Make Payment" ng-click="makePayment(frmRegister3)" class="finishbtn1">

                                    </div>
                                    <div ng-if="paymentSuccessObject.isNull === false">
                                        <ul>
                                            <li>Payment ID : {{paymentSuccessObject.paymentId}}</li>
                                            <li>Card Number : {{paymentSuccessObject.cardNumber}}</li>
                                            <li>Payment Method : {{paymentSuccessObject.paymentMethod}}</li>
                                            <li>Amount : {{paymentSuccessObject.amount}}</li>
                                            <li>Currency : {{paymentSuccessObject.currency}}</li>
                                            <li>State : {{paymentSuccessObject.state}}</li>
                                            <li><h2>Your payment is {{paymentSuccessObject.state}}. Please click continue to proceed.</h2></li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-if="userTags.paymentOption === 'Paypal'">
                                    <div ng-if="isPaymentSussess === false">
                                        <p id="msg" class="error hidden1">Please check the checkbox</p>
                                        <p>
                                            <label><input id="check" type="checkbox" style="color:#fff"> Check here to continue</label>
                                        </p>
                                        <p>
                                            <paypal-button env="opts.env"
                                                           client="opts.client"
                                                           payment="opts.payment"
                                                           commit="opts.commit"
                                                           on-authorize="opts.onAuthorize"
                                                           on-cancel="opts.onCancel"
                                                           validate="opts.validate"
                                                           on-click="opts.onClick"
                                                           style="opts.style">
                                            </paypal-button>
                                        </p>
                                        <div ng-if="isPaymentCancelled === true">
                                            <ul>
                                                <li style="color:red !important">Your payment was unsuccessfull, either you cancelled the transaction or closed the payment window.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="payment-block" ng-if="isPaymentSussess === true">
                                        <ul>
                                            <li>Payment ID : {{paymentSuccessObject.paymentId}}</li>
                                            <li>Email : {{paymentSuccessObject.email}}</li>
                                            <li>Payment Method : {{paymentSuccessObject.paymentMethod}}</li>
                                            <li>Amount : {{paymentSuccessObject.amount}}</li>
                                            <li>Currency : {{paymentSuccessObject.currency}}</li>
                                            <li>State : {{paymentSuccessObject.state}}</li>
                                            <li><h2>Your payment is {{paymentSuccessObject.state}}. Please click continue to proceed.</h2></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </form>
                </md-dialog-content>
            </md-dialog-container>
            <div ng-if="showSpinner === true" class="spinner-payment1"><md-progress-circular ng-disabled="!showSpinner" class="md-accent md-hue-1" md-diameter="60"></md-progress-circular></div>
        </section>

        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel style="z-index:999;">
                        <core-toolbar class="heading-steps">
                            <input type="submit" value="Previous" ng-click="vm.gotoStep3()" class="finishbtn1">
                            <span flex class="steps-heading">Step 4 of 4</span>
                            <input type="submit" value="Finish" ng-click="registerUser(frmRegister4)" class="finishbtn1">
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister4" name="frmRegister4" style="top: 48px;" novalidate>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding ng-show="!isError">
                            <div class="userTags">
                                <p>Thank you for your payment.</p>
                                <div class="textCenter">
                                    <h3><b>Welcome To The Feed.</b></h3>
                                    <h4>
                                        To Take Full Advantage of The Feed <br />
                                        Follow The Member Guide
                                    </h4>
                                    <div style="text-align:left;">
                                        <ol>
                                            <li>Setup yopur profile details</li>
                                            <li>Choose Username</li>
                                            <li>Add your photo</li>
                                            <li>Add your Catalog</li>
                                            <li>Add your portfolio</li>
                                            <li>Create your first feed</li>
                                            <li>Share your feed</li>
                                            <li>Search the feed</li>
                                        </ol>
                                    </div>
                                    <md-button class="md-raised md-primary loginColor sideN" ng-click="setupProfile()">Setup My Profile</md-button>
                                </div>
                            </div>
                        </md-content>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding ng-show="isError">
                            <div class="userTags">
                                <div class="textCenter">
                                    <h3><b>{{errorMessage}}</b></h3>

                                </div>
                            </div>
                        </md-content>
                    </form>
                </md-dialog-content>
            </md-dialog-container>
        </section>
        <!--Last Session-->
    </core-animated-pages>
</md-dialog>
