﻿
<header class="clearfix">
    <link href="../../css/customstyles.css" rel="stylesheet" />
</header>
<md-dialog style="width:600px; height:550px; background: #fafafa;" class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center; " />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <core-animated-pages transitions="slide-from-right" ng-controller="basicSignUp as vm">
        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel>
                        <core-toolbar class="heading-steps">
                            <span flex class="steps-heading">step 1 of 3</span>
                            <input type="submit" value="Continue" ng-click="vm.gotoStep2(frmRegister1,1)" class="finishbtn1">
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister1" name="frmRegister1" novalidate>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding>
                            <div class="userTags">
                                Choose a category that matches your <b>PRIMARY</b> skill set.
                                <md-input-container class="inputContainer1">
                                    <label>Primary Skill Set</label>
                                    <md-select id="mainTag" name="mainTag" ng-model="userTags.mainTag" required>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                    <div ng-show="frmRegister1.mainTag.$invalid && (!frmRegister1.mainTag.$pristine || isSubmit1 )">
                                        <div class="text-danger">Primary skill set is required.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div class="userTags tags-adddional">
                                Choose up 3 categories that matches your <b>ADDITIONAL</b> skill set.(Optional)
                                <md-input-container class="inputContainer1">
                                    <label>Additional Skill Set 1</label>
                                    <md-select id="Tag1" name="Tag1" ng-model="userTags.tag1">
                                        <md-option ng-value="Null"><em>NONE</em> </md-option>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label>Additional Skill Set 1</label>
                                    <md-select id="Tag2" name="Tag2" ng-model="userTags.tag2">
                                        <md-option ng-value="Null"><em>NONE</em> </md-option>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label>Additional Skill Set 3</label>
                                    <md-select id="Tag3" name="Tag3" ng-model="userTags.tag3">
                                        <md-option ng-value="Null"><em>NONE</em> </md-option>
                                        <md-option ng-repeat="tag in SelectTagList" ng-value="tag">
                                            {{tag}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-content>
                    </form>
                </md-dialog-content>
            </md-dialog-container>
        </section>

        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel style="z-index:999;">
                        <core-toolbar class="heading-steps">
                            <input type="submit" value="Previous" ng-click="vm.gotoStep1()" class="finishbtn1">
                            <span flex class="steps-heading">Step 2 of 3</span>
                            <input type="submit" value="Continue" ng-click="vm.gotoStep3(frmRegister2,2)" class="finishbtn1">
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister2" name="frmRegister2" style="top: 48px;" novalidate>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding>
                            <div class="userTags">
                                Tell us who you are.
                                <md-input-container class="inputContainer1">
                                    <label><md-icon md-svg-src="../../img/ic_person_24px.svg" class="name"></md-icon> User Name</label>
                                    <input id="FirstName" name="FirstName" ng-model="userTags.firstName" required />
                                    <div ng-show="frmRegister2.FirstName.$invalid && (!frmRegister2.FirstName.$pristine || isSubmit2 )">
                                        <div class="text-danger">User Name is required.</div>
                                    </div>
                                    <div class="text-danger" ng-show="nameLength">User Name should be 3 to 40 characters.</div>
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label> <md-icon md-svg-src="../../img/ic_email_24px.svg" class="email"></md-icon> Email</label>
                                    <input type="email" id="Email" name="Email" ng-model="userTags.email" onkeypress='return event.charCode !=32' required ng-blur="checkmail(userTags.email)" />
                                    <div ng-show="frmRegister2.Email.$invalid && (!frmRegister2.Email.$pristine || isSubmit2 )">
                                        <div class="text-danger"> Not a valid Email.</div>
                                    </div>
                                    <div class="text-danger" ng-show="isFocus"> User exist with this email.</div>
                                    <!--<div ng-show="frmRegister2.Email.$invalid && (!frmRegister2.Email.$error.email && isSubmit2 )">
                        <div class="text-danger"> Email is required. </div>

                    </div>-->
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label><md-icon md-svg-src="../../img/ic_password_24px.svg" class="email"></md-icon> Password</label>
                                    <!--<input type="password" id="Password" name="Password" ng-model="userTags.password"
                           onkeypress='return event.charCode !=32' required ng-minlength="6" />
                    <div ng-show="frmRegister2.Password.$invalid && (!frmRegister2.Password.$pristine || isSubmit2 )">
                        <div class="text-danger">
                            Password is required and should be atleast 6 characters
                        </div>
                    </div>-->
                                    <!--ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"-->
                                    <input type="password" id="Password" name="Password" ng-model="userTags.password"
                                           onkeypress='return event.charCode !=32' ng-required="true" ng-minlength="6" />
                                    <div ng-show="frmRegister2.Password.$error.required && (!frmRegister2.Password.$pristine || isSubmit2 )">
                                        <div class="text-danger">
                                            Password is required
                                            <!--and should be atleast 8 characters
                            long and should contain one number,one character and one special
                            character-->
                                        </div>
                                    </div>
                                    <div ng-show="frmRegister2.Password.$error.minlength && (!frmRegister2.Password.$pristine || isSubmit2 )">
                                        <div class="text-danger">
                                            Password should be atleast 6 characters
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="inputContainer1">
                                    <label> <md-icon md-svg-src="../../img/ic_password_24px.svg" class="email"></md-icon> Confirm Password</label>
                                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" ng-model="userTags.confirmPassword" onkeypress='return event.charCode !=32' ng-required="true" ng-minlength="6" />
                                    <div ng-show="frmRegister2.ConfirmPassword.$error.required && (!frmRegister2.ConfirmPassword.$pristine || isSubmit2 )">
                                        <div class="text-danger"> Confirm Password is required.</div>
                                    </div>
                                    <div ng-show="!frmRegister2.ConfirmPassword.$error.required && (frmRegister2.ConfirmPassword.$error.minlength || userTags.password != userTags.confirmPassword && (!frmRegister2.ConfirmPassword.$pristine || isSubmit2 ))">
                                        <div class="text-danger">Password and Confirm Password should be equal.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="inputContainer1" style="margin-top:-5px;">
                                    <md-checkbox ng-model="userTags.termsandcontions" aria-label="t&c">
                                        I Agree Terms and Conditions
                                        <div class="text-danger" ng-show="valmsgtac">please check terms and contions.</div>
                                    </md-checkbox>
                                </md-input-container>
                            </div>
                        </md-content>
                    </form>
                </md-dialog-content>
            </md-dialog-container>
        </section>


        <section>
            <md-dialog-container>
                <md-dialog-content layout-padding>
                    <core-header-panel style="z-index:999;">
                        <core-toolbar class="heading-steps">
                            <input type="submit" value="Previous" ng-click="vm.gotoStep3()" class="finishbtn1">
                            <span flex class="steps-heading">Step 3 of 3</span>
                            <!--<input type="submit" value="Finish" ng-click="registerUser(frmRegister4)" ng-if="!isFinsh" class="finishbtn1">-->
                        </core-toolbar>
                    </core-header-panel>
                    <form id="frmRegister4" name="frmRegister4" style="top: 48px;" novalidate>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding ng-show="!isError">
                            <div class="userTags">
                                <div class="textCenter">
                                    <h3><b>Welcome To The Music Feed Pro</b></h3>
                                    <h4>
                                        To Take Full Advantage of The Feed <br />
                                        Follow The Member Guide
                                    </h4>
                                    <div style="text-align:left;">
                                        <ol>
                                            <li>Setup yopur profile details</li>
                                            <li>Choose Username</li>
                                            <li>Add your photo</li>
                                            <li>Add your Catalog</li>
                                            <li>Add your portfolio</li>
                                            <li>Create your first feed</li>
                                            <li>Share your feed</li>
                                            <li>Search the feed</li>
                                        </ol>
                                    </div>
                                    <!--<md-button class="md-raised md-primary loginColor sideN" ng-click="setupProfile()">Setup My Profile</md-button>-->
                                </div>
                            </div>
                        </md-content>
                        <md-content class="contentClass1" layout-gt-sm="row" layout-padding ng-show="isError">
                            <div class="userTags">
                                <div class="textCenter">
                                    <h3><b>{{errorMessage}}</b></h3>
                                </div>
                            </div>
                        </md-content>
                    </form> 
                    <md-button type="submit" ng-click="registerUser(frmRegister4)" ng-if="!isFinsh" class="md-raised md-primary loginColor finishbtn1 pull-right">Setup My Profile</md-button>
                </md-dialog-content>
            </md-dialog-container>
        </section>
        <!--Last Session-->
    </core-animated-pages>
</md-dialog>
