﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile Page";
}
@section scripts{
    <script src="~/app/mainpage/mainpageApp.js"></script>
    <script src="~/app/mainpage/index.js"></script>
    <script src="~/app/beforeLogin/sendMessage.js"></script>
    <script src="~/app/beforeLogin/login.js"></script>
    <script src="~/app/mainpage/searchGallery.js"></script>
    <script src="~/app/mainpage/showFeedDetails.js"></script>
    <script src="~/app/beforeLogin/viewComments.js"></script>
    <script src="~/app/mainpage/AddMusicCatalog.js"></script>
    <script src="~/app/mainpage/MusicCatalogList.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("mainpage"), ['mainpage']);
}
<div data-ng-app="mainpage" id="mainpage">
    <div ng-view></div>

</div>