﻿core-animated-pages {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 16px;
    overflow: hidden;
}

section > div {
    height: 100%;
    color: white;
}

/*section {
        padding: 20px 0;
    }

        section > div {
            padding: 14px;
            font-size: 16px;
        }*/

core-header-panel {
    top: 8%;
}

.heading {
    padding: 10px 15px;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0 15px 10px 15px;
}



html /deep/ paper-dropdown-menu {
    box-sizing: border-box;
    width: 170px;
}

html /deep/ core-menu {
    box-sizing: border-box;
    width: 170px;
}

paper-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html /deep/ core-collapse {
    border: 1px solid #ccc;
    padding: 8px;
}

.constrained-height {
    height: 150px;
}

.colored {
    color: #0f9d58;
}

.dropdown.colored::shadow #ripple,
.dropdown.colored::shadow #background {
    border: 1px solid #0f9d58;
    background-color: #b7e1cd;
}

.documenttion {
    background: #f3f3f3;
    padding: 10px;
    border: solid 1px #ccc;
    margin: auto;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

 .documenttion ul {
        width: auto;
        float: left;
        list-style: none;
       
    }

.AddhoursTab {
    margin: -18px 0 0;
    padding: 0;
}

.clear {
    clear: both;
}

.box-in > li {
    margin-top: -17px;
}


.check_box {
    float: left;
    width: auto;
    height: 110px;
    margin: 0 27px;
}

/*.programe_base {
        float: left;
        width: 235px;
        height: auto;
        margin: 0 27px;
    }

    .pad {
        padding-top: 27px;
    }*/

/*.dateField {
        width: 210px;
    }*/

.input-group-btn {
    float: right;
    margin-right: 10px;
}

.spanHead {
    float: left;
    width: 30%;
}

.spanHead1 {
    float: left;
    width: 30%;
}


.ng-pristine.ng-invalid.ng-invalid-required.ng-touched {
    background: #fff !important;
    /*width: 100%;*/
}

paper-input-decorator .unfocused-underline {
    width: 210px;
}

.label {
    width: 210px !important;
}

.form-group.programe_base.ng-scope {
    /*margin-top: 26px;*/
}

.underline {
    width: 210px !important;
}

.content1 {
    padding: 0 0 20px 30px;
}

.input-body {
    width: 100% !important;
}

    .input-body input {
        background: #fff;
    }

.check_box1 {
    margin: 0 27px;
}

    .check_box1 > h2 {
        margin-left: 0 !important;
        margin-bottom: 10px;
    }

.unfocused-underline {
    height: 1px;
    width: 210px !important;
}

.input_width {
    width: 210px !important;
}

html /deep/ core-collapse {
    border: none !important;
}

.margin_btm {
    margin-bottom: 20px;
}

.margin_left {
    margin-left: 27px;
    /*magin*/
}

h4 {
    line-height: 15px !important;
}

select:disabled {
    color: #909090;
}


.ta-editor, .white-box {
    padding: 10px !important;
    background-color: #FFF !important;
    border: 1px solid #EEE !important;
    min-height: 300px !important;
    max-width: 98% !important;
    margin-left: 1%;
}

.navbar-inverse {
    background-color: #FFFFFF !important;
}

body .container {
    width: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
    position: relative !important;
    margin-top: 0% !important;
    float: left !important;
}

.formatstyles {
    padding:20px;
}
.commentsdocumenttion {
    background: #f3f3f3;
    padding: 10px;
    border: solid 1px #ccc;
    margin: auto;
    width: 97%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
paper-item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
  .select {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ccc;
        height: 33px;
        width: 93% !important;
    }
.pad_left {
 padding-left:27px;
}
.footer-document > div {
    display:inline-block;
    width:49.5%;
}