﻿.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
}

.buttondemoBasicUsage md-content {
    margin-right: 7px;
}

.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
}

.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54;
}

.sidebarImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 150px;
    border: 5px;
    border-style: solid;
    border-color: #a5192a;
    height: 180px;
}

.textSizeImg p {
    font-size: 16px !important;
}

.container {
    width: 100%;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.userdiv {
    position: relative;
    top: 520px;
    color: black;
}

md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill {
    background-color: rgb(127, 215, 161);
}

md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
    border-color: rgb(131, 215, 161);
    background-color: rgb(127, 215, 161);
}

.imageTEXT {
    opacity: 0.8;
    margin-left: 50px;
    background: ivory;
}

.userdiv h1 {
    font-size: 50px;
}

    .userdiv h1 h2 h3 {
        margin-top: 10px !important;
    }

.userdiv h4 {
    margin-top: -10px !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.cropArea {
      background: #E4E4E4;
      overflow: hidden;
      width:250px;
      height:250px;
    }

.file-area input[type=file]:valid + .file-dummy .default {
    display: block !important;
}

.file-area input[type=file]:valid + .file-dummy {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.FileNameDisp {
    margin-left: 100px;
    width: 120px;
    margin-top: -15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.Logincontainer3 {
    width: 600px;
    /*height:450px;*/
    padding-bottom: 20px;
}


#loginForm md-input-container {
    padding: 0px !important;
    width: 100%;
}

.loginColor {
    background-color: #a5192a !important;
}

.PostBtns {
    background-color: rgb(165, 25, 42) !important;
    margin: 0px !important;
}

.activeDiv {
    margin-top: 20px;
}

.validations {
    margin-top: -4px !important;
    opacity: 1 !important;
}

md-checkbox.md-checked .md-ink-ripple {
    color: rgb(165, 25, 42) !important;
}

#registerForm md-input-container {
    padding: 0px !important;
    width: 100%;
}

.forgotPad {
    margin-top: 10px;
}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dialogdemoBasicUsage #popupContainer {
    position: relative;
}

.dialogdemoBasicUsage .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

    .dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px;
    }

.dialogdemoBasicUsage button {
    width: 200px;
}

.dialogdemoBasicUsage div#status {
    color: #c60008;
}

.dialogdemoBasicUsage .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

.sideN {
    margin-left: 10px;
}

.contentClass {
    height: 290px;
    padding-left: 10px;
}

.contentClass1 {
    padding-left: 10px;
}

.dialogContainer {
    width: 800px;
    /*height: 700px;*/
}

.file-area1 {
    height: auto;
    border: dotted;
    border-bottom-color: darkred;
    border-width: thin;
    padding: 10px 0 0px 0px;
}

.file-area2 {
    height: 25px !important;
}

.dialogContainer1 {
    width: 1150px;
    height: 380px;
}

.editContainer {
    position: absolute !important;
    margin-top: 65px;
}

.editInputContainer {
    display: inline-table;
}

.userTags {
    color: darkred;
}

.inputContainer {
    display: grid !important;
    color: black;
}

.inputContainer1 {
    display: block !important;
    color: black;
}


.editContainer1 {
    margin-left: 40px;
    position: relative;
}

.editContainer11 {
    position: relative;
}

.FileNameDisp1 {
    width: 400px;
}

.file-area11 {
    height: 38px !important;
    border: dotted;
    border-bottom-color: darkred;
    border-width: thin;
    margin-left: 125px;
    margin-top: -28px;
}

.contentBtn {
    height: 39px;
    margin-top: 17px;
    padding: 0px;
}

.contentBtn1 {
    width: 110px;
    margin-top: 25px;
    height: 40px;
    padding: 0px;
}

.formClass {
    margin-top: -40px;
}


.music_img1 img {
    margin: 10px;
    width: 100% !important;
    height: 100px !important;
}

.tableClass {
    position: absolute;
    margin-left: 205px;
    margin-top: 45px;
}

.tableClass1 {
    position: absolute;
    margin-left: 10px;
    /* margin-top: 158px; */
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    /*background-color: rgb(102, 29, 38);*/
    background-color: #a5192a;
    color: rgba(255,255,255,0.87);
}

body {
    top: 0px !important;
    position: relative !important;
}

.media-object {
    height: 120px;
    width: 180px;
}

.Fusermedia-object{
    height:70px;
    width:90px;

}

.media-object1 {
    width: 180px;
}

.media-heading1 {
    font-size: 16px;
    color: #a5192a;
    font-weight: 700;
    margin-top: 0px;
}

.textCenter {
    text-align: center;
}

    .textCenter h1 {
        font-size: 36px;
    }

    .textCenter h2 {
        font-size: 30px;
    }

    .textCenter h3 b {
        font-size: 24px;
    }

    .textCenter h4 {
        font-size: 18px;
    }

    .textCenter h5 {
        font-size: 14px;
    }

.finishbtn1 {
    border-radius: 5px !important;
    background: #FFF;
    padding: 2px 15px !important;
    color: #E44424;
    border: solid 1px #f6f0f0 !important;
    font-size: 14px;
    font-weight: bold;
    width: auto !important;
}

.signup-block .md-toolbar-tools {
    text-align: center;
    display: block;
    height: auto;
    min-height: 1px;
    padding: 10px 0;
    background: #8c0000;
}

    .signup-block .md-toolbar-tools img {
        width: 135px;
        margin: auto;
    }

.signup-block button.md-icon-button.md-button.md-ink-ripple {
    position: absolute;
    right: 10px;
    top: 5px;
}

.signup-block md-toolbar._md-toolbar-transitions {
    height: auto;
    min-height: 1px;
}

.steps-heading {
    font-weight: 700;
    color: #8c0000;
}

.heading-steps {
    background: #fafafa;
    padding: 0 0;
}

form#frmRegister1 {
    margin-top: 60px;
    padding: 0;
}

.signup-block input.finishbtn1 {
    background: #8c0000;
    color: #fff;
    border-radius: 0px !important;
    padding: 5px 10px !important;
    border: none !important;
}

.signup-block md-dialog-content {
    padding: 0;
}

.signup-block .text-danger {
    height: 0;
}

.signup-block md-input-container {
    margin-bottom: 0;
}

.checkbox-block {
}

    .checkbox-block md-radio-button {
        display: inline-block;
        vertical-align: top;
    }

.paypal-logo {
    margin-left: 20px;
    margin-top: -4px;
}

.signup-block .userTags h4 {
    line-height: 24px !important;
    margin-bottom: 10px;
}

.signup-block .userTags h3 {
    padding: 15px 0;
}

.signup-block .userTags {
    display: block;
    width: 100%;
}

.userTags ol li {
    font-size: 16px;
    line-height: 26px;
    list-style-type: decimal;
}

.userTags ol {
    padding-left: 50px;
}

.date-month {
    display: inline-block !important;
    width: 48%;
}

.tags-adddional md-input-container {
    margin-bottom: 30px;
}

.md-dialog-is-showing {
    overflow: hidden !important;
}

.loginFormBtns input {
    z-index: 9999;
    position: relative;
}

.discriptions1 {
    height: 80px;
}

    .discriptions1 textarea {
        height: 74px !important;
    }

.panel-body ul {
    display: inline-block;
}
.postbtn{
    margin-left: 0 !important;
    width: 140px !important;
}