﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMPMusic</title>
    <environment names="Development">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
        <link href="~/clientCSS/mediatags.css" rel="stylesheet" />
        <link href="~/clientCSS/common.css" rel="stylesheet" />
        <link href="~/clientCSS/YouTubeDefaultImageLoader.css" rel="stylesheet">
        <link href="~/clientCSS/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/minified/ng-img-crop.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
        <link href="~/clientCSS/mediatags.css" rel="stylesheet" />
        <link href="~/clientCSS/common.css" rel="stylesheet" />
        <link href="~/clientCSS/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />

        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />

    </environment>
</head>

<body ng-app="main" ng-controller="loginHomeVeiwModel" ng-cloak>


    @RenderBody()

    <div class="clear"></div>






    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

        <script src="~/js/inputFileZone.js"></script>
        <script src="~/js/scrolltopcontrol.js"></script>



        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>

        <script type="text/javascript">
            window.MyApp = {};
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-read-more/dist/readmore.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>

        <script src="~/app/Validator.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/loginApp.js"></script>
        <script src="~/app/beforeLogin/viewComments.js"></script>
        @*<script src="~/lib/toastr/toastr.js"></script>*@
        <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>
    </environment>
    <environment names="Staging,Production">



        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

        <script src="~/js/inputFileZone.js"></script>
        <script src="~/js/scrolltopcontrol.js"></script>



        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
        <script type="text/javascript">
            window.MyApp = {};
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-read-more/dist/readmore.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>

        <script src="~/app/Validator.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/loginApp.js"></script>
        <script src="~/app/beforeLogin/viewComments.js"></script>
        <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>
        @*<script src="~/lib/toastr/toastr.js"></script>*@



    </environment>
    @RenderSection("scripts", required: false)
    <script src="~/js/inputFileZone.js"></script>



</body>

</html>
