﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMPMusic</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />

    </environment>
</head>
<body ng-app="main" ng-controller="indexViewModel as vm" ng-cloak>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">PMPMusic</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    <li><a asp-area="" asp-controller="account" asp-action="Login">LogIn</a></li>
                    <li><a asp-area="" asp-controller="account" asp-action="Register">Register</a></li>
                </ul>
            </div>
        </div>*@

    @*</div>*@

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">HOME</a></li>
                        @*<li><a href="#">ABOUT</a></li>*@
                        <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>

                        <li><a href="#">LEARN MORE</a></li>
                        <li><a href="#">F.A.Q.</a></li>
                        <li><a href="#">ARTICLES</a></li>
                        @*<li><a href="#">CONTACT US</a></li>*@
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT US</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        @*<li><a href="@Url.Action("LogOff","Account")" >SIGN OUT</a></li>*@

                        @*<li><a asp-controller="account" asp-action="LogOff">SIGN OUT</a></li>
                            <li><a href="#" class="prolink">PROFILE LINK</a></li>
                            <li><a href="#" class="prolink">RSS FEED</a></li>*@

                        <li><a asp-area="" asp-controller="account" asp-action="Login" class="prolink">LogIn</a></li>
                        <li><a asp-area="" asp-controller="account" asp-action="Register" class="prolink">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <footer class="text-center">
                <p>&copy; 2017 - PMPMusic</p>
            </footer>
        </div>
    </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-animate/angular-animate.js"></script>
            <script src="~/lib/angular-aria/angular-aria.js"></script>
            <script src="~/lib/angular-material/angular-material.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/lib/angular-messages/angular-messages.js"></script>
            <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

            <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
            <script type="text/javascript">
                window.MyApp = {};
            </script>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
            <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
            <script src="~/lib/angular-read-more/dist/readmore.js"></script>

            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/app/App.js"></script>
            <script src="~/app/common.js"></script>

            <script src="~/app/Validator.js"></script>
            <script src="~/app/config.js"></script>
            <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>
            @*<script src="~/lib/toastr/toastr.js"></script>*@
        </environment>
        <environment names="Staging,Production">
            @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery">
                </script>
                <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
                </script>
                <script src="~/app/App.js"></script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
                <script src="~/lib/angular/angular.min.js"></script>
                <script src="~/lib/angular-animate/angular-animate.min.js"></script>*@

            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-animate/angular-animate.js"></script>
            <script src="~/lib/angular-aria/angular-aria.js"></script>
            <script src="~/lib/angular-material/angular-material.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/lib/angular-messages/angular-messages.js"></script>
            <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
            <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
            <script type="text/javascript">
                window.MyApp = {};
            </script>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
            <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
            <script src="~/lib/angular-read-more/dist/readmore.js"></script>

            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/app/App.js"></script>
            <script src="~/app/common.js"></script>

            <script src="~/app/Validator.js"></script>
            <script src="~/app/config.js"></script>
            <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>

        </environment>
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            //MyApp.rootPath = '@Url.Content("~")';
            @RenderSection("jsCode", required: false)

        </script>
</body>
</html>
