﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMPMusic</title>
    <environment names="Development">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
        <link href="~/clientCSS/mediatags.css" rel="stylesheet" />
        <link href="~/clientCSS/common.css" rel="stylesheet" />
        <link href="~/clientCSS/YouTubeDefaultImageLoader.css" rel="stylesheet">
        <link href="~/clientCSS/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="~/clientCSS/music-player-style.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />
        <!--Polymer-->
        <link href="~/lib/paper-item/paper-item.html" rel="import" />
        <link href="~/lib/paper-dropdown/paper-dropdown.html" rel="import" />
        <link href="~/lib/core-collapse/core-collapse.html" rel="import" />
        <link href="~/lib/paper-menu-button/paper-menu-button.html" rel="import" />
        <link href="~/lib/paper-icon-button/paper-icon-button.html" rel="import" />
        <link href="~/lib/core-menu-button/core-menu-button.html" rel="import" />
        <link href="~/lib/paper-button/paper-button.html" rel="import">
        <link href="~/lib/core-icon/core-icon.html" rel="import" />
        <link href="~/lib/core-menu/core-menu.html" rel="import" />"
        <link href="~/lib/paper-fab/paper-fab.html" rel="import" />
        <link href="~/lib/core-header-panel/core-header-panel.html" rel="import" />
        <link href="~/lib/core-toolbar/core-toolbar.html" rel="import" />
        <link href="~/lib/core-animated-pages/core-animated-pages.html" rel="import">
        <link href="~/lib/paper-input/paper-input.html" rel="import" />
        <link href="~/lib/paper-radio-button/paper-radio-button.html" rel="import" />
        <link href="~/lib/paper-checkbox/paper-checkbox.html" rel="import" />
        <link href="~/lib/paper-input/paper-input-decorator.html" rel="import" />
        <link href="~/lib/paper-input/paper-autogrow-textarea.html" rel="import" />
        <link href="~/lib/core-label/core-label.html" rel="import" />

        <link href="~/lib/core-animated-pages/transitions/slide-from-right.html" rel="import" />

        <link href="~/lib/polymer/polymer.html" rel="import">
        <link href="~/lib/core-a11y-keys/core-a11y-keys.html" rel="import">
        <link href="~/lib/core-dropdown/core-dropdown-base.html" rel="import">
        <link href="~/lib/core-focusable/core-focusable.html" rel="import">
        <link href="../lib/core-icon/core-icon.html" rel="import">
        <link href="../lib/core-icons/core-icons.html" rel="import">
        <link href="../lib/paper-shadow/paper-shadow.html" rel="import">

    </environment>
    <environment names="Staging,Production">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
        <link href="~/clientCSS/mediatags.css" rel="stylesheet" />
        <link href="~/clientCSS/common.css" rel="stylesheet" />
        <link href="~/clientCSS/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="~/clientCSS/music-player-style.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />
        <!--Polymer-->
        <link href="~/lib/paper-item/paper-item.html" rel="import" />
        <link href="~/lib/paper-dropdown/paper-dropdown.html" rel="import" />
        <link href="~/lib/core-collapse/core-collapse.html" rel="import" />
        <link href="~/lib/paper-menu-button/paper-menu-button.html" rel="import" />
        <link href="~/lib/paper-icon-button/paper-icon-button.html" rel="import" />
        <link href="~/lib/core-menu-button/core-menu-button.html" rel="import" />
        <link href="~/lib/paper-button/paper-button.html" rel="import">
        <link href="~/lib/core-icon/core-icon.html" rel="import" />
        <link href="~/lib/core-menu/core-menu.html" rel="import" />"
        <link href="~/lib/paper-fab/paper-fab.html" rel="import" />
        <link href="~/lib/core-header-panel/core-header-panel.html" rel="import" />
        <link href="~/lib/core-toolbar/core-toolbar.html" rel="import" />
        <link href="~/lib/core-animated-pages/core-animated-pages.html" rel="import">
        <link href="~/lib/paper-input/paper-input.html" rel="import" />
        <link href="~/lib/paper-radio-button/paper-radio-button.html" rel="import" />
        <link href="~/lib/paper-checkbox/paper-checkbox.html" rel="import" />
        <link href="~/lib/paper-input/paper-input-decorator.html" rel="import" />
        <link href="~/lib/paper-input/paper-autogrow-textarea.html" rel="import" />
        <link href="~/lib/core-label/core-label.html" rel="import" />

        <link href="~/lib/core-animated-pages/transitions/slide-from-right.html" rel="import" />



        <link href="~/lib/polymer/polymer.html" rel="import">
        <link href="~/lib/core-a11y-keys/core-a11y-keys.html" rel="import">
        <link href="~/lib/core-dropdown/core-dropdown-base.html" rel="import">
        <link href="~/lib/core-focusable/core-focusable.html" rel="import">
        <link href="../lib/core-icon/core-icon.html" rel="import">
        <link href="../lib/core-icons/core-icons.html" rel="import">
        <link href="../lib/paper-shadow/paper-shadow.html" rel="import">



    </environment>
</head>
<body ng-app="main" ng-controller="loginHomeVeiwModel" ng-cloak>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="#">
                            <div class="top-logo"><img src="~/img/musicfeed-logo.png" /></div>
                        </a>
                    </div>
                </div>

                @*@await Component.InvokeAsync("Login", User.Identity != null ? User.Identity : "")*@
                @*<div>@User.Identity.Name</div>*@

                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @*<li class="active"><a href="index.html">Home</a></li>*@
                            @*<li><a href="#">About</a></li>*@
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Tutorials">Tutorials</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="FAQ">F.A.Q.</a></li>

                            @if (User.Identity.Name == null && User.Identity.IsAuthenticated == false)
                            {
                                <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Support</a></li>

                            }

                            <li><a asp-area="" asp-controller="Home" asp-action="Contactus">Contact Us</a></li>
                            @if (User.Identity.Name == null && User.Identity.IsAuthenticated == false)
                            { }
                            else
                            {
                                <li>
                                    <a style="cursor:pointer;" ng-click="gotoMainpage()">MYPROFILE</a>
                                </li>

                            }

                            <div class="topbtn">
                                @*<a href="#sectionA" class="regbtn" id="" data-toggle="modal" data-target="#squarespaceModal">Log In</a>
                                    <a href="#sectionB" class="regbtn" id="" data-toggle="modal" data-target="#squarespaceModal">Sign Up Now</a>*@

                                @if (User.Identity.Name == null && User.Identity.IsAuthenticated == false)
                                {

                                    @*<form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">

                                            <div class="social-login-buttons">
                                                <input type="submit" name="provider"  value="Facebook">

                                            </div>
                                        </form>*@

                                    <a class="regbtn" style="cursor:pointer;" ng-click="openLogin()">Log In</a>
                                    @*<a class="regbtn" style="cursor:pointer;" ng-click="openRegister()">Sign Up Now</a>*@
                                    <a class="regbtn" style="cursor:pointer;" asp-controller="Home" asp-action="Pricing">Sign Up Now</a>
                                }
                                else
                                {

                                    <a class="regbtn" asp-controller="account" asp-action="LogOff">SIGN OUT</a>
                                    @*<a class="regbtn"  asp-controller="account" asp-action="LogOff">@User.Identity.Name</a>*@
                                }

                                @*<a class="regbtn" asp-area="" asp-controller="account" asp-action="Login">Log In</a>*@
                                @*<a class="regbtn" asp-area="" asp-controller="account" asp-action="Register">Sign Up Now</a>*@

                            </div>
                        </ul>
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </nav>
    <!-- End Fixed navbar -->
    <!--Full Screen Banner-->
    <section class="full_screenbanner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/img/bannerimg1.jpg" alt="firstbanner" />
                    <div class="carousel-caption">
                        <h2>Calling All Music Professionals!</h2>
                        <h3>Get On The Music Feed</h3>
                        <div class="screenbottons">
                            @*<a href="#sectionC" class="bannermoreBtns" id="" data-toggle="modal" data-target="#">Learn More</a>*@

                            <a asp-area="" asp-controller="Home" asp-action="Tutorials" class="bannermoreBtns">Learn More</a>

                            @if (User.Identity.Name == null && User.Identity.IsAuthenticated == false)
                            {
                                <a class="bannermoreBtns" asp-controller="Home" asp-action="Pricing">Sign Up Now</a>
                            }

                            @*<a href="#sectionD" class="bannermoreBtns" id="" data-toggle="modal" data-target="#">Sign Up Now</a>*@
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/bannerimg2.jpg" alt="firstbanner" />
                    <div class="carousel-caption">
                        <h2>Calling All Music Professionals!</h2>
                        <h3>Get On The Music Feed</h3>
                        @*<div class="screenbottons">
                                <a href="#sectionC" class="bannermoreBtns" id="" data-toggle="modal" data-target="#">Learn More</a>
                                <a href="#sectionD" class="bannermoreBtns" id="" data-toggle="modal" data-target="#">Sign Up Now</a>
                            </div>*@

                        <div class="screenbottons">

                            <a asp-area="" asp-controller="Home" asp-action="Tutorials" class="bannermoreBtns">Learn More</a>

                            @if (User.Identity.Name == null && User.Identity.IsAuthenticated == false)
                            {
                                <a class="bannermoreBtns" asp-controller="Home" asp-action="Pricing">Sign Up Now</a>
                            }


                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>-->
        </div>
    </section>
    <!--End Full Screen Banner-->
    <!--Active Feeds Bar-->
    <section class="feedsBar">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <span class="feedstext">Their Are Currently <strong>{{totalActiveMainFeeds}}</strong> Active Feeds On Music Feed Pro!</span> </div>
    </section>
    <!--End Active Feeds Bar-->
    <!--Trending Feeds-->
    @*<section class="trendingfeeds">
            <div class="row">
                @RenderBody()

            </div>
        </section>*@
    @RenderBody()
    <div class="clear"></div>

    @*Footer*@

    <!--End Trending Feeds-->
    <!--More Trending Feeds-->
    <section class="more-trending">
        <div class="clearfix"></div>
        <h4 class="quote-title"> <small class="first-title">Search Music By </small>Tag Combos</h4>
        <!--Full Quote Carousel-->
        <article class="full_quote">
            <div class="container-fluid">
                <div class='row'>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#quote-carousel" data-slide-to="1"></li>
                                <li data-target="#quote-carousel" data-slide-to="2"></li>
                                <li data-target="#quote-carousel" data-slide-to="3"></li>
                            </ol>
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner" style="margin-top: -30px;">
                                <h5>
                                    @*class="search_tag_box"*@
                                    <span>SEARCH MUSIC BY TAG COMBOS --></span>
                                    <span ng-repeat="st in selectedTag">
                                        <a href="#" ng-click="removeTag(st)">
                                            <span class="search_tag_box">{{st}}[X]</span>
                                        </a>
                                    </span>
                                </h5>
                                @*<span class="search_tag_box" title="remove">{{st}}[X]</span>*@
                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        @*<h5>
                                                    808 Acapella Acoustic Adult-Contemporary Alternative Ambient Anthem Auto-tune Ballad Bass Boom Bap Bounce Brass Bright Calm Chorus Classical Club Country Crossover
                                            <span ng-repeat="musicTag in musicTagsList | limitTo: 45">
                                                </h5>  <tr ng-repeat="item in items | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">*@
                                        <h5>
                                            @*<span ng-repeat="musicTag in musicTagsList | filter:q | startFrom:10 | limitTo:20">*@
                                            <span ng-repeat="musicTag in musicTagsList |  offset: 0*20 | limitTo: 20">
                                                <a href="#" ng-click="searchFeedsByTag(musicTag.value)">

                                                    {{musicTag.text}}
                                                </a>
                                            </span>
                                        </h5>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <h5>
                                            <span ng-repeat="musicTag in musicTagsList |  offset: 1*20 | limitTo: 20">
                                                <a href="#" ng-click="searchFeedsByTag(musicTag.value)">
                                                    {{musicTag.text}}
                                                </a>
                                            </span>
                                        </h5>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <h5>
                                            <span ng-repeat="musicTag in musicTagsList |  offset: 2*20 | limitTo: 20">
                                                <a href="#" ng-click="searchFeedsByTag(musicTag.value)">
                                                    {{musicTag.text}}
                                                </a>
                                            </span>
                                        </h5>
                                    </blockquote>
                                </div>
                                <!-- Quote 4 -->
                                <div class="item">
                                    <blockquote>
                                        <h5>
                                            <span ng-repeat="musicTag in musicTagsList |  offset: 3*20 | limitTo: 20">
                                                <a href="#" ng-click="searchFeedsByTag(musicTag.value)">
                                                    {{musicTag.text}}
                                                </a>
                                            </span>
                                        </h5>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--End Full Quote Carousel-->
    </section>

    <section class="featured-users">
        <div class="container-fluid" ng-if="searchMusicList.length > 0">
            <h4 class="featured-title">Search List</h4>
            <ul class="featuredList">
                <li ng-repeat="searchMusicTag in feedsListPartialp">
                    <a ng-href="profile?ProfileName={{searchMusicTag.createdBy}}" target="_blank">
                        <i class="usersmlimg">
                            <img ng-if="searchMusicTag.imageLink!=null" ng-src="{{searchMusicTag.imageLink}}" style="height: 162px;width: 178px;" alt=".." />
                            <img ng-if="searchMusicTag.imageLink==null" src="~/img/_BlankProfile.jpg" style="height: 162px;width: 178px;" alt=".." />
                        </i> <small>Track:{{searchMusicTag.catalogName}}</small>
                        <small>User Name :{{searchMusicTag.createdBy}}</small>
                    </a>
                </li>
            </ul>
        </div>

        <div style="float:right;">
            <ul ng-if="searchMusicList.length > 0 " class="pagination">
                <li ng-class="active">
                    <span>{{FeedListPagep.totalPages}} Pages Of {{FeedListPagep.currentPage}}</span>
                </li>
                <li ng-class="{disabled:FeedListPagep.currentPage === 1}">
                    <a ng-click="setPage(1)">First</a>
                </li>
                <li ng-class="{disabled:FeedListPagep.currentPage === 1}">
                    <a ng-click="setPage(FeedListPagep.currentPage - 1)">Previous</a>
                </li>
                <li ng-repeat="page in  getNumber(FeedListPagep.totalPages) track by $index" ng-class="{active:FeedListPagep.currentPage === page}">
                    <a ng-click="setPage($index+1)">{{$index+1}}</a>
                </li>
                <li ng-class="{disabled:FeedListPagep.currentPage === FeedListPagep.totalPages}">
                    <a ng-click="setPage(FeedListPagep.currentPage + 1)">Next</a>
                </li>
                <li ng-class="{disabled:FeedListPagep.currentPage === FeedListPagep.totalPages}">
                    <a ng-click="setPage(FeedListPagep.totalPages)">Last</a>
                </li>
            </ul>
        </div>
    </section>
    <!--End More Trending Feeds-->
    <!--Big Quotes Block-->
    <section class="big_quote">
        <div class="container-fluid">
            <ul class="quoteslist">
                @*<li>Calling All Industry Professionals!</li>
                    <li>MusicFeedPro is the professional</li>
                    <li>search and submit opportunity feed</li>*@
                <li>Calling ALL Industry Professionals!</li>
                <li>MusicFeedPro is the ultimate</li>
                <li>collaboration tool for music professionals</li>
            </ul>
        </div>
    </section>
    <!--End Big Quotes Block-->
    <!--Featured Users Block-->
    <section class="featured-users">
        <div class="container-fluid">
            <h4 class="featured-title">Browse Featured Users On Music Feed PRO</h4>
            <ul class="featuredList">
                <li ng-repeat="featureuser in featuredProfileuserData">
                    <a ng-href="profile?ProfileName={{featureuser.lastName}}" target="_blank">
                        <i class="usersmlimg">
                            <img ng-if="featureuser.profileLink!=null" ng-src="{{featureuser.profileLink}}" style="height: 162px;width: 178px;" alt=".." />
                            <img ng-if="featureuser.profileLink==null" src="~/img/_BlankProfile.jpg" style="height: 162px;width: 178px;" alt=".." />
                        </i> <small>{{featureuser.firstName}}</small>
                    </a>
                </li>
                @*<li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img1.jpg" /></i> <small>Lavish - Tory Lanez/BET/revolt</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img2.jpg" /></i> <small>MdL - Justin Bieber/Mike Posner</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img3.jpg" /></i> <small>Buda Da Future - Dave East / The Lox</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img4.jpg" /></i> <small>Composer - Chris Brown/Trey Songz</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img5.jpg" /></i> <small>Bobby Johnson Beats - Beyonce/Que</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img6.jpg" /></i> <small>2muchbtp - Dorrough/Matt Reed</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img8.jpg" /></i> <small>Reefa - Rick Ross/The Game</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img9.jpg" /></i> <small>Beanz N Kornbread - Paul Wall/Z-RO</small></a></li>
                    <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img10.jpg" /></i> <small>Arkatech Beatz</small></a></li>
                        <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img11.jpg" /></i> <small>JMAC NEW MUSIC</small></a></li>
                        <li><a href="#"><i class="usersmlimg"><img src="~/img/featured-users-img12.jpg" /></i> <small>FlexHated</small></a></li>*@
            </ul>
        </div>
    </section>
    <!--End Featured Users Block-->
    <!--Submissions Block-->
    <section class="submissions">
        <div class="container-fluid">
            <div class='row'>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="subapp">
                        <h4 class="submissionstitle">Coming soon! download the app & keep up with your favorite feeds & feed submissions!</h4>
                        <div class="appbuttons"> <a href="#" class="iosapp"><img src="~/img/download-ios-appstore.png" /></a> <a href="#" class="androidapp"><img src="~/img/download-android-appstore.png" /></a> </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="all-devices-screen"><img src="~/img/all-devices-screen.png" /></div>
                </div>
            </div>
        </div>
    </section>
    <!--End Submissions Block-->
    <footer class="footer">
        <div class="mainFooter">
            <div class="container-fluid">
                <div class='row'>
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12"> <a href="#" class="ft-logo"><img src="~/img/footer-musicfeed-logo.png" /></a> </div>
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-12">
                        <ul class="footerlinks ftfirst">
                            <h6 class="ft-title">Company</h6>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Tutorials</a></li>

                            <li><a asp-area="" asp-controller="Home" asp-action="FAQ">F.A.Q.</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Advertising</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <ul class="footerlinks">
                            <h6 class="ft-title">TUTORIALS</h6>
                            <li><a href="#">Creating A Feed</a></li>
                            <li><a href="#">Searching Feeds</a></li>
                            <li><a href="#">Promoting Your Feed</a></li>
                            <li><a href="#">Using Tag Combos</a></li>
                            <li><a href="#">Setting Up Your Catalog</a></li>
                            <li><a href="#">Using The Mobile App</a></li>
                            <li><a href="#">Saving Feeds</a></li>
                        </ul>
                    </div>
                    @*<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                            <ul class="footerlinks">
                                <h6 class="ft-title">CONNECT WITH US</h6>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">YouTube</a></li>
                                <li><a href="#">Pinterest</a></li>
                                <li><a href="#">LinkedIn</a></li>
                                <li><a href="#">Google+</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="innerFooter">
            <div class="container-fluid">
                <div class='row'>
                    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                        <ul class="innerfooterlinks">
                            <li><a href="#">Legal</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Ads</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">RSS FEED</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                        <div class="copyright">USA  © 2017 PMP WORLD WIDE LLC</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            @* <div class="MusicFooter">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Songs</h5>
                        <ul>
                            <li ng-repeat="song in songs track by $index">
                                <button music-player="play" add-song="song">{{ song.title }}</button>
                                <button music-player add-song="song">+</button>
                            </li>
                        </ul>
                        <button play-all="songs">Play all</button>
                        <button play-all="songs" data-play="false">Add all</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <sound-manager></sound-manager>
                        <p>
                            Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
                        </p>
                        <div class="seekBase" seek-track>
                            <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
                        </div>
                        <br />
                        <button play-music>Play</button>
                        -
                        <button pause-music>Pause</button>
                        -
                        <button stop-music>Stop</button>
                        -
                        <button repeat-music>Repeat ({{ repeat }})</button>
                        -
                        <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>
                        Is Playing: {{ isPlaying }}
                        <br />
                        <br />Volume: {{ volume }} -
                        <button music-volume data-type="increase">+</button>
                        -
                        <button music-volume data-type="decrease">-</button>
                        -
                        <button mute-music>Mute ({{ mute }})</button>
                        <br />
                        <br />
                        <button prev-track>Prev Track</button>
                        -
                        <button next-track>Next Track</button>
                        -
                        <button clear-playlist>Clear Playlist</button>
                        <br />
                        <br />
                        <h5>Playlist</h5>
                        <ul>
                            <li ng-repeat="song in playlist">
                                <a play-from-playlist="song">{{ song.title }}</a>
                                -
                                <a remove-from-playlist="song" data-index="{{$index}}">
                                    <small>(remove)</small>
                                </a>
                                <span ng-if="currentPlaying.id == song.id"> - (current)</span>
                            </li>
                        </ul>
                    </div>
                </div>
                    </div>*@
        </div>

        <div class="music-player">
            <div class="container">
                <div class="open-close-panel"><a href="javascript:void(0)"><i class="fa fa-close toggle"></i> <i class="fa fa-plus toggle" style="display:none;"></i> </a> </div>
                <div class="music-pro">
                    <div class="row">
                        <sound-manager></sound-manager>
                        <div class="col-md-3 col-sm-4">
                            <div class="name-image">
                                <img src="~/img/featured-users-img7.jpg" />
                                <ul>
                                    <li>{{ currentPlaying.artist.replace('-',' ') }}</li>
                                    <li><a href="#">{{ currentPlaying.title }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 player-option-right">
                            <div class="play-progress">
                                @*<div class="play-progress-bar">
                                        <div class="play-progress-bar-increase"> </div>
                                    </div>*@

                                <div class="seekBase play-progress-bar" seek-track>
                                    <div id="audiot" class="seekLoad play-progress-bar-increase" ng-style="{width : ( progress + '%' ) }"></div>
                                    <span class="audio-progress-position-l">{{ currentPostion }}</span> <span class="audio-progress-position-r">{{ currentDuration }}</span>
                                </div>

                            </div>
                            <div class="player-options">
                                <div class="nxt-play">
                                    <a id="fap-previous" class="fa fa-backward" onclick="playpauseclass('fa-pause', 'fa-play')" prev-track></a>
                                    <a id="fap-play-pause" class="fa fa-pause" style="display:none;" play-pause-toggle data-play data-pause></a>
                                    <a id="fap-play-pause" class="fa fa-play" play-pause-toggle data-play data-pause></a>
                                    <a id="fap-next" class="fa fa-forward" onclick="playpauseclass('fa-pause', 'fa-play')" next-track></a>
                                    <div class="volume">
                                        <div class="in-volume">
                                            <div class="volume-increase" style="width:{{ volume }}%"> </div>
                                            <button music-volume data-type="decrease" class="vol-dec">-</button>
                                            <button music-volume data-type="increase" class="vol-inc">+</button>
                                        </div>
                                        <a href="#" class="fa fa-volume-up" onclick="playpauseclass('fa-volume-off', 'fa-volume-up')" mute-music></a> <a href="#" class="fa fa-volume-off" onclick="playpauseclass('fa-volume-up', 'fa-volume-off')" style="display:none;" mute-music></a>
                                    </div>
                                </div>

                            </div>
                            <div class="suffle-list">
                                <a href="javascript:void(0)" class="fa fa-shuffle play-shuffle" play-all="songs"> </a>
                                <a href="javascript:void(0)" class="fa fa-refresh play-shuffle" style="display:none;"> </a>
                                <a href="javascript:void(0)" class="fa fa-list" id="play-list"></a>
                            </div>
                            <!-- player-options -->
                        </div>
                        <div class="col-md-12" id="music-lsit-block" style="display:none;">
                            <div class="music-lists">
                                <ul class="music-listing">
                                    <li ng-repeat="song in songs track by $index" style="display: block;">
                                        <img src="~/img/featured-users-img7.jpg" width="25" />
                                        <span><a href="#" music-player="play" add-song="song">{{ song.title }}</a></span>
                                        @*<a href="#" remove-from-playlist="song" data-index="{{$index}}"><i class="fa fa-trash"></i></a>*@
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>
        <script src="~/js/inputFileZone.js"></script>
        <script src="~/js/scrolltopcontrol.js"></script>

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
        <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>
        <script type="text/javascript">
            window.MyApp = {};
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>

        <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-read-more/dist/readmore.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>
        <script src="~/app/Validator.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/loginApp.js"></script>
        <script src="~/app/beforeLogin/viewComments.js"></script>
        <script src="~/app/beforeLogin/login.js"></script>
        <script src="~/app/beforeLogin/submitTothisFeed.js"></script>
        <script src="~/app/register/app.js"></script>
        <script src="~/app/beforeLogin/sendMessage.js"></script>
        <script src="~/app/register/index.js"></script>
        <script src="~/app/register/addTags.js"></script>
        <script src="~/app/register/basicSignUp.js"></script>
        @*<script src="~/lib/toastr/toastr.js"></script>*@
    </environment>
    <environment names="Staging,Production">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

        <script src="~/js/inputFileZone.js"></script>
        <script src="~/js/scrolltopcontrol.js"></script>



        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
        <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>
        <script type="text/javascript">
            window.MyApp = {};
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-read-more/dist/readmore.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>
        <script src="~/app/Validator.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/loginApp.js"></script>
        <script src="~/app/beforeLogin/viewComments.js"></script>
        <script src="~/app/beforeLogin/login.js"></script>
        <script src="~/app/beforeLogin/sendMessage.js"></script>
        @*<script src="~/lib/toastr/toastr.js"></script>*@
        <script src="~/app/register/app.js"></script>
        <script src="~/app/register/index.js"></script>
        <script src="~/app/register/addTags.js"></script>
        <script src="~/app/register/basicSignUp.js"></script>
        <script src="~/app/beforeLogin/submitTothisFeed.js"></script>

        @*https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination
            https://fdietz.github.io/recipes-with-angular-js/common-user-interface-patterns/paginating-through-client-side-data.html*@

    </environment>
    @RenderSection("scripts", required: false)
    <script src="~/js/inputFileZone.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropzone').inputFileZone();
        });
    </script>
    <script>
        @RenderSection("jsCode", required: false)
    </script>
    <script>
        //
        $('#play-list').click(function () {
            $('#music-lsit-block').slideToggle();
        });

        //play-shuffle
        $('.play-shuffle').click(function () {
            $('.play-shuffle').toggle();
        });

        //open-close-panel
        $('.open-close-panel a').click(function () {
            $('.music-pro').slideToggle();
        });
        //
        $('.open-close-panel a').click(function () {
            $('.toggle').toggle();
        });

        function playpauseclass(t, f) {
            $('.' + t).css("display", "inherit");
            $('.' + f).css("display", "none");
        }
        var volm = '0%';
        $('.fa-volume-up').click(function () {
            volm = $(".volume-increase").css("width");
            $(".volume-increase").css("width", "0%");
        });
        $('.fa-volume-off').click(function () {
            $(".volume-increase").css("width", volm);
        });


    </script>
    <script>
        $(document).ready(function () {
            $('.responsive').slick({
                dots: true,
                prevArrow: $('.prev'),
                nextArrow: $('.next'),
                infinite: false,
                speed: 300,
                slidesToShow: 5,
                slidesToScroll: 1,
                responsive: [
                  {
                      breakpoint: 1024,
                      settings: {
                          slidesToShow: 3,
                          slidesToScroll: 3,
                          infinite: true,
                          dots: true
                      }
                  },
                  {
                      breakpoint: 600,
                      settings: {
                          slidesToShow: 2,
                          slidesToScroll: 2
                      }
                  },
                  {
                      breakpoint: 480,
                      settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1
                      }
                  }
                  // You can unslick at a given breakpoint now by adding:
                  // settings: "unslick"
                  // instead of a settings object
                ]
            });
        });
    </script>
    <style>
        .seekBase {
            height: 12px;
            width: 90%;
            border: 1px solid #cccccc;
        }

        .seekLoad {
            height: 10px;
            width: 0;
            background-color: #8c0000;
        }

        li {
            cursor: pointer;
        }

            ul.music-listing, li.ng-scope {
                display: block;
            }
    </style>

</body>

</html>
