﻿@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
@*<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">



        <title>Index</title>


        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />

        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rugor/jasny-bootstrap-offcanvas/master/jasny-bootstrap.css">
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>*@
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewData["Title"] - PMPMusic</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        @*<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rugor/jasny-bootstrap-offcanvas/master/jasny-bootstrap.css">*@

        <link href="~/lib/jasny-bootstrap/dist/css/jasny-bootstrap.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />

        <link href="~/lib/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">


        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        @*<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/rugor/jasny-bootstrap-offcanvas/master/jasny-bootstrap.css">*@
        <link href="~/lib/jasny-bootstrap/dist/css/jasny-bootstrap.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/angular-material-data-table/dist/md-data-table.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/minified/ng-img-crop.css" rel="stylesheet" />
    </environment>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="main" ng-controller="indexViewModel as vm" ng-cloak>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#" ng-click="gohome()">HOME</a></li>
                        @*<li><a href="#">ABOUT</a></li>*@
                        <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
                        <li><a href="#">LEARN MORE</a></li>
                        @*<li><a href="#">F.A.Q.</a></li>*@
                        <li><a asp-area="" asp-controller="Home" asp-action="FAQ">F.A.Q.</a></li>
                        @*<li><a href="#">ARTICLES</a></li>*@
                        @*<li><a href="#">CONTACT US</a></li>*@
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT US</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li><a href="@Url.Action("LogOff","Account")" >SIGN OUT</a></li>*@
                        <li><a asp-controller="account" asp-action="LogOff">SIGN OUT</a></li>
                        <li><a href="javascript:void(0);" ng-click="getProfileLink(userDetails.firstName,userDetails.lastName)" class="prolink">PROFILE LINK</a></li>
                        @*<li><a href="#" class="prolink">RSS FEED</a></li>*@
                        <li><a asp-area="" asp-controller="RssResult" asp-action="Index" target="_blank">RSS FEED</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="logo_sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logo_div">
                        <a href="#">
                            <img src="~/img/logo.png" class="img-responsive space10" alt="logo" ng-click="gohome()">
                            @*<button data-toggle="offcanvas" data-target=".navmenu" data-canvas="#main_body"><span></span><span></span><span></span></button>*@
                        </a>
                        <button data-toggle="offcanvas" data-target=".navmenu" data-canvas="#main_body" class="dbrd-h">DASHBOARD</button>
                    </div>
                </div>
                @*<div class="col-md-8 col-sm-8 col-xs-12 text-right">
                    <ul class="nav nav-tabs mytabs" role="tablist">*@
                @*<li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Index">MYPROFILE</a></li>
                    <li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="MainFeed">MAIN FEED</a></li>
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">MYPROFILE</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">MAIN FEED</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">CUSTOMIZED</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">MESSAGES</a><span class="msgnoti">8</span></li>

                    <li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Customize">CUSTOMIZED</a></li>
                    <li role="presentation"><a asp-area="" asp-controller="MainPage" asp-action="Messages">MESSAGES</a><span class="msgnoti">8</span></li>*@
                @*<li role="presentation" class="active"><a href="/mainpage">MYPROFILE</a></li>
                            <li role="presentation" ng-click="gotoMainFeed1($event)"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
                            <li role="presentation"><a href="/mainpage/customise">CUSTOMIZED</a></li>
                            <li role="presentation"><a href="/mainpage/musicList">MESSAGES</a><span class="msgnoti">8</span></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </section>


    <section id="main_body">
        <section id="main_body">
            <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
                <div class="pro_pic textSizeImg">
                    <p>Member Since {{userDetails.registeredOn}}</p>
                    <img ng-src="{{userDetails.profileLink}}" ng-click="gotoProfile()" class="img-responsive center-block sidebarImg" width="180" style="cursor:pointer;" alt="logo">

                    @*<div class="editpic">
                            <span>
                                <i class="fa fa-camera fa-2x userpcame" aria-hidden="true"></i>
                                <input type="file" accept="image/*" id="edituserpic" class="edituserpic" title="Edit Image" />
                            </span>
                            <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" style="top: 90px;" md-diameter="80">
                            </md-progress-circular>
                        </div>*@
                    <div class="editpic">
                        <span>
                            <i class="fa fa-camera fa-2x userpcame" aria-hidden="true" ng-click="editProfilepic($event)"></i>
                        </span>
                        @*<md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" style="top: 90px;" md-diameter="80">
                            </md-progress-circular>*@
                    </div>
                </div>

                <div class="details_12">
                    <h3 ng-click="gotoProfile()" style="cursor:pointer;">{{userDetails.firstName.replace('-',' ')}} {{userDetails.lastName}}</h3>
                    <p ng-if="userTags.mainTag != null">#{{userTags.mainTag}}</p>
                    <p><small ng-if="userTags.tag1 != Null">{{userTags.tag1}} </small> <small ng-if="userTags.tag2 != Null"><span ng-if="userTags.tag1 != Null">,</span> {{userTags.tag2}}</small><small ng-if="userTags.tag3 != Null"><span ng-if="userTags.tag2 != Null || userTags.tag1 != Null">,</span> {{userTags.tag3}}</small></p>
                </div>
                <ul class="feedview">
                    <li>TOTAL FEED VIEWS <span class="pull-right">{{userTags.totalFeedViews}}</span></li>
                    @*<li>SUBMISSIONS<span class="pull-right">68</span></li>*@
                    <li>TOTAL LIKES<span class="pull-right">{{userTags.totalFeedUserLikes}}</span></li>
                    @*<li>COMMENTS<span class="pull-right"></span></li>*@
                    <li>TOTAL TRACK PLAYS<span class="pull-right">100</span></li>
                </ul>
                <div id="letside_accordion">
                    <div class="edit_box">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne1">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseOne1')" aria-expanded="true" aria-controls="collapseOne">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            MANAGE PROFILE @*CATALOG*@
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <ul class="list-unstyled editlist">
                                                            @*<li><a href="#">EDIT/ADD MUSIC</a></li>
                                                                <li><a href="#">EDIT/ADD VIDEO</a></li>*@
                                                            @*<li><a href="#">EDIT/ADD IMAGES</a></li>*@
                                                            @*<li><a href="#">EDIT/ADD DOCS</a></li>*@
                                                            @*<li><a href="#">EDIT/ADD LINKS</a></li>*@
                                                            <li ng-click="editBiography($event)"><a href="#">EDIT/ADD BIOGRAPHY</a></li>
                                                            <li ng-click="editProfile($event)"><a href="#">EDIT/ADD PROFILE </a></li>  @*PHOTO*@
                                                            <li ng-click="editGallery($event)"><a href="#">EDIT/ADD GALLERY</a></li>
                                                            @*<li><a href="#">EDIT/ADD TESTIMONIALS</a></li>*@
                                                            @*<li><a href="#">EDIT/ADD ENDRSEMENTS</a></li>*@
                                                            @*<li ng-click="editTags($event)"><a href="#">EDIT/ADD TOP TAG 10 TAGS</a></li>*@
                                                            <li ng-click="categories($event)"><a href="#">EDIT/ADD CATEGORIES</a></li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseTwo2')" aria-expanded="false" aria-controls="collapseTwo">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            MANAGE FEEDS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="viewMyFeeds($event)"><a href="#">MY FEEDS</a></li>
                                                    <li ng-click="savedFeeds()"><a href="#">SAVED FEEDS</a></li>@*<li><a href="#">FAVORITE FEEDS</a></li>*@
                                                    <li ng-click="followedFeeds()"><a href="#">FOLLOWED USERS</a></li>
                                                    @*<li><a href="#">FEED ACTIVITY</a></li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseThree3')" aria-expanded="false" aria-controls="collapseThree">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i> </span>
                                            SEARCH SITE
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                @*<ul class="list-unstyled editlist">
                                                        SUBMISSION HISTORY SUBMISSIONS TO FEED SUBMISSIONS FROM FEEDS
                                                        <li><a href="#">SEARCH ALL FEEDS</a></li>
                                                        <li><a href="#">SEARCH BY TAGS</a></li>
                                                        <li><a href="#">VIEW LATEST FEEDS</a></li>
                                                    </ul>*@
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="searchByUser($event)"><a href="#">SEARCH ALL USERS</a></li>
                                                    <li ng-click="searchByFeed($event)"><a href="#">SEARCH ALL FEEDS</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFour4')" aria-expanded="false" aria-controls="collapseFour">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            SUBMISSION HISTORY
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                    <li ng-click="getsubtofeed($event)"><a href="#">SUBMISSIONS TO MY FEEDS</a></li>
                                                    <li ng-click="getsubfromfeed($event)"><a href="#">FEEDS I SUBMITTED TO</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" onclick="togglecollapse('collapseFive5')" aria-expanded="false" aria-controls="collapseFive">
                                            <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                            ACCOUNT MANAGEMENT
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <ul class="list-unstyled editlist">
                                                    @*<li><a href="#">ACCOUNT INFO</a></li>*@
                                                    <li ng-click="editAccountInfo($event)"><a href="#">ACCOUNT INFO</a></li>
                                                    <li><a href="#">BILLING PROFILE</a></li>
                                                    <li ng-click="editSocialMedia($event)"><a href="#">LINK SOCIAL MEDIA</a></li>

                                                    @*<li><a href="#">MANAGE EMAIL NOTIFICATIONS</a></li>*@

                                                    <li ng-click="editEmailNotifications($event)"><a href="#">MANAGE EMAIL NOTIFICATIONS</a></li>

                                                    @*<li><a href="#">CUSTOMER SERVICE</a></li>*@
                                                    <li><a href="/Home/Contactus">CONTACT US</a></li>
                                                    <li><a href="#">TERMS / CONDITIONS / PRIVACY</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFive6">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive6" aria-expanded="false" aria-controls="collapseSix">
                                                <span class="edit_click"><i class="fa fa-square" aria-hidden="true"></i></span>
                                                ADMIN
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSix">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <ul class="list-unstyled editlist">
                                                        <li ng-click="trendingFeeds()"><a href="#">ADD/EDIT TRENDING FEED</a></li>
                                                        <li ng-click="featuredUsers()"><a href="#">ADD/EDIT FEATURED USERS</a></li>
                                                        @*<li ng-click="editSocialMedia($event)"><a href="#">LINK SOCIAL MEDIA</a></li>*@

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="tab-content">
            @RenderBody()
        </div>
    </section>
    @*<div class="tab-content">
            @RenderBody()
        </div>*@
    @*<div class="container body-content">
        @RenderBody()
        <hr />*@
    @*footer*@
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-ms-12 col-xs-12">
                    <audio id="audio">
                        @*<source src="http://dariographics.com/DUI/009/Veronica_Falls_-_Found_Love_In_a_Graveyard.ogg">*@

                    </audio>
                    <div class="audio-player">
                        <div class="controls">
                            <div class="controls_plays">

                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="musicBackwardBtn()">
                                    <svg id="prev_btn" viewBox="0 0 24.5 23.6">
                                        <polygon points="0,11.8 13.5,0 13.5,10.7 24.5,0 24.5,23.6 13.5,12.9 13.5,23.6 " />
                                    </svg>
                                </md-button>

                                <div class="md-icon-button md-button md-ink-ripple">
                                    <svg id="plays_btn" viewBox="0 0 24.5 30.9">
                                        <g id="play_btn">
                                            <path d="M0,30.9L0,0l24.5,15.4L0,30.9z" />
                                        </g>
                                        <g id="pause_btn">
                                            <rect x="0" y="0" width="8.2" height="30.9" />
                                            <rect x="16.2" y="0" width="8.2" height="30.9" />
                                        </g>
                                    </svg>
                                </div>


                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="musicForwardBtn()">
                                    <svg id="next_btn" viewBox="0 0 24.5 23.6">
                                        <polygon points="25,11.8 11.5,0 11.5,10.7 0.5,0 0.5,23.6 11.5,12.9 11.5,23.6 " />
                                    </svg>
                                </md-button>

                            </div>
                            <div class="controls_player">
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="volumeMuteFull()">
                                    <svg id="volume_btn" viewBox="0 0 23 23">
                                        <path d="M17.5,6.6v9.9L11.4,13H5.5v-3h6L17.5,6.6z M10.7,7H2.5v9h8.2l9.8,5.3V1.2L10.7,7z" />
                                    </svg>

                                </md-button>
                                <md-slider flex min="0" max="100" aria-label="volume" ng-model="volume" ng-change="changeVolume()">
                                </md-slider>
                                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="">
                                    <svg id="shuffle_btn" viewBox="0 0 23 23">
                                        <path d="M7.3,6l0.4,2.8l3.6-5l-5-3.6l0.5,3C3.6,4.4,1.1,7.4,1.1,11c0,4.4,2.4,8,7.4,8.3v-2.7
                        c-3-0.3-4.7-2.7-4.7-5.6C3.8,8.8,5.5,7,7.3,6z" />
                                        <path d="M21.5,11c0-4.4-4-8-8-8.3v2.7c2,0.3,5.2,2.7,5.2,5.6c0,2.2-1.2,4-3,5l-0.4-2.8l-3.6,5l5,3.6l-0.6-3
                        C19.4,17.6,21.5,14.6,21.5,11z" />
                                    </svg>

                                </md-button>

                                <md-menu md-offset="0 -7">
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                        <svg id="playlist_btn" viewBox="0 0 23 23">
                                            <rect x="1.5" y="2" width="20" height="3" />
                                            <rect x="1.5" y="9" width="20" height="3" />
                                            <rect x="1.5" y="17" width="20" height="3" />
                                        </svg>
                                    </md-button>
                                    <md-menu-content width="6">
                                        <md-menu-item ng-repeat="item in audioList">
                                            <md-button ng-click="playMusic($index)"> {{item.audioFileName}} </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @*</div>*@
    <environment names="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
        <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>

        <script src="~/lib/angular-material-data-table/dist/md-data-table.js"></script>
        <script type="text/javascript">
            window.MyApp = {};
        </script>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>

        <script src="~/lib/angular-payments/lib/angular-payments.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-read-more/dist/readmore.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>
        <script src="~/app/Validator.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/loginApp.js"></script>
        <script src="~/app/beforeLogin/viewComments.js"></script>
        <script src="~/app/beforeLogin/login.js"></script>
        <script src="~/app/beforeLogin/sendMessage.js"></script>
        <script src="~/app/beforeLogin/submitTothisFeed.js"></script>
        <script src="~/js/inputFileZone.js"></script>
        @*<script src="~/lib/toastr/toastr.js"></script>*@
        @*<script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/master/js/transition.js"></script>*@
        <script src="~/lib/jasny-bootstrap/js/transition.js"></script>

        <script src="~/lib/jasny-bootstrap/js/offcanvas.js"></script>
        @*<script type="text/javascript" src="https://cdn.rawgit.com/jasny/bootstrap/master/js/offcanvas.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/app/App.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/lib/angular/angular.min.js"></script>
            <script src="~/lib/angular-animate/angular-animate.min.js"></script>*@

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
        <script src="~/lib/angular-material-data-table/dist/md-data-table.js"></script>
        <script src="~/lib/angular-soundmanager2/dist/angular-soundmanager2.js"></script>

        <script type="text/javascript">
            window.MyApp = {};
        </script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script src="~/lib/angular-payments/lib/angular-payments.js"></script>

        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-read-more/dist/readmore.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/app/App.js"></script>
        <script src="~/app/common.js"></script>
        <script src="~/app/Validator.js"></script>
        <script src="~/app/config.js"></script>
        <script src="~/app/loginApp.js"></script>
        <script src="~/app/beforeLogin/viewComments.js"></script>
        <script src="~/app/beforeLogin/login.js"></script>
        <script src="~/app/beforeLogin/sendMessage.js"></script>
        <script src="~/app/beforeLogin/submitTothisFeed.js"></script>
        @*<script src="~/lib/toastr/toastr.js"></script>*@
        @*<script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/master/js/transition.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/jasny/bootstrap/master/js/offcanvas.js"></script>*@
        <script src="~/lib/jasny-bootstrap/js/transition.js"></script>

        <script src="~/lib/jasny-bootstrap/js/offcanvas.js"></script>
        <script src="~/js/inputFileZone.js"></script>

    </environment>
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        //MyApp.rootPath = '@Url.Content("~")';
        @RenderSection("jsCode", required: false)

    </script>

    <script type="text/javascript">
        // var for audio content

        var audio = document.getElementById('audio');
        var num = 0;
        // html5 function - toggle play/pause btn and audio

        $("#plays_btn").click(function () {

            if (audio.paused == false) {
                audio.pause();
                $("#play_btn").show();
                $("#pause_btn").hide();
            } else {
                audio.play();
                $("#play_btn").hide();
                $("#pause_btn").show();
            }
            setTimeout(function () {
                setDuration();
            }, 1500);
        });


        function setDuration() {
            num = audio.duration * 1030;

            var num1 = Math.ceil(num);
            setTimeout(function () {
                audioEnded()
            }, num1);
        }
        function audioEnded() {
            //alert(audioElement.duration);
            if (audio.ended) {
                $("#play_btn").show();
                $("#pause_btn").hide();
                num = 0;

            } else {
                $("#play_btn").hide();
                $("#pause_btn").show();
                num = 0;
            }

        };
        // function for timeline

        audio.addEventListener("timeupdate", function () {
            var currentTime = audio.currentTime,
                duration = audio.duration,
                currentTimeMs = audio.currentTime * 1000;
            $('.progressbar_range').stop(true, true).animate({ 'width': (currentTime + .25) / duration * 100 + '%' }, 250, 'linear');
        });


        // count function for timeleft

        audio.addEventListener("timeupdate", function () {
            var timeleft = document.getElementById('timeleft'),
                duration = parseInt(audio.duration),
                currentTime = parseInt(audio.currentTime),
                timeLeft = duration - currentTime,
                s, m;

            s = timeLeft % 60;
            m = Math.floor(timeLeft / 60) % 60;

            s = s < 10 ? "0" + s : s;
            m = m < 10 ? "0" + m : m;

            $('#timeleft').text("-" + m + ":" + s);

        });
        //that's all folks
        // sorry, others buttons dont work)

        function togglecollapse($this) {
            $("#" + $this).toggle('fast', function () {
                $("#" + $this).toggleClass('in');
            });
        }

    </script>
</body>
</html>
