﻿@{
    ViewData["Title"] = "About";
}


       <section class="trendingfeeds">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--Trending Header-->
            <div class="about-hdr"> <span class="trending-title">ABOUT US</span> </div>
            <!--End Trending Header-->
            <!--Trending Box-->
            <div class="about-text">
                <p>
                    Since 2006  the Production Market Place has been a one of the leading platforms where
                    producers, songwriters, manageres and label reps converge to make teh business of music
                    creation happen. The site's members have been instrumental in impacting the music
                    ladscape at its highest level with some of the biggest songs in the last decade being
                    produced and written by PMP Users.
                </p>
                <p>
                    Since 2006  the Production Market Place has been a one of the leading platforms where
                    producers, songwriters, manageres and label reps converge to make teh business of music
                    creation happen. The site's members have been instrumental in impacting the music
                    ladscape at its highest level with some of the biggest songs in the last decade being
                    produced and written by PMP Users.
                </p>
                <p>
                    Regards,<br />
                    PMP Support,
                </p>
            </div>
            <!--End Trending Box-->

        </div>
    </div>
</section>
<div class="clear"></div>
<div class="verified-profiles">
    <h3>CHECK OUT SOME OF OUR VERIFIED PROFILES</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 heroSlider-fixed">
                <div class="overlay">
                </div>
                <!-- Slider -->
                <div class="slider responsive">
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-cardi.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-ciroc.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                </div>
                <!-- control arrows -->
                <!--<div class="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </div>-->
                <!--<div class="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>-->
            </div>
        </div>
    </div><!--.container-->
</div>




  



@*<h1>ABOUT PMP</h1><br />
<div>
    <h4>
        Since 2006 the Production Market Place has been a one of the leading platforms where producers, songwriters, managers and label reps converge to make the business of music creation happen. The site’s members have been instrumental in impacting the music landscape at its highest level with some of the biggest songs in the last decade being produced and written by PMP users.<br /><br />


        Our staff has been dedicated to providing more effective tools that are better suited to the way the music industry is currently doing business. So we encourage visitors to register an account, upload your music, submit tracks to ALL active music feeds as well as create your own music feeds and feel free to contact us if you have any questions<br />

        <br />
        Regards,<br />
        <br />
        PMP Support
    </h4>

</div>

<h3><b>PMP QUOTABLES</b></h3><br />



<h4><b>Ben Maddahi /A&R Director Atlantic Records/VP A&R Artist Publishing Group</b></h4>
<h4>"I routinely comb through PMP for hot producers and songwriters. Some of our best and brightest producers on APG (Artist Publishing Group) were found on this very site."</h4><br />


<h4><b>Mike Caren/Exec VP of A&R Atlantic/Founder of APG</b></h4>
<h4>"..I logged into my PMP account a couple of weeks ago and tracked down about 6 or 7 guys that I found were talented...The PMP is a great lead. It's just as important for me to sign people that can be successful as people that can stay successful. It's crucial! It's one thing to place a record but it's another thing to keep placing records."</h4><br />


<h4><b>Jullian Boothe Sr VP A&R/Slip-N-Slide</b></h4>
<h4>"I'm utilizing the PMP big time! Everyday I've been logging in and listening to music and I've definitely found some new producers off the site like Dash and a few others that I'm waiting to reach back out to me so it's great because I'm hearing some real heat"</h4><br />


<h4>
    <b>Sha Money XL Sr VP A&R/Island Def Jam</b>
    "You definitely have to be active when it comes to working with digital technology. With the PMP for example I've been in the back office, listening to tracks and learning how you guys model is setup which is real dope and efficient so I'm all about being on the cutting edge as far as the Internet is concerned."
</h4><br />



<h4><b>DJ Frank E - Multi Platinum Producer (Justin Bieber, Wiz Khalifa, Chris Brown)</b></h4>
<h4>"I checked out the site and immediately signed up - it was the best thing I had found by far. 2 months later I got a call from Mike Caren at Atlantic Records after submitting for a Juvenile track dump. He was starting to build his publishing company at the time. He tested me for a few months, and we sent ideas back and forth. Shortly after, I gave him a song for Flo Rida's first album using a sample he'd sent me, and the rest of the story starts at the beginning of my discography."<br /></h4><br />


<h4><b>Ken Lewis Multi Platinum Producer/Engineer (Kanye West, J Cole)</b></h4>
<h4>"When I go back home people often come up to me saying they're stuck out here and they don't know what to do and I'm like your in the wrong place if you're really trying to make a name for yourself, but for now here is a few things you can do and utilizing a site like the PMP is one of them."<br /></h4><br />


<h4><b>Ian Holder – BMI Associate Director Writer Publisher Relations</b></h4>
<h4>"I just have to say with the PMP, even when I was at Columbia (in the A&R Department) when the site first started I saw the growth and its a great platform as far as using the Internet to filter through for quality music as well as help those with talent get the necessary exposure and connections to help elevate their careers."<br /></h4><br />


<h4><b>Youngfyre (Britney Spears,Tech N9ne,T-Pain)</b></h4>
<h4>"Because of my location it's the least expensive form of promotion I can use. So it's definitely a blessing for me. Without the net, and sites like PMP, I'd be no where near where I am today."<br /></h4><br />


<h4><b>DJ Shawdi P</b> -Using PMP had helped get my production in the right hands of the industry. The placement with French Montana has opened up a lot more opportunities available for me to work with some of the top artists in the industry today)<br /></h4><br />


<h4><b>VOCAINE (Revolt TV)</b> - "Hey PMP So after all the years on PMP I finally got a PUBLISHING DEAL with Missing Link Music Publishing out of New York thanks to you!! I signed a contract with them last week!! Lots of hard work in the making to become a professional producer!! They saw my "Pitbull Video" of me making the beat that PMP featured on the front page a couple months ago!!... So THANK YOU for that!! I will be writing beats and songs for all the top artists now..."<br /><br /></h4><br />


<h4><b>Kevin "BOS" Randolph</b> -“I would like to thank you directly Mitch and the people of PMP for assisting us with the French Montana placement "Throw it in the Bag". PMP is definitely one of the best ways to make contacts with the label heads without the politics... just straight music.”<br /></h4><br />*@

