﻿
@model ContactUsViewModel
@{
    ViewData["Title"] = "Contact Us";
}


@section scripts{


    <script src="~/app/register/app.js"></script>
    <script src="~/app/register/index.js"></script>
}


<div class="container-height" style="height:670px; color:black; width:1400px; background-image: url(../../img/contact-us.jpg);" >

    <div class="container  Logincontainer3 md-whiteframe-3dp">
        <h2 style="text-align:center"><a href="/Home"><img src="~/img/logo.png" /></a></h2>
        <div class="row">

            <div class="col-md-12" ng-controller="index as vm">
                <section class="login">
                    <form name="registerForm" id="registerForm" asp-controller="Home" asp-action="ContactUs" method="post" class="form-horizontal" role="form">
                        <h4 t>Contact Us Form</h4>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="text-success"></div>

                        <div class="col-md-12">
                            <md-input-container>
                                <label asp-for="Name">Full Name</label>
                                <input asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <md-input-container>
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </md-input-container>
                        </div>


                        <div class="col-md-12">
                            <md-input-container class="md-block">
                                <label asp-for="Message">Message</label>
                                <textarea asp-for="Message" ng-model="message" md-maxlength="250" rows="3" md-select-on-focus></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </md-input-container>
                        </div>

                        <div class="col-md-12">

                            <div class="col-md-4">
                                <md-button type="submit" class="md-raised md-primary loginColor">Submit</md-button>
                            </div>

                        </div>

                    </form>

                </section>
            </div>
        </div>
    </div>
</div>

