﻿

@{
    ViewData["Title"] = "ContactUs";
}


<!--End Active Feeds Bar-->
<div class="clearfix"></div>
<!--Contact Info-->
<section class="contactinfo">
    <div class="row margin-lt-rt">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding-lt-rt">
            <div class="contactgraybox">
                <div class="contactdata">
                    <h2 class="contacttitle">Contact Us</h2>
                    <p>Fill out the form below or send us an email, we look forward to answering any questions you may have.</p>
                    <div class="formaction">
                        <form method="post" action="">
                            <!-- input-group -->
                            <div class="input-group ">
                                <label for="YourName" class="inputtitle">Your Name (Required)</label>
                                <input class="form-control inputfield" type="text" name="lgnm_uid" placeholder="">
                            </div>
                            <!-- input-group -->
                            <div class="input-group">
                                <label for="Subject" class="inputtitle">Subject (Required)</label>
                                <input class="form-control inputfield" type="password" name="lgnm_pwd" placeholder="">
                            </div>
                            <!-- form-group -->
                            <div class="form-group">
                                <label for="Message" class="inputtitle">Your Message</label>
                                <textarea class="form-control textareafield" rows="5" id="comment"></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <div class="cls-md-12 align-center">
                                <input type="submit" value="Send Message" name="Send Message" class="btn btn-submit sendmessage">
                            </div>
                        </form>
                    </div>

                </div>
                <div class="socialData">
                    <div class="col-md-12">
                        <ul class="social-network social-circle">
                            <li><a href="#" class="icoFlickr" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="icoBehance" title="Behance"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding-lt-rt">
            <div class="googlemapBox">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.617540796688!2d-73.987853084594!3d40.748440479327876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire+State+Building!5e0!3m2!1sen!2sin!4v1497349074243" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<!--End Contact Info-->
<div class="clear"></div>
<div class="verified-profiles">
    <h3>CHECK OUT SOME OF OUR VERIFIED PROFILES</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 heroSlider-fixed">
                <div class="overlay">
                </div>
                <!-- Slider -->
                <div class="slider responsive">
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-cardi.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-ciroc.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                </div>
                <!-- control arrows -->
                <!--<div class="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </div>-->
                <!--<div class="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>-->
            </div>
        </div>
    </div><!--.container-->
</div>


<!--End Trending Feeds-->
<!--More Trending Feeds-->

