﻿

@{
    ViewData["Title"] = "FAQ";
}


<!--End Active Feeds Bar-->
<!--Trending Feeds-->
<section class="trendingfeeds accordionmain">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--F.A.Q.'S Header-->
            <div class="about-hdr"> <h2 class="trending-title">F.A.Q.'S</h2> </div>
            <!--End F.A.Q.'S Header-->
            <!--F.A.Q.'S Text-->
            <div class="accordionBox">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    What is the difference between basid and premium membership?
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                                <p>Sed maximus quis nibh at auctor. In feugiat odio eu tristique lobortis. Curabitur egestas eget eros in facilisis. Donec quis neque iaculis, dignissim nunc et, lobortis libero. Suspendisse a maximus odio, a ornare urna. Fusce ac lectus eleifend, luctus sapien eget, lobortis mi. Sed ac turpis sapien. Ut ornare tellus in ultricies placerat. Nam pellentesque dictum elit, pellentesque congue mauris egestas vel. Nam dictum, sapien non vehicula auctor, odio leo semper nunc, nec bibendum augue neque facilisis nulla. Sed nec dolor eget mi vehicula vehicula. Morbi in urna sed est feugiat feugiat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    What is the difference between basid and premium membership?
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                                <p>Sed maximus quis nibh at auctor. In feugiat odio eu tristique lobortis. Curabitur egestas eget eros in facilisis. Donec quis neque iaculis, dignissim nunc et, lobortis libero. Suspendisse a maximus odio, a ornare urna. Fusce ac lectus eleifend, luctus sapien eget, lobortis mi. Sed ac turpis sapien. Ut ornare tellus in ultricies placerat. Nam pellentesque dictum elit, pellentesque congue mauris egestas vel. Nam dictum, sapien non vehicula auctor, odio leo semper nunc, nec bibendum augue neque facilisis nulla. Sed nec dolor eget mi vehicula vehicula. Morbi in urna sed est feugiat feugiat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    What is the difference between basid and premium membership?
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                                <p>Sed maximus quis nibh at auctor. In feugiat odio eu tristique lobortis. Curabitur egestas eget eros in facilisis. Donec quis neque iaculis, dignissim nunc et, lobortis libero. Suspendisse a maximus odio, a ornare urna. Fusce ac lectus eleifend, luctus sapien eget, lobortis mi. Sed ac turpis sapien. Ut ornare tellus in ultricies placerat. Nam pellentesque dictum elit, pellentesque congue mauris egestas vel. Nam dictum, sapien non vehicula auctor, odio leo semper nunc, nec bibendum augue neque facilisis nulla. Sed nec dolor eget mi vehicula vehicula. Morbi in urna sed est feugiat feugiat.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    <i class="more-less glyphicon glyphicon-plus accordionicons"></i>
                                    Question 1
                                    <b class="border-btm">&nbsp;</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus luctus nibh, et malesuada elit interdum ut. Maecenas ultrices rutrum luctus. Vivamus a gravida urna. Pellentesque molestie pulvinar massa, et hendrerit dui. In condimentum dui non lobortis venenatis. Quisque eleifend non arcu vel posuere. Nullam sodales ipsum erat, nec mollis quam viverra consequat. Sed euismod vitae odio sit amet commodo. Sed sit amet dui tempus, rutrum metus ut, malesuada elit. Nunc pretium tellus eget nisi aliquet, quis egestas velit pellentesque.</p>
                            </div>
                        </div>
                    </div>


                </div><!-- panel-group -->


            </div><!--End F.A.Q.'S Text-->

        </div>
    </div>
</section>
<div class="clear"></div>
<div class="verified-profiles">
    <h3>CHECK OUT SOME OF OUR VERIFIED PROFILES</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 heroSlider-fixed">
                <div class="overlay">
                </div>
                <!-- Slider -->
                <div class="slider responsive">
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-cardi.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-ciroc.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                </div>
                <!-- control arrows -->
                <!--<div class="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </div>-->
                <!--<div class="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>-->
            </div>
        </div>
    </div><!--.container-->
</div>


<!--End Trending Feeds-->
<!--More Trending Feeds-->










