﻿@{
    ViewData["Title"] = "Home Page";
}
@section scripts{
    <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
}
<section class="trendingfeeds">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="trending-hdr" style="height:60px;"> <span class="trending-title">Here Are The Trending Music Feeds</span> </div>
            <div infinite-scroll="loadMorePosts()" infinite-scroll-disabled="busy"
                 infinite-scroll-distance='2'>
                <ul class="trendingBox">
                    <ol ng-repeat="feed in feedsListPartial track by $index">
                        <div class="trendleft">
                            <div class="trackBox">
                                <a href="#" class="trackimg"><img ng-src="{{feed.imageLink}}" class="media-object1" alt="image" /></a>
                                <div class="trackdata">
                                    <div class="bitlogoview">
                                        <span class="bitlogo" ng-if="feed.userProfile != Null">
                                            @*<img src="../img/trend-track-sm-logo1.jpg" />*@
                                            <img ng-src="{{feed.userProfile}}" />
                                        </span>
                                        <span class="bittext">
                                            <a href="{{feed.userProfileUrl}}" target="_blank">
                                                <span class="bittext1"> {{feed.createdUserName.replace('-',' ')}} </span>
                                            </a>
                                            @*'s CATALOG <i class="rightmark">
                                                    <img src="../img/blue-checkmark.png" />
                                                </i>*@
                                        </span>
                                    </div>
                                    <div class="trackinfo">
                                        <h5>{{feed.title}}</h5>
                                        <p>{{feed.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="trackbottom">
                                <ul class="listoflow">
                                    <li ng-if="feed.isFollow >= 1">
                                        <a href="#" class="followlink" style="cursor:pointer; z-index:9990;"
                                           ng-click="openLogin('@User.Identity.Name',feed.id,$index,'Follow',feed.userId)">FOLLOWING</a>
                                    </li>
                                    <li ng-if="feed.isFollow == 0">
                                        <a href="#" class="followlink" style="cursor:pointer; z-index:9990;"
                                           ng-click="openLogin('@User.Identity.Name',feed.id,$index,'Follow',feed.userId)">FOLLOW ME</a>
                                    </li>

                                    @*<li><a href="#" class="followlink">Save Feed</a></li>*@
                                    <li ng-if="feed.saveFeedStatus == 0">
                                        <a href="#" class="followlink" ng-click="openLogin('@User.Identity.Name',feed.id,$index,'SAVE FEED',feed)">SAVE FEED</a>
                                    </li>
                                    <li ng-if="feed.saveFeedStatus == 1">
                                        <a href="#" class="followlink" ng-click="openLogin('@User.Identity.Name',feed.id,$index,'SAVE FEED',feed)">SAVED FEED</a>
                                    </li>
                                    <li ng-if="feed.audioFileName != null || feed.audioLink != '' ">

                                        <a ng-if="feed.songPlaying == false" href="#" class="followlink" ng-click="playMusic(feed)" music-player="play" add-song="newSong">
                                           Listen Now 
                                        </a>
                                        <a ng-if="feed.songPlaying == true" href="#" class="followlink" play-pause-toggle data-play="Listen Now" data-pause="Pause">
                                            PAUSE
                                        </a>
                                    </li>
                                </ul>
                                <div class="trackbottom-rt">
                                    @*ng-click="displayComments(feed.id,$index)"*@
                                    <ul class="likelist">
                                        <li><a href="#" style="cursor:pointer; z-index:9990;" ng-click="displayComments(feed.id,$index)">View comments</a></li>
                                        <li><a href="#" style="cursor:pointer; z-index:9990;" ng-click="openLogin('@User.Identity.Name',feed.id,$index,'Message',feed.userId)">Message</a></li>
                                        <li>
                                            <a href="#" style="cursor:pointer; z-index:9990;" ng-click="openLogin('@User.Identity.Name',feed.id,$index,'Like Feed','')">Like Feed</a>
                                            <span ng-show="feed.isLikes==1">You Liked,</span>
                                            <span ng-show="feed.likeCount>0">Total {{feed.likeCount}} likes</span>
                                        </li>
                                    </ul>
                                    <form id="frmcomments" name="frmcomments" novalidate>
                                        <textarea id="comments{{$index}}" name="comments" cols="" rows="" class="commentsarea" placeholder="Comment" ng-model="feed.Comment"></textarea>
                                        @*<div class="text-danger" ng-show="iscomment">Comment is required</div>*@
                                        <div ng-show="frmcomments.comments.$invalid && (!frmcomments.comments.$pristine || iscomment )" ng-messages="frmComment.Comment.$error">
                                            <div class="text-danger">Comment is required.</div>
                                        </div>
                                        <a href="#" class="postBtn" style="cursor:pointer;" ng-click="openLogin('@User.Identity.Name',feed.id,$index,'Post Comment','',frmcomments)">Post Comment</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="trendright">
                            <div class="submitBox">
                                @*<input type="file" id="file{{$index}}" class="dropzone" />*@
                                @*<input type="file" data-fid="{{feed.id}}" data-cid="{{feed.userId}}" id="picupload" accept="image/*,audio/*,video/*" class="dropzone picupload" data-ulid="@User.Identity.Name" />*@
                                <input type="button" ng-click="openLogin('@User.Identity.Name',feed.id,feed.title,'submitTofeed',feed.userId)" class="dropzone" />
                            </div>
                            @*<ul class="social_links">
                                    <li><a href="#" class=""><img src="../img/social-icon-flag.jpg" /></a></li>
                                    <li><a href="#" class=""><img src="../img/social-icon-fb.jpg" /></a></li>
                                    <li><a href="#" class=""><img src="../img/social-icon-twitter.jpg" /></a></li>
                                    <li><a href="#" class=""><img src="../img/social-icon-google-plus.jpg" /></a></li>
                                </ul>*@
                            <ul class="social_links2">
                                @*<li ng-if="getSocialMediaLinks[1].mediaName=='Flag'"><a href=javascript:void(0); ng-click="openLogin('@User.Identity.Name',getSocialMediaLinks[1].mediaLink,$index,'media','flag','')"><img src="../img/social-icon-flag.jpg" class="img-responsive" title={{getSocialMediaLinks[1].mediaName}} alt="image"></a></li>*@
                                <li ng-if="getSocialMediaLinks[0].mediaName=='Facebook'"><a href=javascript:void(0); ng-click="openLogin('@User.Identity.Name',getSocialMediaLinks[0].mediaLink,$index,'media','facebook','')"><img src="../img/social-icon-fb.jpg" class="img-responsive" title={{getSocialMediaLinks[0].mediaName}} alt="image"></a></li>
                                <li ng-if="getSocialMediaLinks[3].mediaName=='Twitter'"><a href=javascript:void(0); ng-click="openLogin('@User.Identity.Name',getSocialMediaLinks[3].mediaLink,$index,'media','twitter','')"><img src="../img/social-icon-twitter.jpg" class="img-responsive" title={{getSocialMediaLinks[3].mediaName}} alt="image"></a></li>
                                <li ng-if="getSocialMediaLinks[2].mediaName=='Google+'"><a href=javascript:void(0); ng-click="openLogin('@User.Identity.Name',getSocialMediaLinks[2].mediaLink,$index,'media','google+','')"><img src="../img/social-icon-google-plus.jpg" class="img-responsive" title={{getSocialMediaLinks[2].mediaName}} alt="image"></a></li>
                            </ul>
                            <div class="hrs-block">
                                <span>DAYS:HRS</span>
                                <p>FEED EXPIRES IN&nbsp;::&nbsp;<span>{{feed.feedExpireIN}}</span></p>
                            </div>
                            @*<div class="hrsbox"> <span class="hrsleft">Feed Expires in::</span> <span class="hrsright">{{feed.feedExpireIN}}<small class="mintext">DS : HRS</small></span> </div>*@
                        </div>
                    </ol>
                </ul>
            </div>
            <div ng-show="busy" class="col-md-12 col-md-offset-5">
                <md-progress-circular ng-if="showSpinner1" ng-disabled="!activated1" class="md-accent md-hue-1" md-diameter="80">
                </md-progress-circular>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/inputFileZone.js"></script>
<style>
    .mintext {
        left: 18px !important;
    }

    ul, li.ng-scope {
        display: -webkit-inline-box;
    }

    .media-object1 {
        height: 152px;
        width: 200px;
    }

    .img-responsive {
        height: 37px;
        padding: 1px;
    }

    .closest-dropzone {
        background-color: #EDEDED;
        box-shadow: inset 0 0 2px #6F726F;
        border-style: solid;
        border-color: #A6B4AD;
        border-width: 1px;
        border-radius: 5px;
    }

        .closest-dropzone:hover {
            /*background-color: #DADFE3;*/
            background-color: rgb(226, 195, 195);
            box-shadow: inset 0 0 2px #1A1A1A;
            border-color: #8c0000;
        }

            .closest-dropzone:hover > span {
                color: #8c0000;
                text-shadow: 0 0 0px #1A1A1A;
            }

    .dropzone-upload {
        background-color: #78C6D3 !important;
        box-shadow: inset 0 0 2px #6F726D !important;
        border-color: #3598DC !important;
    }

        .dropzone-upload > span {
            text-shadow: 0 0 2px #1A1A1A !important;
        }

    .closest-dropzone > span {
        color: #A6B4AD;
        text-shadow: 0 0 0px #1A1A1A;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropzone').inputFileZone();
    });
</script>


