﻿



@{
    ViewData["Title"] = "Our Policies";
}


<section class="trendingfeeds">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--Trending Box-->
            <div class="our-polices">
                <h2>OUR POLICES</h2>
                <h3>TERMS & CONDITIONS</h3>
                <p>Cras non interdum felis. Lorem  dolor sit amet, consectetur adipscing elit. Donec conswquat consecterur turpis vel egestas. Aliquam nec risus sit amet dolor pulvinar mattis venenatis ut prci. Donec vitae tortor fermentum, aliquam felis vitae, efficitur magna. Etiam feugiat suscipit efficitur. Praesent ipsum lacus, malesuada sit amet dolor et, vulputate placerat lacus. Cras pharetra facilisis sapien sit amet feugiat.</p>
                <h3>PRIVACY & COOKIE POLICY</h3>
                <p>Cras non interdum felis. Lorem  dolor sit amet, consectetur adipscing elit. Donec conswquat consecterur turpis vel egestas. Aliquam nec risus sit amet dolor pulvinar mattis venenatis ut prci. Donec vitae tortor fermentum, aliquam felis vitae, efficitur magna. Etiam feugiat suscipit efficitur. Praesent ipsum lacus, malesuada sit amet dolor et, vulputate placerat lacus. Cras pharetra facilisis sapien sit amet feugiat.</p>
                <h3>CANCELLATION & REFUND POLICY</h3>
                <p>Cras non interdum felis. Lorem  dolor sit amet, consectetur adipscing elit. Donec conswquat consecterur turpis vel egestas. Aliquam nec risus sit amet dolor pulvinar mattis venenatis ut prci. Donec vitae tortor fermentum, aliquam felis vitae, efficitur magna. Etiam feugiat suscipit efficitur. Praesent ipsum lacus, malesuada sit amet dolor et, vulputate placerat lacus. Cras pharetra facilisis sapien sit amet feugiat.</p>
                <h3>MEMBERSHIP TERMS & GUIDELINES</h3>
                <p>Cras non interdum felis. Lorem  dolor sit amet, consectetur adipscing elit. Donec conswquat consecterur turpis vel egestas. Aliquam nec risus sit amet dolor pulvinar mattis venenatis ut prci. Donec vitae tortor fermentum, aliquam felis vitae, efficitur magna. Etiam feugiat suscipit efficitur. Praesent ipsum lacus, malesuada sit amet dolor et, vulputate placerat lacus. Cras pharetra facilisis sapien sit amet feugiat.</p>
                <h3>FEED POSTING RULES & REGULATIONS</h3>
                <p>Cras non interdum felis. Lorem  dolor sit amet, consectetur adipscing elit. Donec conswquat consecterur turpis vel egestas. Aliquam nec risus sit amet dolor pulvinar mattis venenatis ut prci. Donec vitae tortor fermentum, aliquam felis vitae, efficitur magna. Etiam feugiat suscipit efficitur. Praesent ipsum lacus, malesuada sit amet dolor et, vulputate placerat lacus. Cras pharetra facilisis sapien sit amet feugiat.</p>
            </div>
            <!--End Trending Box-->
        </div>
    </div>
</section>
<!--End Trending Feeds-->
<!--More Trending Feeds-->
<section class="more-trending">
    <div class="trendheader">CONTACT US</div>
</section>
