﻿

@{
    ViewData["Title"] = "Pricing";
}

<!--End Active Feeds Bar-->
<!--Trending Feeds-->
<head>
    <environment names="Development">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
        <link href="~/clientCSS/mediatags.css" rel="stylesheet" />
        <link href="~/clientCSS/common.css" rel="stylesheet" />
        <link href="~/clientCSS/YouTubeDefaultImageLoader.css" rel="stylesheet">
        <link href="~/clientCSS/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />
        <!--Polymer-->
        <link href="~/lib/paper-item/paper-item.html" rel="import" />
        <link href="~/lib/paper-dropdown/paper-dropdown.html" rel="import" />
        <link href="~/lib/core-collapse/core-collapse.html" rel="import" />
        <link href="~/lib/paper-menu-button/paper-menu-button.html" rel="import" />
        <link href="~/lib/paper-icon-button/paper-icon-button.html" rel="import" />
        <link href="~/lib/core-menu-button/core-menu-button.html" rel="import" />
        <link href="~/lib/paper-button/paper-button.html" rel="import">
        <link href="~/lib/core-icon/core-icon.html" rel="import" />
        <link href="~/lib/core-menu/core-menu.html" rel="import" />"
        <link href="~/lib/paper-fab/paper-fab.html" rel="import" />
        <link href="~/lib/core-header-panel/core-header-panel.html" rel="import" />
        <link href="~/lib/core-toolbar/core-toolbar.html" rel="import" />
        <link href="~/lib/core-animated-pages/core-animated-pages.html" rel="import">
        <link href="~/lib/paper-input/paper-input.html" rel="import" />
        <link href="~/lib/paper-radio-button/paper-radio-button.html" rel="import" />
        <link href="~/lib/paper-checkbox/paper-checkbox.html" rel="import" />
        <link href="~/lib/paper-input/paper-input-decorator.html" rel="import" />
        <link href="~/lib/paper-input/paper-autogrow-textarea.html" rel="import" />
        <link href="~/lib/core-label/core-label.html" rel="import" />

        <link href="~/lib/core-animated-pages/transitions/slide-from-right.html" rel="import" />



        <link href="~/lib/polymer/polymer.html" rel="import">
        <link href="~/lib/core-a11y-keys/core-a11y-keys.html" rel="import">
        <link href="~/lib/core-dropdown/core-dropdown-base.html" rel="import">
        <link href="~/lib/core-focusable/core-focusable.html" rel="import">
        <link href="../lib/core-icon/core-icon.html" rel="import">
        <link href="../lib/core-icons/core-icons.html" rel="import">
        <link href="../lib/paper-shadow/paper-shadow.html" rel="import">

    </environment>
    <environment names="Staging,Production">
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css'>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/clientCSS/style.css" rel="stylesheet" />
        <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
        <link href="~/clientCSS/mediatags.css" rel="stylesheet" />
        <link href="~/clientCSS/common.css" rel="stylesheet" />
        <link href="~/clientCSS/ie10-viewport-bug-workaround.css" rel="stylesheet" />
        <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
        <link href="~/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/ng-img-crop/compile/unminified/ng-img-crop.css" rel="stylesheet" />
        <!--Polymer-->
        <link href="~/lib/paper-item/paper-item.html" rel="import" />
        <link href="~/lib/paper-dropdown/paper-dropdown.html" rel="import" />
        <link href="~/lib/core-collapse/core-collapse.html" rel="import" />
        <link href="~/lib/paper-menu-button/paper-menu-button.html" rel="import" />
        <link href="~/lib/paper-icon-button/paper-icon-button.html" rel="import" />
        <link href="~/lib/core-menu-button/core-menu-button.html" rel="import" />
        <link href="~/lib/paper-button/paper-button.html" rel="import">
        <link href="~/lib/core-icon/core-icon.html" rel="import" />
        <link href="~/lib/core-menu/core-menu.html" rel="import" />"
        <link href="~/lib/paper-fab/paper-fab.html" rel="import" />
        <link href="~/lib/core-header-panel/core-header-panel.html" rel="import" />
        <link href="~/lib/core-toolbar/core-toolbar.html" rel="import" />
        <link href="~/lib/core-animated-pages/core-animated-pages.html" rel="import">
        <link href="~/lib/paper-input/paper-input.html" rel="import" />
        <link href="~/lib/paper-radio-button/paper-radio-button.html" rel="import" />
        <link href="~/lib/paper-checkbox/paper-checkbox.html" rel="import" />
        <link href="~/lib/paper-input/paper-input-decorator.html" rel="import" />
        <link href="~/lib/paper-input/paper-autogrow-textarea.html" rel="import" />
        <link href="~/lib/core-label/core-label.html" rel="import" />

        <link href="~/lib/core-animated-pages/transitions/slide-from-right.html" rel="import" />



        <link href="~/lib/polymer/polymer.html" rel="import">
        <link href="~/lib/core-a11y-keys/core-a11y-keys.html" rel="import">
        <link href="~/lib/core-dropdown/core-dropdown-base.html" rel="import">
        <link href="~/lib/core-focusable/core-focusable.html" rel="import">
        <link href="../lib/core-icon/core-icon.html" rel="import">
        <link href="../lib/core-icons/core-icons.html" rel="import">
        <link href="../lib/paper-shadow/paper-shadow.html" rel="import">

    </environment>
</head>
<div ng-app="main" ng-controller="loginHomeVeiwModel" ng-cloak>
    <section class="trendingfeeds">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--Pricing Header-->
                <div class="pricing-hdr">
                    <span class="pricing-title">Select Your Music Feed Pro Membership Plan</span>
                </div>
                <!--End Pricing Header-->
            </div>
            <!--Pricing Data-->
            <article class="pricingData">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="priceListBox">
                        <h3 class="basic-title"><img class="basicimg" src="~/img/pricing-basic.png" /></h3>
                        <li>Create Your Profile</li>
                        <li>Get Your Free Feed Link</li>
                        <li>Up To 5 Submissions</li>
                        <li>Post Up To 2 Feeds</li>
                        <li>Create Customized Feed Line</li>
                        <li>Upload Up To 10 Tracks</li>

                        <span class="blackbg"><a href="#" class="signupBtn" ng-click="openBasicRegister()">Sign Up <strong>(Free)</strong></a></span>
                        @*<span class="blackbg"><a href="#" class="signupBtn">Sign Up <strong>(Free)</strong> </a></span>*@
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <ul class="priceListBox">
                        <h3 class="basic-title"><img class="proimg" src="~/img/pricing-pro.png" /></h3>
                        <li>Create Your Profile</li>
                        <li>Get Your Free Feed Link</li>
                        <li>Up To 5 Submissions</li>
                        <li>Post Up To 2 Feeds</li>
                        <li>Create Customized Feed Line</li>
                        <li>Upload Up To 10 Tracks</li>
                        <span class="blackbg"><a href="#" class="signupBtn" ng-click="openRegister()">Sign Up <strong>(4.99)<b class="monthly">monthly</b></strong> </a></span>
                        @*<span class="blackbg"><a href="#" class="signupBtn">Sign Up <strong>(4.99)<b class="monthly">monthly</b></strong> </a></span>*@
                    </ul>
                </div>
            </article>
            <!--End Pricing Data-->
        </div>
    </section>
    <div class="clear"></div>
    <div class="verified-profiles">
        <h3>CHECK OUT SOME OF OUR VERIFIED PROFILES</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 heroSlider-fixed">
                    <div class="overlay">
                    </div>
                    <!-- Slider -->
                    <div class="slider responsive">
                        <div>
                            <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-cardi.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-ciroc.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                        <div>
                            <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                        </div>
                    </div>

                    <!-- control arrows -->
                    <!--<div class="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </div>-->
                    <!--<div class="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </div>-->
                </div>
            </div>
            <environment names="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>
                <script src="~/js/inputFileZone.js"></script>
                <script src="~/js/scrolltopcontrol.js"></script>

                <script src="~/lib/angular/angular.js"></script>
                <script src="~/lib/angular-animate/angular-animate.js"></script>
                <script src="~/lib/angular-aria/angular-aria.js"></script>
                <script src="~/lib/angular-material/angular-material.js"></script>
                <script src="~/lib/angular-route/angular-route.js"></script>
                <script src="~/lib/angular-messages/angular-messages.js"></script>
                <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
                <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
                <script type="text/javascript">
                    window.MyApp = {};
                </script>

                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/app/App.js"></script>
                <script src="~/app/common.js"></script>
                <script src="~/app/Validator.js"></script>
                <script src="~/app/config.js"></script>
                <script src="~/app/loginApp.js"></script>
                <script src="~/app/beforeLogin/viewComments.js"></script>
                <script src="~/app/beforeLogin/login.js"></script>
                <script src="~/app/register/app.js"></script>
                <script src="~/app/beforeLogin/sendMessage.js"></script>
                <script src="~/app/register/index.js"></script>
                <script src="~/app/register/addTags.js"></script>
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                @*<script src="~/lib/toastr/toastr.js"></script>*@
            </environment>
            <environment names="Staging,Production">

                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js'></script>

                <script src="~/js/inputFileZone.js"></script>
                <script src="~/js/scrolltopcontrol.js"></script>



                <script src="~/lib/angular/angular.js"></script>
                <script src="~/lib/angular-animate/angular-animate.js"></script>
                <script src="~/lib/angular-aria/angular-aria.js"></script>
                <script src="~/lib/angular-material/angular-material.js"></script>
                <script src="~/lib/angular-route/angular-route.js"></script>
                <script src="~/lib/angular-messages/angular-messages.js"></script>
                <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
                <script src="~/lib/ng-img-crop/compile/unminified/ng-img-crop.js"></script>
                <script type="text/javascript">
                    window.MyApp = {};
                </script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/app/App.js"></script>
                <script src="~/app/common.js"></script>
                <script src="~/app/Validator.js"></script>
                <script src="~/app/config.js"></script>
                <script src="~/app/loginApp.js"></script>
                <script src="~/app/beforeLogin/viewComments.js"></script>
                <script src="~/app/beforeLogin/login.js"></script>
                <script src="~/app/beforeLogin/sendMessage.js"></script>
                @*<script src="~/lib/toastr/toastr.js"></script>*@
                <script src="~/app/register/app.js"></script>
                <script src="~/app/register/index.js"></script>
                <script src="~/app/register/addTags.js"></script>
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
            </environment>
            <script src="~/js/inputFileZone.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.dropzone').inputFileZone();
                });
            </script>
            <script>
                
                $(document).ready(function () {
                    $('.responsive').slick({
                        dots: true,
                        prevArrow: $('.prev'),
                        nextArrow: $('.next'),
                        infinite: false,
                        speed: 300,
                        slidesToShow: 5,
                        slidesToScroll: 1,
                        responsive: [
                          {
                              breakpoint: 1024,
                              settings: {
                                  slidesToShow: 3,
                                  slidesToScroll: 3,
                                  infinite: true,
                                  dots: true
                              }
                          },
                          {
                              breakpoint: 600,
                              settings: {
                                  slidesToShow: 2,
                                  slidesToScroll: 2
                              }
                          },
                          {
                              breakpoint: 480,
                              settings: {
                                  slidesToShow: 1,
                                  slidesToScroll: 1
                              }
                          }
                          // You can unslick at a given breakpoint now by adding:
                          // settings: "unslick"
                          // instead of a settings object
                        ]
                    });
                });

                $(document).ready(function () {
                    $('.full_screenbanner').fadeOut(100);
                });
            </script>
        </div><!--.container-->
    </div>
</div>
<!--End Trending Feeds-->
<!--More Trending Feeds-->
