﻿@{
    ViewData["Title"] = "Tag Combos";
}


<section class="more-trending">
    <div class="clearfix"></div>
    <h4 class="quote-title"> <small class="first-title">Search Music By </small>Tag Combos</h4>
    <!--Full Quote Carousel-->
    <article class="full_quote">
        <div class="container-fluid">
            <div class='row'>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="carousel slide tagcomboscarousel" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <h5>808 Acapella <strong>Acoustic</strong> Adult-Contemporary Alternative Ambient Anthem Auto-tune Ballad Bass <strong>Boom Bap Bounce</strong> Brass Bright Calm Chorus Classical Club Country Crossover</h5>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <h5>808 Acapella <strong>Acoustic</strong> Adult-Contemporary Alternative Ambient Anthem Auto-tune Ballad Bass <strong>Boom Bap Bounce</strong> Brass Bright Calm Chorus Classical Club Country Crossover</h5>
                                </blockquote>
                            </div>
                        </div>

                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><img src="~/img/tagcombos-leftarrow.png" /></a>
                        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><img src="~/img/tagcombos-rightarrow.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!--End Full Quote Carousel-->
</section>
<!--End More Trending Feeds-->
<!--Tag Combos Result-->
<section class="tagcombosresult">
    <div class="container-fluid">
        <div class='row'>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="bytag">Search Music By <strong>Tag Combos</strong></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <ul class="keyresult">
                    <li><span class="keytext">Acoustic</span><a href="#" class="keyclose">[ x ]</a></li>
                    <li><span class="keytext">Boom Bap</span><a href="#" class="keyclose">[ x ]</a></li>
                    <li><span class="keytext">Bounce</span><a href="#" class="keyclose">[ x ]</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="uptotags">Search Up To 3 Tags</div>
            </div>
        </div>
        <div class="clear"></div>
        <!--Show Result Box-->
        <div class="showresultBox">
            <div class="showing">Showing 30 of 30 results</div>
            <!--Result List-->
            <ul class="resultList">
                <!--Result List 1-->
                <li>
                    <span class="countmusic">1. Music</span>
                    <div class="resultData">
                        <div class='row'>
                            <div class="col-lg-5 col-md-5 col-sm-512col-xs-12">
                                <div class="resultDataleft">
                                    <div class="musicthumb"><img src="~/img/musicthumb-img1.jpg" /></div>
                                    <div class="musictitleBox">
                                        <span class="maintitle">DiDs</span>
                                        <span class="subtitle">You'll be gone tomorrow</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 pad1">
                                <div class="musicplayBox">
                                    <a href="#" class="circlebg"></a>
                                    <span class="playpause"><a href="#" class="palytext">Play</a> / <a href="#" class="pausetext">Pause</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="musicviewLists">
                                    <ol><a href="#">View Profile</a></ol>
                                    <ol><a href="#">Add To PlayList</a></ol>
                                    <ol><a href="#">Message Member</a></ol>
                                </ul>
                            </div>
                        </div>

                    </div>
                </li>
                <!--End Result List 1-->
                <!--Result List 2-->
                <li>
                    <span class="countmusic">2. Music</span>
                    <div class="resultData">
                        <div class='row'>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="resultDataleft">
                                    <div class="musicthumb"><img src="~/img/musicthumb-img2.jpg" /></div>
                                    <div class="musictitleBox">
                                        <span class="maintitle">DiDs</span>
                                        <span class="subtitle">Smile</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 pad1">
                                <div class="musicplayBox">
                                    <a href="#" class="circlebg"><i class="pauseicon"><img src="~/img/music-pause-icon.png" /></i></a>
                                    <span class="playpause"><a href="#" class="palytext"><strong>Play</strong></a> / <a href="#" class="pausetext">Pause</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="musicviewLists">
                                    <ol><a href="#">View Profile</a></ol>
                                    <ol><a href="#">Add To PlayList</a></ol>
                                    <ol><a href="#">Message Member</a></ol>
                                </ul>
                            </div>
                        </div>

                    </div>
                </li>
                <!--End Result List 2-->
                <!--Result List 3-->
                <li>
                    <span class="countmusic">3. Music</span>
                    <div class="resultData">
                        <div class='row'>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="resultDataleft">
                                    <div class="musicthumb"><img src="~/img/musicthumb-img3.jpg" /></div>
                                    <div class="musictitleBox">
                                        <span class="maintitle">DiDs</span>
                                        <span class="subtitle">Neverland</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 pad1">
                                <div class="musicplayBox">
                                    <a href="#" class="circlebg"><i class="playicon"><img src="~/img/music-play-icon.png" /></i></a>
                                    <span class="playpause"><a href="#" class="palytext">Play</a> / <a href="#" class="pausetext"><strong>Pause</strong></a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="musicviewLists">
                                    <ol><a href="#">View Profile</a></ol>
                                    <ol><a href="#">Add To PlayList</a></ol>
                                    <ol><a href="#">Message Member</a></ol>
                                </ul>
                            </div>
                        </div>

                    </div>
                </li>
                <!--End Result List 3-->
                <!--Result List 4-->
                <li>
                    <span class="countmusic">4. Music</span>
                    <div class="resultData">
                        <div class='row'>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div class="resultDataleft">
                                    <div class="musicthumb"><img src="~/img/musicthumb-img4.jpg" /></div>
                                    <div class="musictitleBox">
                                        <span class="maintitle">DiDs</span>
                                        <span class="subtitle">Respect</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12 pad1">
                                <div class="musicplayBox">
                                    <a href="#" class="circlebg"><i class="playicon"><img src="~/img/music-play-icon.png" /></i></a>
                                    <span class="playpause"><a href="#" class="palytext">Play</a> / <a href="#" class="pausetext">Pause</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="musicviewLists">
                                    <ol><a href="#">View Profile</a></ol>
                                    <ol><a href="#">Add To PlayList</a></ol>
                                    <ol><a href="#">Message Member</a></ol>
                                </ul>
                            </div>
                        </div>

                    </div>
                </li>
                <!--End Result List 4-->
            </ul>
            <!--End Result List-->

            <div class="paginationwrap">
                <ul class="pagination">
                    <span class="pagetext">Page:</span>
                    <li class="disabled leftarrow"><a href="#"><img src="~/img/page-left-arrow.png" /></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li class="rightarrow"><a href="#"><img src="~/img/page-right-arrow.png" /></a></li>
                </ul>
            </div>

        </div>
        <!--End Show Result Box-->
    </div>
</section>
<!--End Tag Combos Result-->
<!--Big Quotes Block-->








