﻿

@{
    ViewData["Title"] = "Totorials";
}


<!--Trending Feeds-->
<section class="trendingfeeds">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--Trending Header-->
            <div class="about-hdr"> <span class="trending-title">MusicfeedPRO - Tutorials</span> </div>
            <!--End Trending Header-->
        </div>
    </div>
    <!--Tutorials Data-->
    <article class="tutorialsData">

        <!-- Modal Template -->
        <div class="modal fade" id="youtubeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <button id="CloseModalButton" type="button" class="btn btn-default closeicon" data-dismiss="modal">X</button>
                    <div class="modal-body modal-left">
                        <div id="videoModalContainer">

                        </div>
                    </div>
                    <div class="modal-right">
                        <div class="getfeed">
                            <img src="~/img/getonthefeed-img.jpg" />
                            <span class="getfeedtext">Get On The Feed</span>
                        </div>
                        <a href="#sectionK" class="videosignupbtn" id="" data-toggle="modal" data-target="#">Sign Up</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Template -->

        <div class="row">
            <!-- DIV Container for each Video -->
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="e1g9s2cUqq4" class="youtubeVideoLoader">
                    <div class="youtubetext"><img src="~/img/youtube-playicon.png" /></div>
                </div>
                <div class="tutorialtital">Tutorial 1</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="6p0pJOZA0UI" class="youtubeVideoLoader">
                    <div class="youtubetext"><img src="~/img/youtube-playicon.png" /></div>
                </div>
                <div class="tutorialtital">Tutorial 1</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="wPCF0bYIRUE" class="youtubeVideoLoader">
                    <div class="youtubetext"><img src="~/img/youtube-playicon.png" /></div>
                </div>
                <div class="tutorialtital">Tutorial 1</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="joc9l83c3MU" class="youtubeVideoLoader">
                    <div class="youtubetext"><img src="~/img/youtube-playicon.png" /></div>
                </div>
                <div class="tutorialtital">Tutorial 1</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="Zzc4MB-b78A" class="youtubeVideoLoader">
                    <div class="youtubetext"><img src="~/img/youtube-playicon.png" /></div>
                </div>
                <div class="tutorialtital">Tutorial 1</div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div id="yxAGiPSTMp8" class="youtubeVideoLoader">
                    <div class="youtubetext"><img src="~/img/youtube-playicon.png" /></div>
                </div>
                <div class="tutorialtital">Tutorial 1</div>
            </div>

        </div>

    </article>
    <!--End Tutorials Data-->
</section>
<div class="clear"></div>
<div class="verified-profiles">
    <h3>CHECK OUT SOME OF OUR VERIFIED PROFILES</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 heroSlider-fixed">
                <div class="overlay">
                </div>
                <!-- Slider -->
                <div class="slider responsive">
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-cardi.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-ciroc.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-vh1.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-arista.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                    <div>
                        <img src="~/img/verified-logo.jpg" alt="Image" style="max-width:100%;" />
                    </div>
                </div>
                <!-- control arrows -->
                <!--<div class="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </div>-->
                <!--<div class="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>-->
            </div>
        </div>
    </div><!--.container-->
</div>


<!--End Trending Feeds-->
<!--More Trending Feeds-->










