﻿
@model PMPMusic.ViewModel.PostFeedVM
@{
    Layout = null;
    ViewData["Title"] = "Feed Details";
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @if (Model != null)
        {

            <table class="table table-striped">

                <tbody>
                    <tr>
                       
                        <td>Title</td>
                        <td>@Model.Title</td>
                        
                    </tr>
                    <tr>

                        
                        <td>Description</td>
                        <td>@Model.Description</td>
                        
                    </tr>
                    <tr>

                     
                        <td><img src=@Model.ImageLink /></td>
                    </tr>
                    
                </tbody>
            </table>
        }


    </div>
</body>
</html>