﻿@*@model IList<PMPMusic.ViewModel.FeedItem>*@
@model IList<PMPMusic.ViewModel.PostFeedVM>
@{
    Layout = null;
    ViewData["Title"] = "Rss Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="~/clientCSS/NewStyles.css" rel="stylesheet" />
    <link href="~/clientCSS/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @*<div>
                 @foreach (var obj in Model)
                 {
                     <li><a href="@Url.Action("FeedDetails", "RssResult", new { FeedId = obj.Id})">@obj.Title</a></li>
                 }
        </div>*@
    <div class="row activeDiv">
        <div class="col-md-12">
            @foreach (var feed in Model)
            {
                <div class="mymediaa">
                    <div class="media">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4 media-left">
                                    <a href="#">
                                        @if (feed.ImageLink != "")
                                        {<img src=@feed.ImageLink class="media-object" alt="image">}
                                        else
                                        { <img src="/img/_BlankProfile.jpg" class="media-object" alt="image">}
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <div class="media-body">
                                        <img src="../img/img5.png" class="img-responsive" alt="image">
                                        <h4 class="media-heading">@feed.Title</h4>
                                        <p>@feed.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
<style>
    .media-left, .media-right, .media-body {
        display: table-cell;
        vertical-align: top;
        width: 16%;
    }

    .media, .media-body {
        overflow: hidden;
        zoom: 1;
    }

    .media-object {
        height: 130px;
        width: 190px;
    }
</style>
</html>