﻿@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Main Page";
}
@section scripts{
    <script src="~/app/mainpage/mainpageApp.js"></script>
    <script src="~/app/mainpage/index.js"></script>
    <script src="~/app/mainpage/mainfeed.js"></script>
    <script src="~/app/mainpage/customise.js"></script>
    <script src="~/app/mainpage/messages.js"></script>
    <script src="~/app/mainpage/musicList.js"></script>
    <script src="~/app/mainpage/editProfile.js"></script>
    <script src="~/app/mainpage/editTags.js"></script>
    <script src="~/app/mainpage/editBiography.js"></script>
    <script src="~/app/mainpage/editGallery.js"></script>
    <script src="~/app/mainpage/viewMyFeeds.js"></script>
    <script src="~/app/mainpage/followedFeeds.js"></script>
    <script src="~/app/mainpage/savedFeeds.js"></script>
    <script src="~/app/mainpage/AddMusicCatalog.js"></script>
    <script src="~/app/mainpage/MusicCatalogList.js"></script>
    <script src="~/app/mainpage/editSocialMedia.js"></script>
    <script src="~/app/mainpage/editFeeds.js"></script>
    <script src="~/app/mainpage/getsubfromfeed.js"></script>
    <script src="~/app/mainpage/getsubtofeed.js"></script>
    <script src="~/app/mainpage/editProfilepic.js"></script>
    <script src="~/app/mainpage/showsubmitedfromuser.js"></script>
    <script src="~/app/mainpage/showFeedDetails.js"></script>
    <script src="~/app/mainpage/editAccountInfo.js"></script>
    <script src="~/app/mainpage/searchByUser.js"></script>
    <script src="~/app/mainpage/searchByFeed.js"></script>
    <script src="~/app/mainpage/searchGallery.js"></script>

    <script src="~/app/mainpage/emailNotifications.js"></script>
    <script src="~/app/mainpage/showVideo.js"></script>
    <script src="~/app/mainpage/showBiography.js"></script>
    <script src="~/app/mainpage/editMusicCatalog.js"></script>

}
@section jsCode {
    angular.bootstrap(document.getElementById("mainpage"), ['mainpage']);
}
<div data-ng-app="mainpage" id="mainpage">
    <div ng-view></div>

</div>
