﻿

<div role="tabpanel" ng-controller="login as vm" ng-cloak>
    <div class="signup-block">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <div class="login-modal-block">
        <div class="container-height">
            <div class="container md-whiteframe-3dp Logincontainer3">
                <div class="row">
                    <div class="col-md-12">
                        <form name="loginForm" id="loginForm" class="form-horizontal login-bdr loginFormBtns" role="form" novalidate>
                            <hr />
                            <md-input-container class="inputContainer1">
                                <label>Email</label>
                                <input type="email" id="txtEmail" name="txtEmail" ng-model="loginDetails.email" onkeypress='return event.charCode !=32' required />  <!--ng-change="isNameexist();"-->
                                <div ng-show="loginForm.txtEmail.$error.required && (!loginForm.txtEmail.$pristine || isSubmit)">
                                    <div class="text-danger">Email is required.</div>
                                </div>
                                <div ng-show="loginForm.txtEmail.$error.email && !loginForm.txtEmail.$error.required && (!loginForm.txtEmail.$pristine || isSubmit)">
                                    <div class="text-danger">Please enter a valid email.</div>
                                </div>
                            </md-input-container>
                            <!--</div>
                            <div class="col-md-12">-->
                            <md-input-container class="inputContainer1">
                                <label>Password</label>
                                <input type="password" id="txtPassword" name="txtPassword" ng-model="loginDetails.password" required onkeypress='return event.charCode !=32' />
                                <div ng-show="loginForm.txtPassword.$invalid && (!loginForm.txtPassword.$pristine || isSubmit )">
                                    <div class="text-danger">Password is required.</div>
                                </div>
                            </md-input-container>

                            <!--ng-model="loginDetails.chkRememberMe"-->
                            <div class="col-md-6">
                                <md-checkbox ng-model="loginDetails.RememberMe" aria-label="Remember Me" onclick="setRememberMeValue()">
                                    Remember Me
                                </md-checkbox>
                                <input type="hidden" value="false" name="RememberMe" id="RememberMe" ng-model="loginDetails.RememberMe"/>
                            </div>
                            <div class="col-md-6 text-right" style="margin-top:-4px;">
                                <md-button type="submit" class="md-raised md-primary loginColor" ng-click="submit(loginForm)">Log in</md-button>
                            </div>

                            <md-button type="submit" class="md-raised md-primary loginColor" ng-click="submit(loginForm)">Face Book</md-button>
                            <span class="text-danger" id="modelError" ng-show="iserror">{{error}}</span>
                        </form>
                        
                        <div class="form-group forgotPad">
                            <div class="col-md-6  text-right">
                                <a href="/Home/Pricing" class="anchorlinks">Register as a new user?</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/Account/ForgotPassword" class="anchorlinks">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function setRememberMeValue() {

                    var rememberme = document.getElementById("RememberMe");
                    if (rememberme.value != "true") {
                        rememberme.value = "true";
                    }
                    else {
                        rememberme.value = "false";
                    }
                }
                window.onbeforeunload = function () {
                    alert();
                    location.reload();
                };

            </script>
        </div>
    </div>
</div>