﻿

<div role="tabpanel" ng-controller="sendMessage as vm" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <form id="frmsendmessage" name="frmsendmessage"  novalidate>
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    <md-content class="contentClass1 biography" layout-gt-sm="row" layout-padding>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <md-input-container class="md-block">
                                    <label>Description</label>
                                    
                                    <textarea md-maxlength="250" rows="5" id="txtDescription" name="txtDescription" ng-model="messages.subject" md-select-on-focus required></textarea>
                                    <div ng-show="frmsendmessage.txtDescription.$error.required && frmsendmessage.txtDescription.$invalid && (!frmsendmessage.txtDescription.$pristine || isSubmit )">
                                        <div class="text-danger">Description is required.</div>
                                    </div>
                                    <div ng-show="!frmsendmessage.txtDescription.$error.maxlength && frmsendmessage.txtDescription.$invalid && !frmsendmessage.txtDescription.$error.required && (!frmsendmessage.txtDescription.$pristine || isSubmit )">
                                        <div class="text-danger">Description Exceeds limit.</div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div class="col-md-12">
                                <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
                                </md-progress-circular>
                            </div>
                            <div class="col-md-12 text-right">
                                <md-button ng-disabled="showSpinner" class="md-raised md-primary loginColor sideN " ng-click="sendMessage(frmsendmessage)" value="Send">Send Message</md-button>
                                <md-button class="md-raised md-primary loginColor sideN " ng-click="cancel()" value="Cancel">Cancel</md-button>
                            </div>
                        </div>
                    </md-content>

                    
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>

</div>