﻿
<div role="tabpanel" ng-controller="submitofeed as vm" ng-cloak class="md-dailog-block">
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-container class="dialogContainer" style="width:800px;height:537px;">
            <md-progress-circular ng-if="showSpinner" ng-disabled="!activated" class="md-accent md-hue-1" md-diameter="80">
            </md-progress-circular>
            <md-dialog-content layout-padding class="dis-block">
                <form id="frmMusicCatalogEdit" name="frmMusicCatalogEdit" class="formClass" novalidate>
                    <div class="media-heading-block">
                        <div class="trackinfo">
                            <h5 class="ng-binding">{{feedTitle}}</h5>
                        </div>
                    </div>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Music">
                                <md-content class="md-padding">
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="MUSIC CATALOG">
                                            <md-content class="md-padding contentClass added-music-block" style="height: 393px;width: 670px;" layout-gt-sm="row" layout-padding>
                                                <table class="table table-bordered table-responsive table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Catelog</th>
                                                            <th>Song Name</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="catalog in musicCatelogs">
                                                            <td style="width: 260px;">
                                                                <span class="col-md-12 cat-sub-pos">
                                                                    <span class="col-md-4 cat-sub-pos">
                                                                        <img ng-if="catalog.imageLink!=null" ng-src="{{catalog.imageLink}}" style="height: 60px;width: 90px;" alt=".." />
                                                                    </span> <span class="col-md-8 cat-sub-pos">
                                                                        <small class="cat-sub-contnt">
                                                                            {{catalog.catalogName}}
                                                                        </small>
                                                                        <br /><br />
                                                                        <small class="cat-sub-contnt">
                                                                            <span ng-if="catalog.noAudioLink"><a href="#" ng-click="playMusic($index)">LISTEN NOW</a></span>
                                                                        </small>
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                {{catalog.songName}}
                                                            </td>
                                                            <td>
                                                                <md-button class="md-raised md-primary loginColor sideN contentBtn1" ng-click="submittofeedcatelog(catalog.id,catalog.songLink,catalog.songName,'audio/mp3')" value="Edit" ng-if="!iseditable">Submit</md-button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="musicCatelogs.length==0"><td colspan="3">Records not found</td></tr>
                                                    </tbody>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="UPLOAD MUSIC">
                                            <md-content class="md-padding">
                                                <div class="uploadbtns">
                                                    <div class="form-group file-area">
                                                        <input type="file" ng-model-instant name="myAudio" accept="audio/*" onchange="angular.element(this).scope().audioUpload(event)" />
                                                        <div class="file-dummy">
                                                            <div class="default">UPLOAD MP3</div>
                                                        </div>
                                                        <div class="FileNameDisp" ng-model="subFeeds.fileNameA">{{subFeeds.fileNameA}}</div>
                                                    </div>
                                                    <md-button type="button" class="md-raised md-primary loginColor sideN contentBtn1" style="margin-left: 26px;" ng-click="submittofeedcatelog(subFeeds.id,subFeeds.fileUrlA,subFeeds.fileNameA,subFeeds.fileTypeA)" ng-if="!iseditable">SUBMIT AUDIO</md-button>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                            <md-tab label="Image">
                                <md-content class="md-padding">
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="Gallery">
                                            <md-content class="md-padding contentClass added-music-block" style="height: 393px;width: 670px;" layout-gt-sm="row" layout-padding>
                                                <table class="table table-bordered table-responsive table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Gallery Image</th>
                                                            <th>Image Name</th>
                                                            <th>User Name</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="gallery in imageGallery">
                                                            <td>
                                                                <span class="col-md-12 cat-sub-pos">
                                                                    <span class="col-md-6 cat-sub-pos">
                                                                        <img ng-if="gallery.fileUrl!=null" ng-src="{{gallery.fileUrl}}" style="height: 60px;width: 90px;" alt=".." />
                                                                    </span> <span class="col-md-8 cat-sub-pos">
                                                                    </span>
                                                                </span>
                                                            </td>
                                                            <td>
                                                                {{gallery.fileName.slice(0, -4)}}
                                                            </td>
                                                            <td>
                                                                <a href={{gallery.profileUrl}} alt="{{gallery.userName}}" target="_blank">{{gallery.userName}}</a>
                                                            </td>
                                                            <td>
                                                                <md-button class="md-raised md-primary loginColor sideN contentBtn1" ng-click="submittofeedcatelog(gallery.id,gallery.fileUrl,gallery.fileName,gallery.fileType)" value="Edit" ng-if="!iseditable">Submit</md-button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="imageGallery.length==0"><td colspan="4">Records not found</td></tr>
                                                    </tbody>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="UPLOAD IMAGE">
                                            <md-content class="md-padding">
                                                <div class="uploadbtns">
                                                    <!--<div class="form-group file-area">
                                                        <input type="file" ng-model-instant name="myImage" accept="image/png, image/jpeg, image/gif, image/svg" onchange="angular.element(this).scope().imageUpload(event)" />
                                                        <div class="file-dummy">
                                                            <div class="default">ADD IMAGE</div>
                                                        </div>
                                                        <div class="FileNameDisp" ng-model="subFeeds.fileNameI">{{subFeeds.fileNameI}}</div>
                                                    </div>-->
                                                    <div class="upload-img-audio2">
                                                        <md-input-container class="editContainer1">
                                                            <div class="form-group file-area file-area1">
                                                                <input type="file" ng-model="myImage" name="myImage" id="myImage" accept="image/png, image/jpeg, image/gif, image/svg" aria-label="imageName" onchange="angular.element(this).scope().imageUpload(event)" valid-file />
                                                                <div class="file-dummy">
                                                                    <div class="default">UPLOAD IMAGE</div>
                                                                </div>
                                                                <div ng-hide="myImage == ''" class="cropArea">
                                                                    <img-crop image="myImage" result-image="myCroppedImage" result-image-size="500"></img-crop>
                                                                </div>
                                                                <!--<div ng-hide="myImage == ''">Cropped Image:</div>
                                                                <div ng-hide="myImage == ''"><img ng-src="{{myCroppedImage}}" /></div>-->
                                                            </div>
                                                        </md-input-container>
                                                    </div>
                                                    <md-button type="button" class="md-raised md-primary loginColor sideN contentBtn1" style="margin-left: 26px;" ng-click="submittofeedcatelog(subFeeds.id,'cropedimage',subFeeds.fileNameI,subFeeds.fileTypeI)" ng-if="!iseditable">SUBMIT IMAGE</md-button>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                            <md-tab label="Video">
                                <md-content class="md-padding">
                                    <md-tabs md-dynamic-height md-border-bottom>
                                        <md-tab label="Videos">
                                            <md-content class="md-padding contentClass added-music-block" style="height: 393px;width: 670px;" layout-gt-sm="row" layout-padding>
                                                <table class="table table-bordered table-responsive table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Video</th>
                                                            <th>Video Name</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="video in getVideos">
                                                            <td style="width: 260px;">
                                                                <div ng-if="video.videoLink != ''" class="text-left">
                                                                    <video id="videofeed" onclick="playVideo()" controls preload="none">
                                                                        <source ng-src="{{video.videoLink }}" type="video/mp4">
                                                                        <source ng-src="{{video.videoLink }}" type="video/ogg">
                                                                        "Your browser does not support."
                                                                    </video>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{video.videoFileName}}
                                                            </td>
                                                            <td>
                                                                <md-button class="md-raised md-primary loginColor sideN contentBtn1" ng-click="submittofeedcatelog(video.id,video.videoLink,video.videoFileName,'video/mp4')" value="Edit" ng-if="!iseditable">Submit</md-button>
                                                            </td>
                                                        </tr>
                                                        <tr ng-if="getVideos.length==0"><td colspan="3">Records not found</td></tr>
                                                    </tbody>
                                                </table>
                                            </md-content>
                                        </md-tab>
                                        <md-tab label="UPLOAD VIDEO">
                                            <md-content class="md-padding">
                                                <div class="uploadbtns">
                                                    <div class="form-group file-area">
                                                        <input type="file" ng-model-instant name="myVideo" accept="video/*" onchange="angular.element(this).scope().videoUpload(event)" />
                                                        <div class="file-dummy">
                                                            <div class="default">ADD VIDEO</div>
                                                        </div>
                                                        <div class="FileNameDisp" ng-model="subFeeds.fileNameV">{{subFeeds.fileNameV}}</div>
                                                    </div>
                                                    <md-button type="button" class="md-raised md-primary loginColor sideN contentBtn1" style="margin-left: 26px;" ng-click="submittofeedcatelog(subFeeds.id,subFeeds.fileUrlV,subFeeds.fileNameV,subFeeds.fileTypeV)" ng-if="!iseditable">SUBMIT VIDEO</md-button>
                                                </div>
                                            </md-content>
                                        </md-tab>
                                    </md-tabs>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </form>
            </md-dialog-content>
        </md-dialog-container>
    </md-dialog>
</div>
<style>
    .cat-sub-pos {
        padding: 0px;
    }

    .cat-sub-contnt {
        display: block;
        padding: 0px 0px 0px 8px;
    }

    .trackinfo h5 {
        font-size: 18px;
        font-weight: bold;
        color: #8c0000;
        display: block;
        padding-bottom: 5px;
    }
</style>
