﻿<!--<div role="tabpanel" ng-controller="viewComments as vm" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <form id="frmRegister" name="frmRegister">
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>
                    {{title}}
                    <md-content class="contentClass" layout-gt-sm="row" layout-padding>

                    </md-content>


                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>

</div>-->



<div role="tabpanel" ng-controller="viewComments as vm" ng-cloak>
    <md-dialog class="student-dialog-width" id="newstudent">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2><br />

                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>

            </div>
        </md-toolbar>
        <form id="frmRegister" name="frmRegister">
            <md-dialog-container class="dialogContainer">
                <md-dialog-content layout-padding>

                    <md-content class="contentClass1 biography" layout-gt-sm="row" layout-padding>
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="media-heading" >
                                    {{feedTitle.title}}
                                </h4>
                            </div>
                            <div class="col-md-12" style="margin-top: -31px;">
                                <table class="table table-bordered table-striped table-hover custab">
                                    <tr><th class="col1">Comment</th><th class="col2">Comment By</th></tr>
                                    <tr ng-repeat="x in comments">
                                        <td>{{ x.postComment }}</td>
                                        <td>{{ x.createdBy }}</td>
                                    </tr>
                                    <tr ng-if="comments.length==0"><td colspan="2">{{FeedComments}}</td></tr>
                                </table>
                                
                            </div>
                        </div>
                    </md-content>
                </md-dialog-content>
            </md-dialog-container>
        </form>
    </md-dialog>
</div>
<link href="../../clientCSS/commentsTable.css" rel="stylesheet" />