﻿
<div role="tabpanel" ng-controller="featuredUsers" ng-cloak>
    <md-content class="md-padding container admin_height" layout="row" layout-padding layout-wrap style="padding-bottom: 32px;">
        <md-toolbar class="toolbar-height">
                <h4>{{title}}</h4>
        </md-toolbar>
        <md-data-table-container class="data_table table-responsive tbl">
            <div class="row">
                <div class="col-md-12">
                    <table md-table md-row-select multiple ng-model="selected"  
                           class="table table-bordered table-hover" md-progress="promise" > 
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts" class="red-text" > 
                            <tr md-row>
                                <th md-column md-order-by="nameToLower"><span>Name</span></th>
                                <th md-column md-numeric>Email</th>
                                <th md-column md-numeric>Profile</th>
                                <th md-column md-numeric>IsFeaturedUser</th>
                                <th md-column md-numeric>IsVerifyedUser</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" ng-repeat="dessert in usersList">   <!--md-auto-select-->
                                <td md-cell>{{dessert.firstName}}</td>
                                <td md-cell>{{dessert.email}}</td>
                                <td md-cell>
                                    <img ng-if='dessert.profileLink != null' ng-src="{{dessert.profileLink}}" class="Fusermedia-object" alt="image">
                                    <img ng-if='dessert.profileLink == null' src="../../img/_BlankProfile.jpg" class="Fusermedia-object" alt="image">
                                </td>
                                <!--<td md-cell>{{dessert.isFeaturedUser}}</td>-->

                                <td md-cell><md-checkbox type="checkbox" ng-model="dessert.isFeaturedUser" /></td>
                                <td md-cell><md-checkbox ng-model="dessert.isVerifyedUser" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 col-md-offset-10 ">
                    <md-button  class="md-raised md-primary loginColor sideN md-button ng-scope md-ink-ripple text-right" ng-click="saveFeaturedUser()">Submit</md-button>
                </div>
            </div>
        </md-data-table-container>
</div>
<style>
    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table.md-table.md-row-select td.md-cell:first-child {
        padding: 7px 10px 0 27px;
    }

    .toolbar-height {
        height: 64px;
        text-align: center;
    }

    .red-text {
        font-weight: bold;
    }
    .tbl{
        width:1329px;
        overflow:hidden;
    }
</style>
