﻿




<div role="tabpanel" ng-controller="trendingFeeds" ng-cloak>
    <!--<div class="col-md-12 col-sm-12 col-xs-12 text-right">
        <ul class="nav nav-tabs mytabs headmenu" role="tablist">

            <li role="presentation"><a href="/mainpage">MYPROFILE</a></li>
            <li role="presentation"><a href="/mainpage/mainfeed">MAIN FEED</a></li>
            <li role="presentation"><a href="/mainpage/customise">CUSTOMIZED</a></li>
            <li role="presentation"><a href="/mainpage/messages">MESSAGES</a><span class="msgnoti">8</span></li>
        </ul>
    </div>-->





    <md-content class="md-padding container admin_height" layout="row" layout-padding layout-wrap style="padding-bottom: 32px;">
        <md-toolbar class="toolbar-height">
            <h4>{{title}}</h4>
        </md-toolbar>
        <md-data-table-container class="data_table table-responsive tbl">
            <div class="row">
                <div class="col-md-12">
                    <table md-table md-row-select multiple ng-model="selected"
                           class="table table-bordered table-hover" md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts" class="red-text">
                            <tr md-row>
                                <th md-column md-order-by="nameToLower"><span>Feed Image</span></th>
                                <th md-column md-numeric>Feed Title</th>
                                <th md-column md-numeric>Feed Description</th>
                                <th md-column md-numeric>Audio Name</th>
                                <th md-column md-numeric>Created BY</th>
                                <th md-column md-numeric>IsTrendingFeed</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in usersList">
                                <td md-cell>
                                    <img ng-if='dessert.imageLink != null' ng-src="{{dessert.imageLink}}" class="Fusermedia-object" alt="image">
                                    <img ng-if='dessert.imageLink == null' src="../../img/_BlankProfile.jpg" class="Fusermedia-object" alt="image">
                                </td>
                                <td md-cell>{{dessert.title}}</td>
                                <td md-cell>{{dessert.description}}</td>
                                
                                <td md-cell>{{dessert.audioFileName}}</td>
                                <td md-cell>{{dessert.createdUserName}}</td>
                                <td md-cell>{{dessert.isTrending}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 col-md-offset-10 ">
                    <md-button class="md-raised md-primary loginColor sideN md-button ng-scope md-ink-ripple text-right" ng-click="saveFeaturedUser()">Submit</md-button>
                </div>
            </div>
        </md-data-table-container>









</div>


<style>
    tr:nth-child(even) {
        background-color: #dddddd;
    }

    table.md-table.md-row-select td.md-cell:first-child {
        padding: 7px 10px 0 27px;
    }

    .toolbar-height {
        height: 64px;
        text-align: center;
    }

    .red-text {
        font-weight: bold;
    }

    .tbl {
        width: 1329px;
        overflow: hidden;
    }
</style>



