﻿@using System.Security.Claims
@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout1";
}
<div class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div class="confirm-email-container">

    <p class="access-denied">
        Hi <b>@ViewBag.UserName</b>,
        You do not have permission to access this page.
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="Index">Click here</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index">Click here</a>
        }
        for your landing page
    </p>
</div>