﻿@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_Layout1";
}
<div class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div class="container-height" style="margin-top: 80px;" ng-cloak>
    <div class="container container3  md-whiteframe-3dp" style="width: 1000px;">
        <h2 style="text-align:center"><a href="/Home"><img src="~/img/logo.png" style="width: 170px;" /></a></h2>
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="col-md-12 col-md-offset-4">
                    <h4>Thank you for confirming your email.</h4>
                    <hr>
                </div>
                <div class="col-md-12 col-md-offset-5">
                    <section class="confirmation-container">
                        <p>
                            Please <a asp-controller="Account" asp-action="Login" style="color:#790e0e;">Click here to Log in</a>.
                        </p>
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>