﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_Layout1";
}
<div class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div class="container-height" ng-cloak style="margin-top:75px;">
    @Html.AntiForgeryToken()
    <div class="container Logincontainer3 md-whiteframe-3dp">
        <h2 style="text-align:center"><a href="/"><img src="~/img/logo.png" /></a></h2>
        <div class="row">
            <div class="col-md-12 mt30">
                <section class="login">
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                        <div asp-validation-summary="ModelOnly" class="text-danger col-md-offset-1"></div>
                        <h4 translate="AccountLayout.EnterEmail">Enter your email.</h4>
                        <md-input-container>
                            <label asp-for="Email" translate="AccountLayout.Email">Email</label>
                            <input asp-for="Email" ng-model="user.email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </md-input-container>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    @*<a asp-action="Login" translate="AccountLayout.ClickLogin">Click here to login</a>*@
                                    <a href="/" translate="AccountLayout.ClickLogin" class="anchorlinks">Click here to login</a>
                                </div>
                                <div class="col-md-5">
                                    <md-button type="submit" class="md-raised md-primary loginColor" translate="AccountLayout.Submit">Submit</md-button>
                                </div>
                            </div>
                        </div>

                    </form>
                    @section Scripts {
                        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                    }
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    md-input-container{
        width:300px;
    }
</style>
