﻿
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<div class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>

@*<md-toolbar >   @*class="mddialogScroll"*@
@*<div class="md-toolbar-tools">
            <h2>Log In</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>*@
<div class="login-modal-block">
    <div class="container-height">
        <div class="container md-whiteframe-3dp Logincontainer3">
            @*<h2 style="text-align:center"><a href="#"><img src="~/img/logo.png" /></a></h2>*@
            <div class="row">
                <div class="col-md-12">
                    <section class="login">
                        <form name="loginForm" id="loginForm" asp-controller="Account"
                              asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post"
                              class="form-horizontal login-bdr" role="form" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger col-md-offset-2"></div>
                            <hr />
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" onkeypress='return event.charCode !=32' />
                                    <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" value='@((Model!=null && Model.Password!=null && Model.RememberMe!=false)?Model.Password:"")' onkeypress='return event.charCode !=32' />
                                    <span asp-validation-for="Password" class="text-danger"></span>

                                </md-input-container>

                            </div>
                            <div class="col-md-6">
                                <md-checkbox ng-model="chkRememberMe" aria-label="Remember Me" onclick="setRememberMeValue()">
                                    Remember Me
                                </md-checkbox>
                                <input type="hidden" value="false" name="RememberMe" id="RememberMe" />
                            </div>
                            <div class="col-md-6 text-right" style="margin-top:-4px;">
                                @*onclick="Validations()"*@
                                <md-button type="submit" class="md-raised md-primary loginColor">Log in</md-button>
                            </div>
                            @*<div class="form-group forgotPad">
                                    <div class="col-md-6  text-right">
                                        <a asp-action="Register">Register as a new user?</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a asp-action="ForgotPassword">Forgot your password?</a>
                                    </div>
                                </div>*@
                        </form>
                    </section>

                    <div class="form-group forgotPad">
                        <div class="col-md-6  text-right">
                            <a asp-action="Register">Register as a new user?</a>
                        </div>
                        <div class="col-md-6">
                            <a asp-action="ForgotPassword">Forgot your password?</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <section>

                        <br /><br />
                        @{
                            var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                            if (loginProviders.Count == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                                    @*<div class="social_media">
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                </p>
                            </div>*@
                                    <div class="social-login-buttons">
                                        <md-button name="provider" class="md-raised md-primary btn-link-1 btn-link-1-facebook" value="Facebook"><i class="fa fa-facebook"></i> Facebook</md-button>
                                        @*<md-button name="provider" class="md-raised md-primary btn-link-1 btn-link-1-twitter" value="Twitter"><i class="fa fa-twitter"></i> Twitter</md-button>*@
                                        <md-button name="provider" class="md-raised md-primary btn-link-1 btn-link-1-google-plus" value="Google">
                                            <img src="~/images/google_plus.png" />
                                            Google Plus
                                        </md-button>


                                    </div>
                                </form>
                            }
                        }
                    </section>
                </div>
            </div>
        </div>
        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        }
        <script>
            function setRememberMeValue() {

                var rememberme = document.getElementById("RememberMe");
                if (rememberme.value != "true") {
                    rememberme.value = "true";
                }
                else {
                    rememberme.value = "false";
                }
            }
            window.onbeforeunload = function () {
                alert();
                location.reload();
            };



            function Validations() {
                debugger;
                alert(document.getElementById("Email").value);

                if (document.getElementById("Email").value != null && document.getElementById("Password").value != null) {

                    $.ajax({
                        type: "POST",
                        url: "/Home/AjaxLogin",
                        data: '{name: "' + $("#txtName").val() + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });


                } else if (document.getElementById("Email").value == null) {


                } else if (document.getElementById("Password").value == null) {


                }

                return false;

            }
        </script>
    </div>
</div>