﻿
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout1";
}


@section scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/app/register/app.js"></script>
    <script src="~/app/register/index.js"></script>
    <script src="~/app/register/addTags.js"></script>
}
<div class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div ng-controller="index as vm">
    <div class="container-height" style="margin-top:5px;">
        <div class="container  Logincontainer3 md-whiteframe-3dp">
            <h2 style="text-align:center"><a href="/"><img src="../img/logo.png" /></a></h2>
            <div class="row">
                <div class="col-md-12">
                    <section class="login">
                        <form name="registerForm" id="registerForm" asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div class="col-md-12 col-md-offset-4">
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger col-md-offset-2"></div>
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="FirstName"><md-icon md-svg-src="../img/ic_person_24px.svg" class="name"></md-icon> First Name</label>

                                    <input asp-for="FirstName" onkeypress='return event.charCode !=32' />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="LastName"><md-icon md-svg-src="../img/ic_person_24px.svg" class="name"></md-icon> LastName</label>
                                    <input asp-for="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="Email"> <md-icon src="" md-svg-src="../img/ic_email_24px.svg" class="email"></md-icon> Email</label>
                                    <input asp-for="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <md-input-container ng-hide="true">
                                        <label asp-for="Country"><md-icon md-svg-src="../img/ic_password_24px.svg" class="country"></md-icon> Country</label>
                                        <input asp-for="Country" ng-model="country" />
                                    </md-input-container>
                                    <md-input-container>
                                        <label asp-for="Country"><md-icon src="../img/ic_globe_36px.png" class="country"></md-icon> Country</label>
                                        <md-select asp-for="Country" ng-model="country">
                                            <md-option><em>Select Country</em></md-option>
                                            <md-option ng-repeat="country in SelectCountryList" ng-value="country.name">
                                                {{country.name}}
                                            </md-option>
                                        </md-select>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </md-input-container>
                                </div>
                            </div>

                            @*<div class="col-md-12">
        <md-input-container>
            <input name="ProfileLink" id="ProfileLink" type="file" accept="image/png, image/jpeg, image/gif, image/svg" asp-for="ProfileLink" />
            <span asp-validation-for="ProfileLink" class="text-danger"></span>
        </md-input-container>
    </div>*@
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="Password"><md-icon md-svg-src="../img/ic_password_24px.svg" class="email"></md-icon> Password</label>

                                    <input asp-for="Password" onkeypress='return event.charCode !=32' />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </md-input-container>
                            </div>
                            <div class="col-md-12">
                                <md-input-container>
                                    <label asp-for="ConfirmPassword"> <md-icon md-svg-src="../img/ic_password_24px.svg" class="email"></md-icon> Confirm Password</label>
                                    <input asp-for="ConfirmPassword" ng-model="register.confirmPassword" onkeypress='return event.charCode !=32' />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </md-input-container>
                            </div>



                            <div class="col-md-12">
                                <div class="col-md-8 forgotPad">
                                    <p>Already have account.<a asp-action="Login" style="color:#790e0e;"> Click here to login</a></p>
                                </div>
                                <div class="col-md-4">
                                    <md-button type="submit" class="md-raised md-primary loginColor">Register</md-button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
