﻿@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout1";
}
<div class="signup-block">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img src="../../img/musicfeed-logo.png" alt="alter" style="text-align:center;" />
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="../img/ic_cancel_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>
<div class="container-height" style="margin-top: 80px;" ng-cloak>
    @Html.AntiForgeryToken()
    <div class="container container3  md-whiteframe-3dp" style="width: 720px;">
        <h2 style="text-align:center"><a href="/Home"><img src="~/img/logo.png" style="width:170px;" /></a></h2>
        <div class="row form-group">
            <div class="col-md-12">
                <section class="login">
                    <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
                        <div class="col-md-12 col-md-offset-4">
                            <h4 translate="AccountLayout.ResetPassword">Reset password. Here</h4>
                        </div>
                        <div class="col-md-12 col-md-offset-2">
                            <input asp-for="Code" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <div class="col-md-12">
                            <md-input-container>
                                <label asp-for="Email" translate="AccountLayout.Email">Email</label>
                                <input asp-for="Email" onkeypress='return event.charCode !=32' />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </md-input-container>
                        </div><div class="col-md-12">
                            <md-input-container>
                                <label asp-for="Password" translate="AccountLayout.Password">Password</label>
                                <input asp-for="Password" onkeypress='return event.charCode !=32' />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </md-input-container>
                        </div><div class="col-md-12">
                            <md-input-container>
                                <label asp-for="ConfirmPassword" translate="AccountLayout.ConfirmPassword">Confirm Password</label>
                                <input asp-for="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </md-input-container>
                        </div><div class="col-md-12">
                            <div class="col-md-3">
                                <a href="/" translate="AccountLayout.ClickLogin" class="anchorlinks">Click here to login</a>
                            </div>
                            <div class="col-md-6">
                                <md-button type="submit" class="md-raised md-blue" translate="AccountLayout.Reset">Reset</md-button>
                            </div>

                        </div>

                    </form>
                    @section Scripts {
                        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                    }
                </section>
            </div>
        </div>
    </div>
</div>
<style>
    md-input-container{
        width:380px;
    }
</style>