﻿@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Admin Page";
}
@section scripts{

    <script src="~/app/admin/adminApp.js"></script>
    <script src="~/app/admin/trendingFeeds.js"></script>
    <script src="~/app/admin/featuredUsers.js"></script>
<script src="~/app/admin/nutritionController.js"></script>
}
@section jsCode {
    angular.bootstrap(document.getElementById("admin"), ['admin']);
}
<div data-ng-app="admin" id="admin">
    <div ng-view></div>

</div>
