﻿
th {
    background-color: #8c0000;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.col1 {
    width: 798px;
}

.col2 {
    width: 250px;
}

.dialogContainer {
    height: 313px !important;
    width: 820px;
}

.table-hover > tbody > tr:hover > td {
    background-color: #8f8f8b;
    color: #fff;
    cursor: pointer;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background: #cbcbc9 !important;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background: #F0F2F2 !important;
}

.biography {
    width: 656px;
    height: 307px;
    margin-top: -31px !important;
    overflow-x:hidden;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

    .custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }

table {
    width: 100%;
    /*display: block;*/
}

thead {
    display: inline-block;
    width: 100%;
    height: 20px;
}

tbody {
    /*height: 255px;*/
    height: auto;
    display: inline-block;
    width: 100%;
    overflow-x:hidden;
}
