﻿html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	font-size:14px;	
	font-family: Arial, Helvetica, sans-serif;
	line-height:18px;
	
}
* {
	border: medium none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline:none;
	background-repeat:no-repeat;
	position:relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
*:focus {
	outline: 0;
}

p.ng-binding {
     margin-top: 10px; 
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/CenturyGothic.eot');
	src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic.woff2') format('woff2'),
		url('../fonts/CenturyGothic.woff') format('woff'),
		url('../fonts/CenturyGothic.ttf') format('truetype'),
		url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
		url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

 

html {
	position:static;
	width:100%;
	height:100%
}

body {
	margin:0;
	padding:0;
	color:#000000;
	background:#fff;
	overflow-y:scroll;
	
	
}
/*---------------------Default styles ------------------*/
a {
	color:#000;
	text-decoration: none;
	outline:none;
}
strong {
	font-weight:bold;
}
a:hover {
	color:#000;
}
a:active {
	outline:none !important;
}
img {
	border:none;
	max-width: 100%;
}
ul, li {
	list-style-type:none;
	margin:0;
	padding:0;
}
* {
	margin: 0;
	padding: 0;
}
.clear {
	clear:both;
}
.clear10 {
	clear:both;
	height:10px;
}
.clear20 {
	clear:both;
	height:20px;
}
.clear30 {
	clear:both;
	height:30px;
}
.clear40 {
	clear:both;
	height:40px;
}
.clear22 {
	clear: both;
	height: 18px;
}
.clear62 {
	clear: both;
	height: 62px;
}
