﻿
#picupload {
    width: 100px;
    cursor: pointer;
}

#editpicupload {
    cursor: pointer;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 30px;
}
#editpicupload:hover{
    background-color:blue;
}

.overlay.text i.fa.fa-pencil:hover {
    color: #a5192a;
}

md-dialog {
    max-width: 85% !important;
}

md-content {
    overflow-x: hidden;
}

.myupload span:hover {
    cursor: pointer;
    color: #a5192a;
}

.fa-pencil, .fa-trash {
    font-size: 19px !important;
    padding: 1px 0;
    height: 25px;
    width: 25px;
    text-align: center;
    color: #fff;
    left: 85px !important;
    border: 1px solid #fff;
    border-radius: 50%;
}

.fa-pencil {
    top: 60px !important;
}

.fa-trash {
    top: 85px !important;
}

i.fa.fa-trash:hover {
    color: #a5192a;
}

md-progress-circular {
    left: 0px !important;
    top: 10% !important;
}

.loader {
    top: 7px !important;
    left: 0px !important;
    background-color: lightgray;
    opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier */
}

.img-size {
    height: 100px;
    width: 100%;
    border-radius: 6px;
}

.overlay {
    position: absolute;
    border-radius: 3px;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(58, 50, 50, 0.3);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
}

.myupload:hover .overlay {
    bottom: -2px;
    height: 100px;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 12px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

ul#media-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#media-list li:last-child {
    margin-right: 0;
}

#media-list li {
    float: left;
    border: 1px solid #ccc;
    background: #ccc;
    position: relative;
    margin: 0 5px 5px 0;
    width: 102px;
    height: 100px;
    border-radius: 6px;
}

li.myupload span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

li.myupload span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 54px;
}

a.remove-pic {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 3px 0;
    cursor: pointer;
    background-color: gray;
}




