﻿@media (max-width:1920px) {
/*Home page*/
.full_screenbanner .screenbottons {width: 52%;}
.full_screenbanner .carousel-inner > .item > a > img, .full_screenbanner .carousel-inner > .item > img, .full_screenbanner .img-responsive, .full_screenbanner .thumbnail a > img, .full_screenbanner .thumbnail > img {width:100%;}
ul.trendingBox ol .trendleft .trackBox .trackimg, ul.trendingBox ol .trendleft ul.listoflow {width: 21.7%;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 76%;}
.featured-users ul.featuredList li {width: 13%;}
.full_screenbanner .carousel-inner>.item>img {width:100%;}
.big_quote {background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;}
/*End Home page*/
 
}

@media (max-width:1720px) {
/*Home page*/
.full_screenbanner .screenbottons {width: 56%;} 
.featured-users ul.featuredList li {width: 15.2%;}
/*End Home page*/
}

@media (max-width:1440px) {
/*Home page*/
.full_screenbanner .screenbottons { width: 70%;} 
ul.trendingBox ol .trendleft .trackBox .trackimg {width: 28.2%;}
ul.trendingBox ol .trendleft .trackBox .trackdata {width: 62%;}
ul.trendingBox ol .trendleft ul.listoflow {width: 28.2%;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 62%;}
.featured-users ul.featuredList li {width: 15%;}
/*End Home page*/
 
}

@media (max-width:1370px) {
/*Home page*/
.nav>li {padding: 0px 14px;}
.navbar-default .navbar-nav>li>a {font-size: 20px;}
.full_screenbanner .carousel-caption {top: 80px;}
.topbtn a.regbtn {font-size: 18px;}
.topbtn {padding-left: 20px;}
.full_screenbanner h2 {font-size: 41px; line-height:58px;}
.full_screenbanner h3 {font-size: 41px; line-height:58px;}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 50px;padding: 0px 26px; font-size:18px;line-height:50px;}
.full_screenbanner .screenbottons {margin-top: 20px;}
ul.trendingBox ol .trendleft {width: 72%;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 68%;}
ul.trendingBox ol .trendright ul.social_links li {width: 22.1%;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 18px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 31px;margin-right: 0px;}
.carousel-inner h5 {font-size: 36px;line-height: 46px;}
.big_quote ul.quoteslist li {font-size: 36px;}
.submissions .subapp {font-size: 42px;line-height: 44px;}
.submissionstitle{font-size: 41px;line-height: 44px;}
ul.trendingBox ol .trendright {width:24%;}
.featured-users ul.featuredList li { width: 14%;}
.footer .mainFooter ul.footerlinks.ftfirst {padding-left: 0px;}
.footer .mainFooter ul.footerlinks .ft-title {font-size: 18px;}
.footer .mainFooter ul.footerlinks li a {font-size: 16px;}
.footer .innerFooter ul.innerfooterlinks li {margin: 0px 10px;}
/*End Home page*/

/*About Us Page*/
.about-hdr .trending-title {font-size:30px;}
.about-hdr .trending-title:after {height: 6px;}
.verified-profiles h3 {font-size:30px;border-bottom: solid 6px #8c0000;}
/*End About Us Page*/

/*Our Polices*/
.our-polices h2 {font-size: 22px;line-height: 38px;width: 40%;}
/*End Our Polices*/

.bannerad {width: 110px;}
.rotate { top: 490px;font-size: 24px;}

/*Advertise*/
.our-advertise h2 {font-size: 22px;line-height: 38px;width: 40%;}
/*End Advertise*/

/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 38px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 34px;}
.contactinfo .contactgraybox .formaction {min-height: 380px;}
.contactinfo .googlemapBox {height: 654px;}

.music-tags .tags-title {font-size: 28px;line-height: 30px;margin-top: 14px;}
.music-tags .tags-text {font-size: 22px;line-height: 32px;}
/*End Contact Us*/
/*Pricing Page*/
.pricing-hdr .pricing-title {font-size: 30px;line-height: 34px;border-bottom: 6px solid #8c0000;}
/*End Pricing Page*/
/*Tutorials Page*/
.tutorialsData .youtubetext {
    height: 140px;
}
.tutorialsData .youtubetext img {
    width: 33%;
}
.tutorialsData .tutorialtital {
 font-size: 30px;
 line-height: 24px;
}

.tutorialsData .modal-right .getfeed .getfeedtext {
 font-size:28px;
}

/*End Tutorials Page*/

}

@media (max-width:1220px) {
/*Home page*/
.nav>li {padding: 0px 14px;}
.navbar-default .navbar-nav>li>a {font-size: 18px;}
.topbtn a.regbtn {font-size: 14px;}
.full_screenbanner h2 {font-size: 38px; line-height:50px;}
.full_screenbanner h3 {font-size: 36px; line-height:50px;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 15px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 26px;margin-right: 0px;}
ul.trendingBox ol .trendright .hrsbox .hrsright .mintext {font-size: 12px;}
ul.trendingBox ol .trendright ul.social_links li {width: 21.4%;}
.carousel-inner h5 {font-size: 30px;line-height: 40px;}
.big_quote ul.quoteslist li {font-size: 30px;line-height:40px;}
.featured-users ul.featuredList li {width: 12%;}
.submissions .subapp .submissionstitle {font-size: 32px;line-height: 34px;}
.top-logo {margin-top: 29px;}
/*End Home page*/

/*Our Polices*/
.our-polices h3 {font-size: 20px;}
/*End Our Polices*/

/*Advertise*/
.our-advertise h3 {font-size: 20px;}
/*End Advertise*/
/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 34px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 30px;}
.contactinfo .contactgraybox .formaction {min-height: 380px;}
.contactinfo .googlemapBox {height: 623px;}
.contactinfo .contactgraybox .contacttitle {font-size: 28px;line-height: 30px;border-bottom: solid 4px #8c0000;}
.contactinfo .contactgraybox p {line-height: 20px;font-size: 15px;padding-bottom: 18px;}
.contactinfo .contactgraybox .inputtitle {font-size: 12px;padding-bottom: 3px;}
.contactinfo .contactgraybox .form-group .textareafield {height: 80px;}
.contactinfo .contactgraybox .sendmessage {padding: 6px 10px;font-size: 14px;}
.contactinfo .contactgraybox .socialData ul.social-network li {margin: 0 1px;}
.socialData .social-circle li a {    width: 30px;height: 30px;font-size: 14px}
.socialData .social-circle li i { line-height:30px;}

.music-tags .tags-title {    font-size: 24px;line-height: 26px;}
.music-tags .tags-text {font-size: 18px;line-height: 28px;}
/*End Contact Us*/

/*Pricing Page*/
.pricing-hdr .pricing-title {font-size: 26px;line-height: 30px;}
.pricingData .col-lg-6, .pricingData .col-md-6, .pricingData .col-sm-6 {padding-right: 20px;padding-left: 20px;}
.pricingData ul.priceListBox li {font-size: 18px;}
.pricingData ul.priceListBox .blackbg .signupBtn {height: 50px;padding: 0px 10px;font-size: 20px;line-height: 50px;min-width: 240px;}
.pricingData ul.priceListBox .blackbg .signupBtn strong {font-size: 20px;}
.pricingData ul.priceListBox .blackbg .signupBtn strong .monthly {bottom: -14px;font-size: 12px;}
/*End Pricing Page*/


/*Tutorials Page*/
.tutorialsData .youtubetext {
    height: 120px;
}
.tutorialsData .youtubetext img {
    width: 30%;
}
.tutorialsData .tutorialtital {
 font-size: 28px;
 line-height: 22px;
}

/*End Tutorials Page*/


}
@media (max-width:1120px) {
/*Home page*/
.nav>li {padding: 0px 10px;}
.navbar-default .navbar-nav>li>a {font-size: 16px;}
.full_screenbanner .carousel-caption {top: 40px;}
.full_screenbanner h2 {font-size: 36px; line-height:48px;}
.full_screenbanner h3 {font-size: 34px; line-height:48px;}
.carousel-inner h5 {font-size: 24px;line-height: 38px;}
.featured-users ul.featuredList li {width: 22.8%;}
/*End Home page*/

/*About Us Page*/
.about-hdr .trending-title {font-size:26px;padding: 0px 10%;}
.about-hdr .trending-title:after {height: 6px;}
.about-text p {font-size: 18px;line-height: 30px;}
.verified-profiles h3 {font-size:19px;}
/*End About Us Page*/

/*Our Polices*/
.our-polices h3 {font-size: 18px;}

/*End Our Polices*/

/*Advertise*/
.our-advertise h3 {font-size: 18px;}
/*End Advertise*/


/*FAQS page*/
.panel-title > a {font-size: 26px;}
.glyphicon.accordionicons {font-size: 26px;}
.trendingfeeds.accordionmain .panel-collapse .panel-body p {font-size:18px; line-height: 24px;}
/*End FAQS page*/

/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 30px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 26px;}
.contactinfo .contactgraybox .formaction {min-height: 340px;}
.contactinfo .googlemapBox {height: 560px;}
.contactinfo .contactgraybox .contacttitle {font-size: 22px;line-height: 24px; border-bottom: solid 3px #8c0000;}
.contactinfo .contactgraybox p {line-height: 18px;font-size: 14px;padding-bottom: 12px;}
.contactinfo .contactgraybox .inputtitle {font-size: 12px;padding-bottom: 3px;}
.contactinfo .contactgraybox .form-group .textareafield {height: 80px;}
.contactinfo .contactgraybox .sendmessage {padding: 6px 10px;font-size: 14px;}
.contactinfo .contactgraybox .input-group, .contactinfo .contactgraybox .form-group {padding: 5px 30px 5px 0px;}

.music-tags .tags-title {    font-size: 22px;line-height: 24px;}
.music-tags .tags-text {font-size: 16px;line-height: 24px;}
/*End Contact Us*/


/*Pricing Page*/
.pricing-hdr .pricing-title {font-size: 23px;line-height: 28px;}
.pricingData .col-lg-6, .pricingData .col-md-6, .pricingData .col-sm-6 {padding-right:10px;padding-left: 10px;}
.pricingData ul.priceListBox li {font-size: 16px;}
.pricingData ul.priceListBox .blackbg .signupBtn {height: 42px;padding: 0px 10px;font-size: 18px;line-height: 42px;min-width: 220px;}
.pricingData ul.priceListBox .blackbg .signupBtn strong {font-size: 18px;}
.pricingData ul.priceListBox .blackbg .signupBtn strong .monthly {bottom: -12px;font-size: 11px;}
/*End Pricing Page*/



/*Tutorials Page*/
.tutorialsData .youtubetext {
    height: 100px;
}
.tutorialsData .youtubetext img {
    width: 28%;
}
.tutorialsData .tutorialtital {
 font-size: 26px;
 line-height: 20px;
}

.tutorialsData .modal-right .getfeed .getfeedtext {
 font-size:24px;
}
.tutorialsData .modal-right a.videosignupbtn {
 font-size:16px;
}

/*End Tutorials Page*/


}

/* iPads (landscape) ----------- */
@media (max-width:1024px) {
/*Home page*/
.navbar {min-height: 80px;}
.navbar-header { margin-top:10px;}
.top-logo {margin-top: 14px;}
.navbar-right {margin-top: 16px;}
.nav>li {padding: 0px 10px;}
.navbar-default .navbar-nav>li>a {font-size: 16px;}
.topbtn a.regbtn {height: 36px;font-size: 14px;line-height: 36px;}
.full_screenbanner {margin-top: 80px;}
.full_screenbanner .carousel-caption {top: 30px;}
.full_screenbanner h2 {font-size: 32px;line-height: 40px;}
.full_screenbanner h3 {font-size: 30px;line-height: 40px;}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 40px;padding: 0px 22px;font-size: 16px;line-height: 40px;}
.feedsBar {height: 60px;}
.feedsBar .feedstext {padding: 15px 0px;font-size: 24px;line-height: 30px;}
.feedsBar .feedstext strong {font-size: 24px;}
.trendingfeeds .trending-hdr {padding-bottom: 40px;}
.trendingfeeds .trending-hdr .trending-title {font-size: 28px;line-height: 26px;}
ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo h5 {font-size: 20px;}
ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bitlogo {width: 50px;height: 50px;}
ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bittext {font-size: 16px;}
ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo p {font-size: 16px;line-height: 20px;}
ul.trendingBox ol .trendleft ul.listoflow li .followlink {font-size: 16px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {font-size: 16px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .postBtn {padding: 8px 14px;font-size: 14px;}
ul.trendingBox ol .trendright ul.social_links li {width: 21.1%;}
ul.trendingBox ol .trendright ul.social_links {margin: 10px 0px;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 15px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 22px;}
ul.trendingBox ol .trendright .hrsbox .hrsright .mintext {font-size: 10px;margin-top: -22px;}
.more-trending {padding: 0 0px 20px;}
.more-trending .trendheader {padding: 10px 26px 14px;font-size: 24px;margin-bottom: 20px;}
.more-trending .quote-title {font-size: 28px;line-height: 30px;margin-top: 30px;border-bottom: 6px solid #8c0000;}
.more-trending .quote-title .first-title {font-size: 28px;line-height: 28px;}
.carousel-inner h5 {font-size: 24px;line-height: 40px;}
.big_quote ul.quoteslist li {font-size: 30px; padding: 0px 20px 8px;line-height: 40px;}
.big_quote ul.quoteslist {margin-top: 200px;}
.featured-users .featured-title {font-size: 28px;line-height: 30px;margin-top: 30px;border-bottom: 6px solid #8c0000;}
.featured-users ul.featuredList li {width: 22.6%;}
.submissions {min-height: 290px;}
.submissions .subapp .submissionstitle {font-size: 31px;line-height: 36px;}
.footer .mainFooter ul.footerlinks .ft-title {font-size: 19px;}
.footer .mainFooter ul.footerlinks li a {font-size: 17px;}
.footer .innerFooter ul.innerfooterlinks li {margin: 0px 10px;}
ul.trendingBox ol .trendright .submitBox {height: 240px;}
.closest-dropzone > span {font-size: 20px;line-height: 26px;}
/*End Home page*/
/*FAQS page*/
.panel-title > a {font-size: 22px;}
.glyphicon.accordionicons {font-size: 22px;}
.trendingfeeds.accordionmain .panel-collapse .panel-body p {font-size:16px; line-height: 22px;}
/*End FAQS page*/

/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 25px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 21px;}

.contactinfo .contactgraybox .formaction {min-height: 320px;}
.contactinfo .googlemapBox {height: 554px;}
.contactinfo .contactgraybox .contacttitle {font-size: 22px;line-height: 24px; border-bottom: solid 3px #8c0000;}
.contactinfo .contactgraybox p {line-height: 18px;font-size: 14px;padding-bottom: 12px;}
.contactinfo .contactgraybox .inputtitle {font-size: 12px;padding-bottom: 3px;}
.contactinfo .contactgraybox .form-group .textareafield {height: 60px;}
.contactinfo .contactgraybox .input-group, .contactinfo .contactgraybox .form-group {padding: 5px 10px 5px 0px;}

/*End Contact Us*/

/*Pricing Page*/
.pricing-hdr .pricing-title {font-size: 22px;line-height: 28px;}
/*End Pricing Page*/



/*Tutorials Page*/
 .tutorialsData .modal-right .getfeed .getfeedtext {
 font-size:24px;
}
.tutorialsData .modal-right a.videosignupbtn {
 font-size:16px;
}

/*End Tutorials Page*/

}

@media (max-width:980px) {
/*Home page*/
.nav>li {padding: 0px 9px;}
.navbar-default .navbar-nav>li>a {font-size: 13px;}
.topbtn a.regbtn {font-size: 13px;}
.full_screenbanner h2 {font-size: 29px;line-height: 37px;}
.full_screenbanner h3 {font-size: 27px;line-height: 37px;}
.feedsBar .feedstext {font-size: 22px;line-height: 26px;}
.feedsBar .feedstext strong {font-size: 22px;}
ul.trendingBox ol .trendleft {width: 67%;}
ul.trendingBox ol .trendright {width: 28%;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {font-size: 15px;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 14px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 21px;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt { width: 67%;}
.featured-users ul.featuredList li {width: 22.4%;}
.big_quote ul.quoteslist li {font-size: 26px;line-height: 32px;}
.featured-users .featured-title {font-size: 22px;}
.footer .innerFooter ul.innerfooterlinks li {margin: 0px 8px;}
/*End Home page*/

/*Our Polices*/
.more-trending .trendheader {padding: 10px 26px 14px;font-size: 20px;}
/*End Our Polices*/

/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 22px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 20px;}

.contactinfo .contactgraybox .formaction {min-height: 320px;}
.contactinfo .googlemapBox {height: 554px;}
.contactinfo .contactgraybox .contacttitle {font-size: 22px;line-height: 24px; border-bottom: solid 3px #8c0000;}
.contactinfo .contactgraybox p {line-height: 18px;font-size: 14px;padding-bottom: 12px;}
.contactinfo .contactgraybox .inputtitle {font-size: 12px;padding-bottom: 3px;}
.contactinfo .contactgraybox .form-group .textareafield {height: 60px;}
.contactinfo .contactgraybox .input-group, .contactinfo .contactgraybox .form-group {padding: 5px 10px 5px 0px;}

/*End Contact Us*/

/*Pricing Page*/
.pricingData {padding: 20px 7%;}
/*End Pricing Page*/


/*Tutorials Page*/

.tutorialsData {
   padding: 10px 12%;
}

.tutorialsData .youtubetext {
    height:74px;
}
.tutorialsData .youtubetext img {
    width: 28%;
}
.tutorialsData .tutorialtital {
 font-size: 24px;
 line-height: 18px;
 padding: 14px 0px 10px;
}

/*End Tutorials Page*/

}


@media (max-width:870px) {
/*Home page*/
.nav>li {padding: 0px 7px;}
.navbar-default .navbar-nav>li>a {font-size: 11px;}
.topbtn a.regbtn {font-size: 10px;}
.full_screenbanner .screenbottons {margin-top: 0px;}
.full_screenbanner h2 {font-size: 25px;line-height: 30px;}
.full_screenbanner h3 {font-size: 23px;line-height: 30px;}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 34px;padding: 0px 18px;font-size: 14px;line-height: 34px;}
.feedsBar .feedstext {font-size: 20px;line-height: 24px;}
.feedsBar .feedstext strong {font-size: 20px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {font-size: 11px;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 12px;}
ul.trendingBox ol .trendright .hrsbox .hrsright .mintext {font-size: 9px;}
ul.trendingBox ol .trendright ul.social_links li {width: 20.2%;}
ul.trendingBox ol .trendleft {width: 65%;}
ul.trendingBox ol .trendright { width: 28%;}
ul.trendingBox ol .trendleft ul.listoflow li .followlink {font-size: 14px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 19px;}
.featured-users ul.featuredList li {width: 22%;min-height: 240px;}
.submissions {min-height: inherit;}
.submissions .subapp {padding: 60px 20px 40px;}
.submissions .subapp .submissionstitle {font-size: 22px;line-height: 30px;}
/*Home page*/

/*Our Polices*/
.our-polices h3 {font-size: 15px;}
.more-trending .trendheader {padding: 10px 26px 14px;font-size: 20px;}
.more-trending .trendheader {padding: 10px 26px 14px;font-size: 20px;}
/*End Our Polices*/

/*Advertise*/
.our-advertise h3 {font-size: 15px;}
/*End Advertise*/

/*FAQS page*/
.panel-title > a {font-size: 18px; padding: 10px 18px;}
.glyphicon.accordionicons {font-size: 18px;}
.trendingfeeds.accordionmain .panel-collapse .panel-body p {font-size:14px; line-height: 20px;}
/*End FAQS page*/ 

/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 20px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 18px;}
.socialData .social-circle li a {    width: 26px;height: 26px;font-size: 12px}
.socialData .social-circle li i { line-height:26px;}
.contactinfo .googlemapBox {height: 547px;}

/*End Contact Us*/

/*Pricing Page*/
.pricingData {padding: 20px 5%;}
/*End Pricing Page*/

/*Tutorials Page*/
.tutorialsData .modal-dialog {
    height: 500px;
}
/*End Tutorials Page*/
}

/* iPads (portrait) ----------- */
@media (max-width:768px) {
/*Home page*/
.nav>li {padding: 0px 5px;}
.navbar-default .navbar-nav>li>a {font-size: 13px;}
.nav>li>a {padding: 7px 0px 3px;}
.topbtn {padding-left: 10px;}
.topbtn a.regbtn {height: 28px;font-size: 12px;line-height: 28px; padding: 0px 10px;}
.full_screenbanner h2 {font-size: 24px;line-height: 36px; margin-bottom: 16px;}
.full_screenbanner h3 {font-size: 24px;line-height: 34px; margin-bottom: 16px;}
.full_screenbanner .screenbottons {margin-top: 10px;}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 30px;padding: 0px 18px;font-size: 14px;line-height: 30px;}
.feedsBar .feedstext {font-size: 18px;}
.feedsBar .feedstext strong {font-size: 18px;}
.trendingfeeds .trending-hdr .trending-title {font-size: 23px;line-height: 22px;}
.trendingfeeds .trending-hdr .trending-title:after {height: 6px;}
.trendingfeeds {padding: 20px 30px 20px 30px;}
ul.trendingBox ol .trendleft {width: 98%;margin-right: 0;}
ul.trendingBox ol .trendright {width: 94%;}
ul.trendingBox ol .trendright .submitBox {width: 40%; height: 150px;}
ul.trendingBox ol .trendright ul.social_links { width:50%;margin: 0px 0px 10px 20px;}
ul.trendingBox ol .trendright .hrsbox {width: 50%;margin-top: 34px; margin-left:20px;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 20px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 30px;}
ul.trendingBox ol .trendright .hrsbox .hrsright .mintext {font-size: 14px;margin-top: -28px;}
.more-trending .quote-title .first-title {font-size: 26px;line-height: 26px;}
.more-trending .quote-title {font-size: 26px;line-height: 26px;}
#quote-carousel {padding: 0 40px 40px 40px;}
.carousel-inner h5 {font-size: 22px;line-height: 32px;}
#quote-carousel .carousel-indicators {bottom: 0px !important;}
.featured-users .featured-title {font-size: 26px;line-height: 26px;}
.featured-users {padding: 0px 10px 0px 10px;}
.featured-users ul.featuredList li {width: 30%;}
.submissions {min-height: 220px;}
.submissions .subapp {padding: 30px 20px 30px;}
.submissions .subapp .submissionstitle {font-size: 22px;line-height: 28px;}
.footer .mainFooter ul.footerlinks.ftfirst {padding-left:0px;}
.footer .mainFooter ul.footerlinks .ft-title {font-size: 16px;}
.footer .mainFooter ul.footerlinks li {margin: 4px 0px;}
.footer .innerFooter ul.innerfooterlinks li {margin: 0px 6px;}
/*End Home page*/

/*About Us Page*/
.about-hdr .trending-title {position: relative;font-family: Century Gothic, Helvetica, sans-serif;font-size: 23px;font-weight: bold;line-height: 38px;color: #8c0000;padding-bottom: 3px;padding: 0px 8%;}
/*End About Us Page*/

 /*Advertise*/
.bannerad{ display:none;}
 /*End Advertise*/
 
/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 21px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 19px;}
.contactinfo .contactgraybox .contactdata {padding: 4% 8% 0px 10%;}
.contactinfo .contactgraybox .form-group .textareafield {height: 100px;}
.contactinfo .contactgraybox .formaction {min-height: 360px;}
.socialData .social-circle li a {    width: 36px;height: 36px;font-size: 14px}
.socialData .social-circle li i { line-height:36px;}
.contactinfo .googlemapBox {height: 360px;}
/*End Contact Us*/ 

/*Pricing Page*/
.pricingData {padding: 20px 3%;}
/*End Pricing Page*/


/*Tutorials Page*/

.tutorialsData {
   padding: 10px 12%;
}

.tutorialsData .youtubetext {
    height:74px;
}
.tutorialsData .youtubetext img {
    width: 28%;
}
.tutorialsData .modal-dialog {
    height: 500px;
}
.modal-body.modal-left {
 width:100%;
}
.tutorialsData .modal-right {
 width:100%;
 padding: 0px 14px 20px 0px;
}
.tutorialsData .modal-right .getfeed {
 display:none;
 top: 0px;
 height:auto;
}

.tutorialsData .modal-right a.videosignupbtn {
 border-radius: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0px;
	    top: 0px;
		    line-height: 26px;
			background:#8c0000;
}

.btn-default.closeicon {
    color: #fff;
    background: #8c0000;
    right: -18px;
    top: -18px;
    font-size: 14px;
}

/*End Tutorials Page*/


}

@media (max-width: 767px) {
/*Home page*/
.navbar {min-height: 70px;}
.full_screenbanner {margin-top: 70px;}
.navbar-default .navbar-brand {width: 23%;} 
.nav>li {padding: 2px 0px 10px;width: 100%;text-align: center;}
.navbar-default .navbar-nav>li>a {font-size: 18px;}
.topbtn {width: 94%;padding: 10px 0px;}
.topbtn a.regbtn {height: 40px;font-size: 18px;line-height: 40px;padding: 0px 10px;width: 100%;text-align: center; margin-bottom: 14px; margin-right: 0px; margin-top:10px;}
.full_screenbanner .carousel-caption {    top: 0px;left: 12%;right: 12%;}
.full_screenbanner .screenbottons {margin-top: 0px;}
.full_screenbanner .screenbottons a.bannermoreBtns {border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;}
.full_screenbanner .carousel-indicators li {width: 12px;height: 12px;margin: 0px 2px;}
.carousel-indicators { bottom:20px;}
.top-logo {margin-top: 5px;}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {max-height: initial;}
.full_screenbanner h2 {    line-height: 48px; margin-bottom: 16px;padding: 2px 10px 5px;font-size: 33px;}
.full_screenbanner h3 {line-height: 36px; margin-bottom: 16px;padding: 2px 10px 3px;font-size: 30px;}
.full_screenbanner .screenbottons {width: auto;}
.feedsBar .feedstext{line-height: 30px; padding: 8px 0px; font-size: 18px;}
.feedsBar .feedstext strong {font-size: 18px;}
.trendingfeeds {padding: 10px 15px 10px 15px;}
.trendingfeeds .trending-hdr .trending-title:after {height: 4px;width: 100%;bottom: -6px;left:20px;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 90%;float: right;}
ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo h5 {font-size: 16px;}
ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo p {font-size: 15px;line-height: 22px;}
ul.trendingBox ol .trendleft ul.listoflow {width: 100%;}
ul.trendingBox ol .trendleft ul.listoflow li .followlink {font-size: 15px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {font-size: 15px;padding: 0px 8px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea {font-size: 16px; min-height:60px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea::-webkit-input-placeholder {font-size:16px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea:-moz-placeholder {font-size:16px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea::-moz-placeholder {font-size:16px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea:-ms-input-placeholder {font-size:16px;}
ul.trendingBox ol .trendright {width: 85%; margin-left:20px;}
ul.trendingBox ol .trendright .submitBox {width: 100%;}
ul.trendingBox ol .trendright ul.social_links {width: 100%;margin: 20px 0px 10px 0px;}
ul.trendingBox ol .trendright .hrsbox {width: 100%;margin-top: 14px;margin-left: 0px;}
ul.trendingBox ol .trendright .hrsbox .hrsleft {font-size: 17px;}
ul.trendingBox ol .trendright .hrsbox .hrsright {font-size: 24px;}
ul.trendingBox ol .trendright .hrsbox .hrsright .mintext {font-size: 11px;margin-top: -22px;}
.more-trending .trendheader {margin-bottom: 0px;font-size: 26px;}
.more-trending .quote-title {padding: 0px 10px 12px;font-size: 28px;line-height: 26px;}
.more-trending .quote-title .first-title {font-size: 28px;line-height: 26px;}
#quote-carousel {padding: 0 0px 40px 0px;}
.carousel-inner h5 {  line-height: 42px;word-spacing: 5px;word-spacing: 5px;font-size: 34px;}
#quote-carousel .carousel-indicators li {margin: 0px 3px;width: 12px;height: 12px;}
#quote-carousel .carousel-indicators li.active {margin: 0px 3px;width: 12px;height: 12px;}
.big_quote ul.quoteslist {margin-top: 40px;}
.big_quote ul.quoteslist li { }
.featured-users .featured-title {padding: 0px 10px 12px;border-bottom: 4px solid #8c0000;font-size: 28px;line-height: 30px;}
.submissions .subapp .submissionstitle {font-size: 20px;line-height: 26px;}
.featured-users ul.featuredList {padding: 10px 0px 10px 0px;}
.featured-users ul.featuredList li {width: 28%; min-height: 200px;}
.featured-users ul.featuredList li a small {line-height: 18px;padding: 10px 0px 0px;}
.submissions {padding: 0px 14px 0px 14px;}
.submissions .subapp {padding: 30px 0px 30px;}
.footer .mainFooter {padding: 30px 20px 30px 20px;}
.footer .mainFooter ul.footerlinks{margin: 20px 0px;}
.footer .innerFooter ul.innerfooterlinks {margin: 0px 0px 20px;}
.footer .innerFooter ul.innerfooterlinks li {margin: 3px 6px;}
.footer .innerFooter .copyright {float: left;padding-left: 7px;}
/*End Home page*/
/*About Us Page*/
.about-text p {font-size: 16px;line-height: 26px;}
/*End About Us Page*/

/*Our Polices*/
.our-polices h3 {width:90%;font-size: 17px;}
/*End Our Polices*/

/*Advertise*/
.our-advertise h3 {font-size: 17px;}
/*End Advertise*/

/*FAQS page*/
.panel-title > a {font-size: 16px;}
.glyphicon.accordionicons {font-size: 16px;}
/*End FAQS page*/ 
/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 20px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 18px;}
.contactinfo .googlemapBox {height: 260px;}

.music-tags .tags-title {    font-size: 20px;line-height: 22px; padding: 0px 10px 10px;}
.music-tags .tags-text {font-size: 15px;line-height: 22px; padding: 10px 4% 20px 4%;}
/*End Contact Us*/ 

/*Pricing Page*/
.pricing-hdr {padding-bottom: 20px;}
.pricingData .col-lg-6, .pricingData .col-md-6, .pricingData .col-sm-6 {padding-right: 30px;padding-left: 30px; padding-bottom:30px;}
/*End Pricing Page*/


/*Tutorials Page*/

 
.tutorialsData .youtubetext {
    height:200px;
}

.tutorialsData .modal-dialog {
	width: 100%;
	height: 360px;
	margin: 10px auto;
} 

/*End Tutorials Page*/

}


@media (max-width: 640px) {
/*Home page*/
.navbar-default .navbar-brand {width: 24%;}
.navbar-default .navbar-nav>li>a {font-size: 16px;}
.topbtn a.regbtn {height: 34px;font-size: 16px;line-height: 34px;padding: 0px 10px;margin-bottom: 12px;}
.full_screenbanner .carousel-caption {left: 10%;right: 10%;} 
.full_screenbanner h2 {line-height: 30px;font-size: 22px;margin-bottom:10px;}
.full_screenbanner h3 {font-size: 22px;line-height: 26px;margin-bottom:10px;}
.full_screenbanner .screenbottons a.bannermoreBtns:first-child {float: left;}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 30px;padding: 0px 10px;font-size: 13px;line-height: 30px;}
.carousel-indicators { bottom: 10px;}
.feedsBar .feedstext {line-height: 30px;padding: 15px 0px;font-size: 13px;}
.feedsBar .feedstext strong {font-size: 14px;}
.trendingfeeds .trending-hdr .trending-title {font-size: 19px;line-height: 26px;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 64%;}
ul.trendingBox ol .trendleft ul.listoflow {width: 30%;}
.more-trending .trendheader {font-size: 22px;}
.more-trending .quote-title {font-size: 24px;}
.more-trending .quote-title .first-title {font-size: 24px;} 
.carousel-inner h5 {line-height: 26px;font-size: 20px;}
.big_quote ul.quoteslist li {font-size: 20px;line-height: 28px;}
.featured-users .featured-title {font-size: 20px;line-height: 24px;}
.featured-users ul.featuredList li {width: 41.4%;min-height: 240px;}
 /*End Home page*/
 
/*About Us Page*/
.verified-profiles h3 {font-size: 17px;line-height: 28px;width: 90%;}
/*End About Us Page*/

/*Our Polices*/
.our-polices h3 {width: 100%;font-size: 16px;}
.our-polices h2 {font-size: 20px;line-height: 38px;width: 70%;}
/*End Our Polices*/

/*Advertise*/
.our-advertise h3 {width: 100%;font-size: 16px;}
.our-advertise h2 {font-size: 20px;line-height: 38px;width: 70%;}
/*End Advertise*/
/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption {right: 10%;left: 10%;}
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 20px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 18px;}

/*End Contact Us*/

/*Pricing Page*/
.pricing-hdr .pricing-title {font-size: 18px;line-height: 24px;}
.pricingData .col-lg-6, .pricingData .col-md-6, .pricingData .col-sm-6 {padding-right: 10px;padding-left: 10px;padding-bottom: 20px;}
.pricingData ul.priceListBox li {font-size: 15px;}
.pricingData ul.priceListBox .basic-title {min-height: 80px;line-height: 80px;}
.pricingData ul.priceListBox .basic-title .basicimg {width: 60%;}
.pricingData ul.priceListBox .basic-title .proimg {width: 42%;}
/*End Pricing Page*/
/*Tutorials Page*/
 .tutorialsData .youtubetext {
    height:190px;
}

.tutorialsData .modal-dialog {
	margin: 50px auto;
} 

/*End Tutorials Page*/


}


@media (max-width: 480px) {
/*Home page*/
.navbar-default .navbar-brand {width: 36%;}
.full_screenbanner .carousel-caption {top: -13px;}
.full_screenbanner h2 {line-height: 22px;font-size: 15px;margin-bottom: 6px;}
.full_screenbanner h3 {font-size: 15px;line-height: 20px;margin-bottom: 6px;} 
.feedsBar .feedstext {line-height: 18px;font-size: 13px;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 94%}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 26px;font-size: 12px;line-height: 26px;}
.big_quote ul.quoteslist li {font-size: 16px;line-height: 28px;}
ul.trendingBox ol .trendleft ul.listoflow {width: 90%;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {font-size: 12px;padding: 0px 5px;}
.featured-users ul.featuredList li { width: 44.2%;}
.navbar-toggle { margin-top:2px;}
/*End Home page*/

/*About Us Page*/
.about-hdr .trending-title {font-size: 18px; line-height: 22px;}
.about-text p {font-size: 16px;line-height: 26px;}
.slick-slide img {  width: 100%;}
/*End About Us Page*/

/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption {right: 6%;left: 6%;}
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 13px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 12px;}

.music-tags .tags-title {    font-size: 18px;line-height: 20px;}
.music-tags .tags-text {font-size: 14px;line-height: 20px;}
/*End Contact Us*/
/*Pricing Page*/
.pricing-hdr {padding-bottom: 10px;}
.pricing-hdr .pricing-title {font-size: 18px;line-height: 24px;}
/*End Pricing Page*/

/*Tutorials Page*/
 .tutorialsData .youtubetext {
    height:120px;
}

/*End Tutorials Page*/

}

@media (max-width: 360px) {
/*Home page*/
.full_screenbanner .carousel-caption {top: -10px;}
.full_screenbanner h2 {font-size: 15px;line-height: 16px; padding: 4px 10px 5px;}
.full_screenbanner h3 {font-size: 14px;line-height: 16px;padding: 4px 10px 3px;} 
.full_screenbanner .screenbottons a.bannermoreBtns {height: 26px;font-size: 12px;line-height: 26px;}
ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {font-size: 12px;padding: 0px 3px;}
.featured-users ul.featuredList li {width: 42%;min-height: 180px;}
.full_screenbanner .screenbottons a.bannermoreBtns {height: 24px;font-size: 10px;line-height: 24px;}
.carousel-indicators {bottom: 0px;}
.feedsBar { height: 50px;}
.feedsBar .feedstext {line-height: 14px;padding: 9px 0px;font-size: 13px;}
ul.trendingBox ol .trendleft .trackBox .trackdata, ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {width: 92%;}
ul.trendingBox ol .trendleft ul.listoflow {width: 90%;}
ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bittext {font-size: 14px;}
ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bittext .rightmark { width: 13px;}
.more-trending .trendheader {font-size: 15px;}
.more-trending .quote-title {font-size: 18px;}
.more-trending .quote-title .first-title {font-size: 18px;}
.carousel-inner h5 {line-height: 26px;font-size: 16px;}
.big_quote ul.quoteslist li {font-size: 13px;line-height: 20px; padding: 3px 20px 4px;}
.featured-users .featured-title {font-size: 16px;line-height: 22px;}
.submissions .subapp .submissionstitle {font-size: 18px;line-height: 24px;}
.navbar-default .navbar-brand {width: 53%;}
.top-logo { margin-top: 4px;}
 /*End Home page*/
 
/*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption {right: 3%;left: 3%;}
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 13px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 12px;}

/*End Contact Us*/

/*Tutorials Page*/
 .tutorialsData .youtubetext {
    height:110px;
}

/*End Tutorials Page*/

}

@media (max-width: 330px) {
/*Home page*/
.full_screenbanner h2 {font-size: 12px;line-height: 16px;}
.full_screenbanner h3 {font-size: 11px;line-height: 16px;}
.big_quote ul.quoteslist li {font-size: 11px;line-height: 18px; padding: 4px 20px 6px;}
 /*End Home page*/
 
 /*Contact Us*/
.full_screenbanner .carousel-caption.contact-caption h2 {font-size: 11px;}
.full_screenbanner .carousel-caption.contact-caption h3 {font-size: 10px;}

/*End Contact Us*/

/*Tutorials Page*/
 .tutorialsData .youtubetext {
    height:98px;
}

/*End Tutorials Page*/
 
}
