﻿body {
    margin: 0;
}

.music-player {
    width: 100%;
    /*padding:10px 0px;*/
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.name-image {
    padding: 10px 0px;
}

    .name-image img {
        width: 75px;
        border: 1px solid #fff;
        display: inline-block;
    }

.player-options {
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
}

.player-option-right {
    /*text-align: center;*/
    /*text-align: right;*/
}

.suffle-list {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.play-progress {
    padding-top: 10px;
    display: inline-block;
    width: 50%;
    margin-right: 10%;
}

.name-image ul {
    display: inline-block;
    padding-left: 3%;
}

    .name-image ul li a {
        color: #fc0;
    }

.fa-shuffle:before {
    content: "\f074";
}

.suffle-list a {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

    .suffle-list a:hover {
        color: #fc0;
        text-decoration: none;
    }

.nxt-play {
    display: inline-block;
    color: #fff;
}

    .nxt-play a {
        color: #fff;
    }

        .nxt-play a#fap-play-pause {
            font-size: 36px;
            padding: 0 10px;
        }

    .nxt-play a {
        color: #FFF;
        text-decoration: none;
    }

        .nxt-play a:hover {
            color: #fc0;
            text-decoration: none;
            cursor:pointer;
        }

.toggle-suffle {
    transform: rotate(180deg);
}

.nxt-play a#fap-next, .nxt-play a#fap-previous {
    position: relative;
    top: -6px;
    font-size: 18px;
}

.in-volume {
    width: 80px;
    height: 8px;
    background: #FFF;
    display: inline-block;
    position: relative;
    border: 1px solid #fff;
}

.volume-increase {
    width: 35%;
    height: 100%;
    background: #8c0000;
    position: absolute;
}

.volume {
    margin: 0px 30px;
    display: inline-block;
}

.play-progress-bar {
    width: 100%;
    height: 12px;
    background: #FFF;
    display: inline-block;
    border: 1px solid #fff;
}

.play-progress-bar-increase {
    width: 35%;
    height: 100%;
    background: #8c0000;
    position: absolute;
}

.music-lists {
    padding: 50px 0;
    display: block;
}

.music-listing {
}

    .music-listing li {
        margin-bottom: 10px;
    }

        .music-listing li img {
        }

        .music-listing li span {
            padding-left: 25px;
        }

        .music-listing li a {
            position: absolute;
            right: 0;
            color: #fff;
        }


        .music-listing li span a {
            display: inline-block;
            position: relative;
            font-size: 12px;
        }


        .music-listing li a:hover {
            color: #fc0;
        }

.open-close-panel {
    display: inline-block;
    position: absolute;
    top: -34px;
}

    .open-close-panel a {
        color: #8c0000;
        padding: 7px 10px;
        background: #ffffff;
        border: 1px solid #8c0000;
        display: block;
    }

.vol-dec {
    float: left;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 7px;
    font-size: xx-large;
}

.vol-inc {
    float: right;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 7px;
    font-size: larger;
}


span.audio-progress-position-l {
    margin-top: 10px;
    float: left;
}

span.audio-progress-position-r {
    margin-top: 10px;
    float: right;
}

.vol-dec-mp {
    float: left;
    margin-top: -8px;
    font-size: xx-large;
    cursor:pointer;
    height:0px;
}

.vol-inc-mp {
    float: right;
    margin-top: 3px;
    font-size:larger;
    cursor:pointer;
    height:0px;    
}
