﻿/*Top Header*/
.navbar {
    background-color: #fff;
    border-bottom: 0px;
    min-height: 94px;
    border-bottom: 10px solid #8c0000;
    width: 100%;
}

.navbar-brand {
    height: auto;
    padding: 0px;
    margin-left: 0 !important;
}

.top-logo {
    display: inline-block;
    width: 100%;
    margin-top: 19px;
}

.navbar-nav {
    width: 100%;
    display: inline-block;
    margin-top: 22px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    /*font-size: 22px;*/
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #8c0000;
    background-color: transparent;
    border-bottom: solid 2px #8c0000;
}

.navbar-nav > li {
    float: left;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    border-bottom: 2px solid #8c0000;
    color: #8c0000;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 9px 0px 3px;
}

.nav > li {
    padding: 0px 18px;
}

.topbtn {
    float: right;
    padding-left: 30px;
}

    .topbtn a.regbtn {
        color: #FFFFFF;
        height: 38px;
        padding: 0px 15px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
        background: #8c0000;
        text-transform: uppercase;
        line-height: 38px;
        display: inline-block;
        -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
        font-family: Century Gothic, Helvetica, sans-serif;
        letter-spacing: 0.6px;
    }

        .topbtn a.regbtn:hover, .topbtn a.regbtn.active {
        }
/*End Top Header*/
/*Full Screen Banner*/
.full_screenbanner {
    /*height: 100%;*/
    width: 100%;
    position: relative;
    margin-top: 94px;
}

    .full_screenbanner .carousel-caption {
        bottom: auto;
        top: 100px;
    }

    .full_screenbanner h2 {
        display: block;
        padding: 0px 20px 8px;
        background: rgba(0, 0, 0, 0.4);
        color: #FFFFFF;
        font-size: 50px;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 70px;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
        -moz-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
        -webkit-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
        margin-bottom: 26px;
        letter-spacing: 1.4px;
    }

    .full_screenbanner h3 {
        display: inline-block;
        padding: 0px 20px 4px;
        background: rgba(140, 0, 0, 0.6);
        color: #FFFFFF;
        font-size: 45px;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 60px;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
        -moz-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
        -webkit-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }

    .full_screenbanner .screenbottons {
        width: 70%;
        display: inline-block;
        margin-top: 30px;
    }

        .full_screenbanner .screenbottons a.bannermoreBtns {
            color: #FFFFFF;
            height: 60px;
            padding: 0px 32px;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            font-size: 22px;
            font-weight: bold;
            margin-right: 10px;
            background: #ca2a2a;
            text-transform: uppercase;
            line-height: 60px;
            display: inline-block;
            -moz-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
            box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
            font-family: Century Gothic, Helvetica, sans-serif;
            letter-spacing: 0.6px;
            text-shadow: none;
            -webkit-text-shadow: none;
            -moz-text-shadow: none;
        }

            .full_screenbanner .screenbottons a.bannermoreBtns:first-child {
                float: left;
            }

            .full_screenbanner .screenbottons a.bannermoreBtns:last-child {
                float: right;
            }

    .full_screenbanner .carousel-indicators li {
        width: 18px;
        height: 18px;
        background-color: #989898;
        border: none;
        margin: 0px 3px;
    }

    .full_screenbanner .carousel-indicators .active {
        background-color: #fff;
    }

.carousel-inner {
    text-align: center;
}

.full_screenbanner .carousel-inner > .item > a > img, .full_screenbanner .carousel-inner > .item > img, .full_screenbanner .img-responsive, .full_screenbanner .thumbnail a > img, .full_screenbanner .thumbnail > img {
    display: inline-block;
}
/*End Full Screen Banner*/

/*Active Feeds Bar*/
.feedsBar {
    width: 100%;
    display: inline-block;
    background: #8c0000;
    height: 80px;
    text-align: center;
    float: left;
}

    .feedsBar .feedstext {
        display: inline-block;
        padding: 26px 0px 29px;
        text-transform: uppercase;
        color: #cc8f8f;
        font-size: 28px;
        letter-spacing: 0.6px;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 26px;
    }

        .feedsBar .feedstext strong {
            color: #FFFFFF;
            font-size: 28px;
            letter-spacing: 0.6px;
            font-family: Century Gothic, Helvetica, sans-serif;
            font-weight: bold;
        }
/*End Active Feeds Bar*/

/*Trending Feeds*/
.trendingfeeds {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    padding: 20px 50px 20px 50px;
}

    .trendingfeeds .trending-hdr {
        padding-bottom: 10px;
        position: relative;
        width: 100%;
        text-align: center;
        display: inline-block;
        padding-bottom: 30px;
    }

        .trendingfeeds .trending-hdr .trending-title {
            position: relative;
            font-family: Century Gothic, Helvetica, sans-serif;
            font-size: 35px;
            font-weight: bold;
            line-height: 38px;
            color: rgba(0, 0, 0, 0.7);
            padding-bottom: 3px;
        }

            .trendingfeeds .trending-hdr .trending-title:after {
                position: absolute;
                content: "";
                width: 90%;
                height: 8px;
                background: rgba(0, 0, 0, 0.7);
                display: inline-block;
                left: 40px;
                bottom: -10px;
            }

ul.trendingBox {
    width: 100%;
    display: inline-block;
    float: left;
}

    ul.trendingBox ol {
        width: 100%;
        display: inline-block;
        float: left;
        margin-bottom: 20px;
        G border:1px solid #8c0000;
        box-shadow: 0 2px 5px 1px #999;
        -moz-box-shadow: 0 2px 5px 1px #999;
        -webkit-box-shadow: 0 2px 5px 1px #999;
        padding-bottom: 20px;
        border: 2px solid #a51c2d;
    }

        ul.trendingBox ol .trendleft {
            width: 79%;
            float: left;
            display: inline-block;
            margin-right: 14px;
        }

            ul.trendingBox ol .trendleft .trackBox {
                width: 100%;
                float: left;
                display: inline-block;
            }

                ul.trendingBox ol .trendleft .trackBox .trackimg {
                    width: 28.2%;
                    float: left;
                    border-left: 8px solid #8c0000;
                }

                    ul.trendingBox ol .trendleft .trackBox .trackimg img {
                        display: block;
                    }

                ul.trendingBox ol .trendleft .trackBox .trackdata {
                    width: 62%;
                    float: left;
                    margin-left: 18px;
                }

                    ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview {
                        width: 100%;
                        display: inline-block;
                        float: left;
                        margin: 12px 0px 10px;
                    }

                        ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bitlogo {
                            width: 80px;
                            height: 80px;
                            float: left;
                            display: inline-block;
                            margin-right: 10px;
                        }

                            ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bitlogo img {
                                display: block;
                            }

                        ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bittext {
                            display: block;
                            font-family: Century Gothic, Helvetica, sans-serif;
                            font-size: 19px;
                            font-weight: bold;
                            color: #8c0000;
                            margin-top: 4px;
                        }

                        ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bitdate {
                            display: block;
                            font-family: Century Gothic, Helvetica, sans-serif;
                            font-size: 13px;
                            margin-top: 4px;
                        }

                        ul.trendingBox ol .trendleft .trackBox .trackdata .bitlogoview .bittext .rightmark {
                            display: inline-block;
                            margin-left: 3px;
                            position: relative;
                            top: -6px;
                            width: 18px;
                        }

                    ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo {
                        width: 100%;
                        display: inline-block;
                        float: left;
                    }

                        ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo h5 {
                            font-size: 26px;
                            font-weight: bold;
                            color: #8c0000;
                            display: block;
                            line-height: 20px;
                            padding-bottom: 10px;
                        }

                        ul.trendingBox ol .trendleft .trackBox .trackdata .trackinfo p {
                            font-size: 20px;
                            display: block;
                            line-height: 26px;
                        }

            ul.trendingBox ol .trendleft .trackbottom {
                width: 100%;
                display: inline-block;
                float: left;
            }

            ul.trendingBox ol .trendleft ul.listoflow {
                width: 28.2%;
                float: left;
                display: inline-block;
                margin-top: 10px;
            }

                ul.trendingBox ol .trendleft ul.listoflow li {
                    display: inline-block;
                    width: 100%;
                    float: left;
                    margin-bottom: 8px;
                }

                    ul.trendingBox ol .trendleft ul.listoflow li .followlink {
                        display: block;
                        padding: 8px 0px 8px 20px;
                        position: relative;
                        font-size: 20px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                        ul.trendingBox ol .trendleft ul.listoflow li .followlink:before {
                            content: "";
                            position: absolute;
                            width: 8px;
                            height: 34px;
                            background: #8c0000;
                            display: inline-block;
                            left: 0px;
                            top: 0px;
                        }

                        ul.trendingBox ol .trendleft ul.listoflow li .followlink .playicon {
                            display: block;
                            margin: 10px 0px 0px 28px;
                            width: 40px;
                            height: 40px;
                        }

                            ul.trendingBox ol .trendleft ul.listoflow li .followlink .playicon:hover {
                                opacity: 0.8;
                            }

            ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt {
                width: 62%;
                float: left;
                margin-left: 18px;
                margin-top: 30px;
            }

                ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist {
                    display: inline-block;
                    float: right;
                    /*border-right: 8px solid #8c0000;*/
                    padding: 6px 0px 3px;
                    margin-bottom: 4px;
                }

                    ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li {
                        float: left;
                        border-right: 1px solid #000;
                        display: inline-block;
                    }

                        ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li:last-child {
                            border-right: none;
                        }

                        ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt ul.likelist li a {
                            padding: 0px 10px;
                            display: inline-block;
                            font-size: 18px;
                            text-transform: uppercase;
                            line-height: 17px;
                        }

                ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea {
                    border: 2px solid #bbbbbb;
                    padding: 8px 2% 8px;
                    width: 100%;
                    border-radius: 3px;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    line-height: 120%;
                    color: #000000;
                    display: inline-block;
                    min-height: 85px;
                    overflow: hidden;
                    background: #FFFFFF;
                    resize: none;
                }

                    ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea::-webkit-input-placeholder {
                        color: #a4a4a8;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        opacity: 1;
                        letter-spacing: 0.8px;
                    }

                    ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea:-moz-placeholder { /* Firefox 18- */
                        color: #a4a4a8;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        opacity: 1;
                        letter-spacing: 0.8px;
                    }

                    ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea::-moz-placeholder { /* Firefox 19+ */
                        color: #a4a4a8;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        opacity: 1;
                        letter-spacing: 0.8px;
                    }

                    ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .commentsarea:-ms-input-placeholder {
                        color: #a4a4a8;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        opacity: 1;
                        letter-spacing: 0.8px;
                    }

                ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .postBtn {
                    display: inline-block;
                    float: right;
                    padding: 10px 14px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    margin-top: 4px;
                    background: #a5192a;
                    border: 1px solid #a5192a;
                    font-size: 18px;
                }

                    ul.trendingBox ol .trendleft .trackbottom .trackbottom-rt .postBtn:hover {
                        background: #fff;
                        color: #a5192a;
                        text-decoration: none;
                    }

        ul.trendingBox ol .trendright {
            width: 18%;
            float: right;
            display: inline-block;
            margin-right: 20px;
            margin-top: 20px;
        }

            ul.trendingBox ol .trendright .submitBox {
                display: inline-block;
                width: 100%;
                height: 277px;
                float: left;
            }
/*Submit to this Feed*/
.closest-dropzone {
    background-color: #FFF;
    border: 2px dashed #a4a4a7;
}

    .closest-dropzone:hover {
        background-color: #DADFE3;
        border: 2px dashed #a4a4a7;
    }

        .closest-dropzone:hover > span {
            color: white;
            text-shadow: 0 0 2px #1A1A1A;
        }

.dropzone-upload {
    background-color: #78C6D3 !important;
    box-shadow: inset 0 0 2px #6F726D !important;
    border-color: #3598DC !important;
}

    .dropzone-upload > span {
        text-shadow: 0 0 2px #1A1A1A !important;
    }

.closest-dropzone > span {
    font-size: 30px;
    font-weight: bold;
    color: #a4a4a7;
    line-height: 36px;
}
/*End Submit to this Feed*/

ul.trendingBox ol .trendright ul.social_links {
    width: 100%;
    display: inline-block;
    float: left;
    margin: 20px 0px;
}

    ul.trendingBox ol .trendright ul.social_links li {
        float: left;
        display: inline-block;
        margin-right: 10px;
        width: 22.6%;
    }

        ul.trendingBox ol .trendright ul.social_links li:last-child {
            margin-right: 0px;
        }

        ul.trendingBox ol .trendright ul.social_links li a {
            display: inline-block;
        }

            ul.trendingBox ol .trendright ul.social_links li a img {
                display: block;
            }

            ul.trendingBox ol .trendright ul.social_links li a:hover {
                opacity: 0.8;
            }

ul.trendingBox ol .trendright .hrsbox {
    width: 100%;
    display: inline-block;
    float: left;
    margin-top: 34px;
}

    ul.trendingBox ol .trendright .hrsbox .hrsleft {
        display: inline-block;
        float: left;
        margin-right: 10px;
        font-size: 22px;
        text-transform: uppercase;
        color: #525260;
        font-weight: bold;
    }

    ul.trendingBox ol .trendright .hrsbox .hrsright {
        display: inline-block;
        float: left;
        margin-right: 10px;
        font-size: 30px;
        color: #525260;
        position: relative;
        letter-spacing: 0.8px;
    }

        ul.trendingBox ol .trendright .hrsbox .hrsright .mintext {
            position: absolute;
            top: 0px;
            left: 0px;
            margin-top: -28px;
            letter-spacing: 0.8px;
        }
/*End Trending Feeds*/


/*More Trending Feeds*/
.more-trending {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 10px 0px 20px;
    text-align: center;
}

    .more-trending .trendheader {
        display: inline-block;
        padding: 12px 28px 16px;
        color: #FFFFFF;
        background: #8c0000;
        border: 1px solid #a5192a;
        font-size: 28px;
        font-family: Century Gothic, Helvetica, sans-serif;
        letter-spacing: 0.4px;
        margin-bottom: 30px;
    }

    .more-trending .quote-title {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        border-bottom: 8px solid rgba(0, 0, 0, 0.7);
        display: inline-block;
        margin-top: 40px;
        padding: 0px 40px 10px;
    }

        .more-trending .quote-title .first-title {
            font-family: Century Gothic, Helvetica, sans-serif;
            font-size: 35px;
            font-weight: bold;
            line-height: 38px;
            color: #000;
        }

.full_quote {
    height: 100%;
    width: 100%;
    position: relative;
}
/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
    /* Control buttons  */
    #quote-carousel .carousel-control {
        background: none;
        color: #222;
        font-size: 2.3em;
        text-shadow: none;
        margin-top: 30px;
    }
        /* Previous button  */
        #quote-carousel .carousel-control.left {
            left: -12px;
        }
        /* Next button  */
        #quote-carousel .carousel-control.right {
            right: -12px !important;
        }
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
        /* Changes the color of the indicators */
        #quote-carousel .carousel-indicators li {
            background: #989898;
            margin: 0px 3px;
            width: 18px;
            height: 18px;
        }

        #quote-carousel .carousel-indicators .active {
            background: #8c0000;
        }

    #quote-carousel img {
        width: 250px;
        height: 100px;
    }
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

    .item blockquote img {
        margin-bottom: 10px;
    }

.carousel-inner h5 {
    color: #666666;
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 48px;
    font-weight: bold;
    word-spacing: 12px;
    font-family: Century Gothic, Helvetica, sans-serif;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 150px 40px 150px;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }

        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 15px;
            height: 15px;
        }

            #quote-carousel .carousel-indicators li.active {
                margin: 0px 5px;
                width: 20px;
                height: 20px;
            }
}
/* carousel */
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
    /* Control buttons  */
    #quote-carousel .carousel-control {
        background: none;
        color: #222;
        font-size: 2.3em;
        text-shadow: none;
        margin-top: 30px;
    }
        /* Previous button  */
        #quote-carousel .carousel-control.left {
            left: -12px;
        }
        /* Next button  */
        #quote-carousel .carousel-control.right {
            right: -12px !important;
        }
    /* Changes the position of the indicators */
    #quote-carousel .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
        /* Changes the color of the indicators */
        #quote-carousel .carousel-indicators li {
            background: #c0c0c0;
            border: none;
        }

        #quote-carousel .carousel-indicators .active {
            background: #8c0000;
        }

    #quote-carousel img {
        width: 250px;
        height: 100px;
    }
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

    .item blockquote img {
        margin-bottom: 10px;
    }





/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 150px 40px 150px;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }

        #quote-carousel .carousel-indicators li {
            display: inline-block;
            margin: 0px 5px;
            width: 20px;
            height: 20px;
        }

            #quote-carousel .carousel-indicators li.active {
                margin: 0px 5px;
                width: 20px;
                height: 20px;
            }
}
/*End More Trending Feeds*/

/*Big Quotes Block*/
.big_quote {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    background: url(../img/big-quote-bg.jpg) center center no-repeat;
    background-size: 100% auto;
    background-attachment: cover;
}

    .big_quote ul.quoteslist {
        display: inline-block;
        float: left;
        margin-top: 150px;
        margin-bottom: 20px;
    }

        .big_quote ul.quoteslist li {
            display: table;
            padding: 0px 20px 10px;
            background: rgba(140, 0, 0, 0.6);
            color: #FFFFFF;
            font-size: 40px;
            font-family: Century Gothic, Helvetica, sans-serif;
            line-height: 50px;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
            -moz-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
            -webkit-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
            margin-bottom: 10px;
            letter-spacing: 1.6px;
        }
/*End Big Quotes Block*/



/*Featured Users Block*/
.featured-users {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
    padding: 0px 24px 0px 24px;
}

    .featured-users .featured-title {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        border-bottom: 8px solid #8c0000;
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 10px;
        padding: 0px 40px 10px;
    }

    .featured-users ul.featuredList {
        width: 100%;
        display: inline-block;
        float: left;
        padding: 20px 0px 20px 0px;
    }

        .featured-users ul.featuredList li {
            width: 15%;
            display: inline-block;
            float: left;
            margin: 10px 10px;
        }

            .featured-users ul.featuredList li a {
                display: inline-block;
                width: 100%;
            }

                .featured-users ul.featuredList li a .usersmlimg {
                    width: 100%;
                    display: inline-block;
                }

                    .featured-users ul.featuredList li a .usersmlimg img {
                        display: block;
                    }

                .featured-users ul.featuredList li a:hover .usersmlimg {
                    opacity: 0.8;
                }

                .featured-users ul.featuredList li a small {
                    display: block;
                    line-height: 20px;
                    color: #6c6c6b;
                    padding: 10px 20px 0px;
                }
/*End Featured Users Block*/




/*Submissions Block*/
.submissions {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    background: #f2f2f2;
    padding: 0px 24px 0px 24px;
    min-height: 340px;
}

    .submissions .subapp {
        width: 100%;
        display: inline-block;
        float: left;
        text-align: center;
        padding: 80px 20px 40px;
    }

        .submissions .subapp .submissionstitle {
            display: inline-block;
            font-size: 46px;
            font-family: Century Gothic, Helvetica, sans-serif;
            color: #8c0000;
            line-height: 52px;
        }

        .submissions .subapp .appbuttons {
            width: 100%;
            display: inline-block;
            float: left;
            text-align: center;
            margin-top: 10px;
        }

            .submissions .subapp .appbuttons .iosapp {
                display: inline-block;
                margin-right: 10px;
            }

            .submissions .subapp .appbuttons .androidapp {
                display: inline-block;
            }

                .submissions .subapp .appbuttons .iosapp:hover, .submissions .subapp .appbuttons .androidapp:hover {
                    opacity: 0.8;
                }

    .submissions .all-devices-screen {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
    }
/*End Submissions Block*/
/*Footer Block*/
.footer {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

    .footer .mainFooter {
        background: #000000;
        padding: 30px 50px 30px 50px;
    }

        .footer .mainFooter .ft-logo {
            display: inline-block;
        }

        .footer .mainFooter ul.footerlinks {
            width: 100%;
            display: inline-block;
            float: left;
        }

            .footer .mainFooter ul.footerlinks.ftfirst {
                padding-left: 80px;
            }

            .footer .mainFooter ul.footerlinks .ft-title {
                text-transform: uppercase;
                color: #FFFFFF;
                font-size: 22px;
                display: block;
                line-height: 20px;
                padding-bottom: 10px;
            }

            .footer .mainFooter ul.footerlinks li {
                width: 100%;
                display: inline-block;
                float: left;
                margin: 8px 0px;
            }

                .footer .mainFooter ul.footerlinks li a {
                    display: block;
                    color: #a7a7b7;
                    font-size: 20px;
                }

    .footer .innerFooter {
        background: #660000;
        padding: 10px;
    }

        .footer .innerFooter ul.innerfooterlinks {
            width: 100%;
            display: inline-block;
            float: left;
        }

            .footer .innerFooter ul.innerfooterlinks li {
                display: inline-block;
                float: left;
                margin: 0px 16px;
            }

                .footer .innerFooter ul.innerfooterlinks li a {
                    color: #FFFFFF;
                    display: inline-block;
                }

        .footer .innerFooter .copyright {
            float: right;
            display: inline-block;
            color: #FFFFFF;
        }
/*End Footer Block*/



/*About Us Page*/
.about-text {
    display: block;
    width: 100%;
    height: auto;
    min-height: 700px;
}

    .about-text p {
        font-size: 23px;
        color: #8c0000;
        display: block;
        line-height: 34px;
        padding-bottom: 10px;
    }

.about-hdr {
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
}

    .about-hdr .trending-title {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 3px;
        padding: 0px 15%;
        display: inline-block;
        text-transform: uppercase;
    }

        .about-hdr .trending-title:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 8px;
            background: #8c0000;
            display: inline-block;
            left: 0px;
            bottom: -10px;
        }

.verified-profiles {
    display: block;
    width: 100%;
    height: auto;
    background: #dddddd;
    padding: 20px 0px;
}

    .verified-profiles h3 {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 6px;
        border-bottom: solid 8px #8c0000;
        margin: 0 auto;
        width: 60%;
        text-align: center;
        margin-bottom: 20px;
    }

.slick-slide img {
    box-shadow: 0px 0px 10px 3px #000;
}

    .slick-slide img:hover {
        box-shadow: 0px 0px 10px 3px #b13737;
    }

.slick-initialized .slick-slide {
    display: block;
    padding: 10px;
}

.responsive .slick-dots {
    text-align: center;
    margin: 15px 0 10px 0;
    padding: 0;
}

    .responsive .slick-dots li {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
    }

        .responsive .slick-dots li.slick-active button {
            background-color: #8c0000;
        }

        .responsive .slick-dots li button {
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
            background-color: #c0c0c0;
            border: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
        }

        .responsive .slick-dots li :hover {
            background-color: #8c0000;
        }
/* Custom Arrow */
/*.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}*/

/*@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}*/

/* End carousel */

/*End About Us Page*/


/*Our Polices*/
.our-polices {
    display: block;
    width: 100%;
    height: auto;
}

    .our-polices h2 {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 3px;
        border-bottom: solid 6px #8c0000;
        margin: 0 auto;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }

    .our-polices h3 {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 3px;
        border-bottom: solid 2px #8c0000;
        width: 40%;
        margin-bottom: 10px;
    }

    .our-polices p {
        font-size: 16px;
        color: #8c0000;
        display: block;
        line-height: 28px;
        padding-bottom: 10px;
        font-weight: normal;
    }

.our-advertise {
    display: block;
    width: 90%;
    height: auto;
}

    .our-advertise h2 {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 3px;
        border-bottom: solid 6px #8c0000;
        margin: 0 auto;
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }

    .our-advertise h3 {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 3px;
        border-bottom: solid 2px #8c0000;
        width: 40%;
        margin-bottom: 10px;
    }

    .our-advertise p {
        font-size: 16px;
        color: #8c0000;
        display: block;
        line-height: 28px;
        padding-bottom: 10px;
        font-weight: normal;
    }

.bannerad {
    position: absolute;
    right: 0;
    top: 100px;
    background: #8c0000;
    width: 150px;
    height: 93%;
}

.rotate {
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: relative;
    top: 520px;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 32px;
}
/*End Our Polices*/


/*F.A.Q.'S Text*/
.trendingfeeds.accordionmain {
    padding: 20px 20px 20px 20px;
}

.accordionBox {
    width: 100%;
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.panel-group .panel {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    color: #212121;
    border: none;
}

.panel-title {
    font-size: 14px;
}

    .panel-title > a {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #8c0000;
        font-size: 30px;
        font-family: Century Gothic, Helvetica, sans-serif;
    }

}

.more-less {
    float: left;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    /*border-top-color: #EEEEEE;*/
}

.glyphicon.accordionicons {
    margin-right: 2px;
    font-size: 36px;
    font-family: Century Gothic, Helvetica, sans-serif;
}

.panel-title > a .border-btm {
    border-bottom: 2px solid #8c0000;
    display: block;
    position: relative;
    top: -6px;
}

.trendingfeeds.accordionmain .panel-collapse {
    background: #8c0000;
}

    .trendingfeeds.accordionmain .panel-collapse .panel-body {
        padding: 12px 30px 12px 18px;
        color: #FFFFFF;
    }

        .trendingfeeds.accordionmain .panel-collapse .panel-body p {
            display: inline-block;
            line-height: 28px;
            font-size: 20px;
            font-weight: normal;
            padding-bottom: 30px;
            font-family: Century Gothic, Helvetica, sans-serif;
        }

            .trendingfeeds.accordionmain .panel-collapse .panel-body p:last-child {
                padding-bottom: 0px;
            }
/*End F.A.Q.'S Text*/

/*Contact Page*/

.full_screenbanner .carousel-caption.contact-caption {
    right: 16%;
    left: 16%;
}

    .full_screenbanner .carousel-caption.contact-caption h2 {
        font-size: 42px;
    }

    .full_screenbanner .carousel-caption.contact-caption h3 {
        font-size: 38px;
    }

.contactinfo {
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.padding-lt-rt {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-lt-rt {
    margin-left: 0px;
    margin-right: 0px;
}

.contactinfo .contactgraybox {
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    float: left;
}

    .contactinfo .contactgraybox .contactdata {
        padding: 10% 8% 0px 12%;
        width: 100%;
        display: inline-block;
        float: left;
    }

    .contactinfo .contactgraybox .formaction {
        width: 100%;
        display: inline-block;
        float: left;
        min-height: 420px;
    }

    .contactinfo .contactgraybox .contacttitle {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        padding-bottom: 3px;
        color: #8c0000;
        border-bottom: solid 6px #8c0000;
        text-align: left;
        margin-bottom: 20px;
        width: 100%;
    }

    .contactinfo .contactgraybox p {
        display: inline-block;
        line-height: 22px;
        font-size: 17px;
        font-weight: 600;
        padding-bottom: 20px;
        font-family: Century Gothic, Helvetica, sans-serif;
        color: #8c0000;
    }

    .contactinfo .contactgraybox .input-group {
        padding: 6px 30px 10px 0px;
        width: 100%;
    }

    .contactinfo .contactgraybox .inputtitle {
        display: block;
        font-size: 13px;
        padding-bottom: 4px;
        text-transform: uppercase;
    }

    .contactinfo .contactgraybox .input-group .inputfield {
        width: 100%;
        height: 40px;
        border: 1px solid #bebebe;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }

    .contactinfo .contactgraybox .form-group {
        padding: 6px 30px 10px 0px;
        width: 100%;
    }

        .contactinfo .contactgraybox .form-group .textareafield {
            width: 100%;
            height: 100px;
            border: 1px solid #bebebe;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
        }

    .contactinfo .contactgraybox .sendmessage {
        background: #8c0000;
        color: #fff;
        margin: 4px 0 3px 0;
        outline: medium none !important;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-weight: bold;
        border-radius: 18px;
        -moz-border-radius: 18px;
        -webkit-border-radius: 18px;
        font-size: 16px;
    }

        .contactinfo .contactgraybox .sendmessage:hover {
            moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
            -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
        }

    .contactinfo .contactgraybox .socialData {
        width: 100%;
        display: inline-block;
        float: left;
        border-top: 1px solid #e5e5e5;
        padding: 20px 0px;
        text-align: center;
    }
        /* footer social icons */
        .contactinfo .contactgraybox .socialData ul.social-network {
            display: inline-block;
        }

            .contactinfo .contactgraybox .socialData ul.social-network li {
                display: inline-block;
                margin: 0 5px;
            }
/* footer social icons */
.socialData .social-network a.icoFlickr:hover {
    background-color: #0063dc;
}

.socialData .social-network a.icoFacebook:hover {
    background-color: #3b5998;
}

.socialData .social-network a.icoTwitter:hover {
    background-color: #55acee;
}

.socialData .social-network a.icoInstagram:hover {
    background-color: #3f729b;
}

.socialData .social-network a.icoBehance:hover {
    background-color: #1769ff;
}

.socialData .social-network a.icoGoogle:hover {
    background-color: #dd4b39;
}

.socialData .social-network a.icoLinkedin:hover {
    background-color: #0976b4;
}

    .socialData .social-network a.icoFlickr:hover i, .socialData .social-network a.icoFacebook:hover i, .socialData .social-network a.icoTwitter:hover i, .socialData .social-network a.icoInstagram:hover i, .socialData .social-network a.icoBehance:hover i, .socialData .social-network a.icoGoogle:hover i, .socialData .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

.socialData a.socialIcon:hover, .socialData .socialHoverClass {
    color: #44BCDD;
}

.socialData .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    height: 38px;
    font-size: 14px;
}

.socialData .social-circle li i {
    margin: 0;
    line-height: 38px;
    text-align: center;
}

.socialData .social-circle li a:hover i, .socialData .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.socialData .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.socialData a {
    background-color: #282828;
}

.contactinfo .googlemapBox {
    width: 100%;
    display: inline-block;
    float: left;
    height: 100%;
    height: 699px;
}

.music-tags {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 16px 0px 26px;
    text-align: center;
    background: #8c0000;
}

    .music-tags .tags-title {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #fff;
        display: inline-block;
        margin-top: 30px;
        padding: 0px 40px 10px;
    }

    .music-tags .tags-text {
        color: #fff;
        font-size: 28px;
        line-height: 37px;
        font-family: Century Gothic, Helvetica, sans-serif;
        padding: 10px 9% 20px 9%;
    }
/*End Contact Page*/


/*Pricing Page*/

.pricing-hdr {
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-bottom: 30px;
}

    .pricing-hdr .pricing-title {
        position: relative;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 38px;
        color: #8c0000;
        padding-bottom: 3px;
        padding: 0px 1.4% 4px 1.4%;
        display: inline-block;
        border-bottom: 8px solid #8c0000;
        text-transform: uppercase;
    }

.pricingData {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 20px 13%;
}

    .pricingData ul.priceListBox {
        width: 100%;
        display: inline-block;
        background: #000;
        border-radius: 0px 0px 36px 36px;
        -moz-border-radius: 0px 0px 36px 36px;
        -webkit-border-radius: 0px 0px 36px 36px;
    }

        .pricingData ul.priceListBox .basic-title {
            width: 100%;
            display: inline-block;
            float: left;
            background: #b20000;
            min-height: 100px;
            text-align: center;
            line-height: 100px;
        }

            .pricingData ul.priceListBox .basic-title .basicimg {
                width: 66%;
            }

            .pricingData ul.priceListBox .basic-title .proimg {
                width: 48%;
            }

        .pricingData ul.priceListBox li {
            padding: 10px 10px;
            text-transform: uppercase;
            margin-bottom: 4px;
            display: inline-block;
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #FFFFFF;
        }

            .pricingData ul.priceListBox li:nth-last-child(odd) {
                background: #8a8a8a;
            }

            .pricingData ul.priceListBox li:nth-last-child(even) {
                background: #525252;
            }

        .pricingData ul.priceListBox .blackbg {
            width: 100%;
            display: inline-block;
            text-align: center;
            padding: 26px 0px;
            background: #000000;
            border-radius: 0px 0px 36px 36px;
            -moz-border-radius: 0px 0px 36px 36px;
            -webkit-border-radius: 0px 0px 36px 36px;
        }

            .pricingData ul.priceListBox .blackbg .signupBtn {
                color: #FFFFFF;
                height: 56px;
                padding: 0px 10px;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                font-size: 24px;
                background: #b20000;
                text-transform: uppercase;
                line-height: 56px;
                display: inline-block;
                letter-spacing: 0.6px;
                text-shadow: none;
                -webkit-text-shadow: none;
                -moz-text-shadow: none;
                position: relative;
                min-width: 300px;
            }

                .pricingData ul.priceListBox .blackbg .signupBtn:hover {
                    background: #980101;
                    text-decoration: none;
                }

                .pricingData ul.priceListBox .blackbg .signupBtn strong {
                    position: relative;
                    font-size: 24px;
                    font-weight: normal;
                }

                    .pricingData ul.priceListBox .blackbg .signupBtn strong .monthly {
                        position: absolute;
                        right: 0px;
                        bottom: -14px;
                        text-transform: none;
                        color: #FFFFFF;
                        width: 100%;
                        text-align: center;
                        font-size: 14px;
                    }

    .pricingData .col-lg-6, .pricingData .col-md-6, .pricingData .col-sm-6 {
        padding-right: 40px;
        padding-left: 40px;
    }
/*End Pricing Page*/


/*Tutorials Page*/
.tutorialsData {
    width: 100%;
    display: inline-block;
    float: left;
    padding: 20px 12%;
    position: relative;
}

    .tutorialsData .modal-dialog {
        width: 80%;
        margin: 100px auto;
        padding: 20px;
        height: 530px;
    }

    .tutorialsData .col-lg-4, .tutorialsData .col-md-4, .tutorialsData .col-sm-4 {
        padding: 10px;
    }

    .tutorialsData .youtubetext {
        position: relative;
        display: inline-block;
        color: #FFFFFF;
        width: 100%;
        height: 150px;
        text-align: center;
    }

        .tutorialsData .youtubetext img {
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: block;
            margin: auto;
            width: 36%;
        }

    .tutorialsData .tutorialtital {
        width: 100%;
        display: inline-block;
        float: left;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-size: 34px;
        color: #8c0000;
        letter-spacing: 0.4px;
        padding: 20px 0px 10px;
        line-height: 30px;
    }

.modal-body.modal-left {
    float: left;
    width: 80%;
    padding: 14px;
    height: 100%;
}

.tutorialsData .modal-right {
    float: right;
    width: 20%;
    display: inline-block;
    padding: 20px 14px 20px 0px;
}

.btn-default.closeicon {
    float: none;
    color: #fff;
    border: none;
    background: transparent;
    position: absolute;
    right: 3px;
    top: 0px;
    font-size: 20px;
    z-index: 9;
}

.tutorialsData .modal-right .getfeed {
    width: 96%;
    display: block;
    background: #ca2a2a;
    padding: 14px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    height: 360px;
}

    .tutorialsData .modal-right .getfeed img {
        height: 100%;
    }

    .tutorialsData .modal-right .getfeed .getfeedtext {
        position: absolute;
        bottom: 22px;
        right: 0px;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 36px;
        width: 100%;
        display: inline-block;
        padding: 10px 14px 10px 20px;
        text-align: center;
        line-height: 40px;
        font-family: Century Gothic, Helvetica, sans-serif;
        font-weight: bold;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
        -moz-text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
        -webkit-text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
    }

body.modal-open {
    overflow: auto;
    padding-right: 0px !important;
}

.modal-open .modal {
    overflow-y: hidden;
}


.tutorialsData .modal-right a.videosignupbtn {
    color: #FFFFFF;
    height: 40px;
    padding: 0px 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    background: #ca2a2a;
    text-transform: uppercase;
    line-height: 40px;
    width: 90%;
    margin: 0 auto;
    display: block;
    -moz-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
    font-family: Century Gothic, Helvetica, sans-serif;
    letter-spacing: 0.6px;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-align: center;
    position: relative;
    top: 40px;
}

/*End Tutorials Page*/
.social_links2 li {
    width: 33.5%;
}

.hrs-block {
    text-align: right;
}

    .hrs-block > span {
        font-size: 12px;
        padding-bottom: 5px;
        display: block;
    }


    .hrs-block p {
    }

    .hrs-block > p > span {
    }


.social_links2 a img {
    width: 100px;
    height: 43px;
    border-radius: 4px;
}

.social_links2 a img:hover {
    width: 95px;
    height: 40px;
    border-radius: 4px;
}


