﻿ .box {
            margin-left: 100px;
            width: 500px;
            height: 50px;
        }

        .container-3 {
            width: 300px;
            vertical-align: middle;
            white-space: nowrap;
            position: relative;
        }

            .container-3 input#seachUser {
                width: 300px;
                height: 50px;
                background: #eeeeee;
                border: 1px solid #fbd3d3;
                font-size: 10pt;
                float: left;
                padding-left: 45px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                color: #2b303b;
                margin: 10px;
            }

                .container-3 input#seachUser::-webkit-input-placeholder {
                    color: #65737e;
                }

                .container-3 input#seachUser:-moz-placeholder { /* Firefox 18- */
                    color: #65737e;
                }

                .container-3 input#seachUser::-moz-placeholder { /* Firefox 19+ */
                    color: #65737e;
                }

                .container-3 input#seachUser:-ms-input-placeholder {
                    color: #65737e;
                }

            .container-3 .icon {
                position: absolute;
                top: 50%;
                margin-left: 25px;
                margin-top: 28px;
                z-index: 1;
                color: #4f5b66;
                -webkit-transition: all .55s ease;
                -moz-transition: all .55s ease;
                -ms-transition: all .55s ease;
                -o-transition: all .55s ease;
                transition: all .55s ease;
            }

            .container-3 input#seachUser:focus, .container-3 input#search:active {
                outline: none;
            }

            .container-3:hover .icon {
                margin-top: 28px;
                color: #93a2ad;
                -webkit-transform: scale(1.5); /* Safari and Chrome */
                -moz-transform: scale(1.5); /* Firefox */
                -ms-transform: scale(1.5); /* IE 9 */
                -o-transform: scale(1.5); /* Opera */
                transform: scale(1.5);
            }

            .closest-dropzone {
            background-color: #EDEDED;
            box-shadow: inset 0 0 2px #6F726F;
            border-style: solid;
            border-color: #A6B4AD;
            border-width: 1px;
            border-radius: 5px;
        }

            .closest-dropzone:hover {
                /*background-color: #DADFE3;*/
                background-color: rgb(226, 195, 195);
                box-shadow: inset 0 0 2px #1A1A1A;
                border-color: #8c0000;
            }

                .closest-dropzone:hover > span {
                    color: #8c0000;
                    text-shadow: 0 0 0px #1A1A1A;
                }

        .dropzone-upload {
            background-color: #78C6D3 !important;
            box-shadow: inset 0 0 2px #6F726D !important;
            border-color: #3598DC !important;
        }

            .dropzone-upload > span {
                text-shadow: 0 0 2px #1A1A1A !important;
            }

        .closest-dropzone > span {
            color: #A6B4AD;
            text-shadow: 0 0 0px #1A1A1A;
            font-size: 30px;
            font-weight: bold;
            line-height: 36px;
            top: 33% !important;
        }

        .feed-scroll {
            overflow-x: hidden;
            overflow-y: auto;
            height: 630px;
            width: 100%;
            margin-left: 1px;
            margin-top: -16px;
        }

        .submitted-feed {
            width: 270px;
            height: 250px;
            margin: auto;
        }

        .my-media-block {
            min-height: 330px;
        }

        .searchUser {
            height: 41px;
            width: 450px;
            border: 1px solid gray;
            margin-top: 5px;
            margin-left: 165px;
        }

         .filter-text-feed {
            display: inline-flex;
            margin-left: 400px;
            margin-top: 25px;
        }