﻿
body {
    color: #6e6e6e;
    font-family: 'Open Sans', sans-serif;
    background: #eeeeee;
    font-size: 14px;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Regular.ttf);
}

html, body {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
/*======================================================
           COMMAN CLASS
  ======================================================*/
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li {
    padding: 0px;
}

p {
    margin: 0px;
}

a {
    color: #6e6e6e;
    text-decoration: none;
}

    a:focus,
    a:hover {
        color: #231f20;
        text-decoration: none;
    }

.text-upp {
    text-transform: uppercase;
}
/*----------------------FONT COLOR CLASSES-------------------------*/

.whiteclr {
    color: #fff !important;
}

.blackclr {
    color: #000 !important;
}

.mauto {
    margin: 0 auto;
}

/*==========       BASIC CLASSES     ==========*/

/* ========================================= */
/* =============SPACE CLASSES============== */
/* ========================================= */
.space5 {
    margin-top: 5px;
}

.space10 {
    margin-top: 10px;
}

.space15 {
    margin-top: 15px;
}

.space20 {
    margin-top: 20px;
}

.space25 {
    margin-top: 25px;
}

.space30 {
    margin-top: 30px;
}

.space40 {
    margin-top: 40px;
}

.space50 {
    margin-top: 50px !important;
}

.space60 {
    margin-top: 60px;
}

.space70 {
    margin-top: 70px;
}

.space80 {
    margin-top: 80px;
}

.space100 {
    margin-top: 100px;
}

/* ========================================= */
/* =============PADDING CLASSES============== */
/* ========================================= */
.pad0 {
    padding: 0 !important;
}

.padleft0 {
    padding-left: 0px !important;
}

.padright0 {
    padding-right: 0px !important;
}

.padtop0 {
    padding-top: 0px !important;
}

.padbottom0 {
    padding-bottom: 0px !important;
}

.padding10 {
    padding: 10px !important;
}

.padding15 {
    padding: 15px;
}

.padding20 {
    padding: 20px !important;
}

.padding25 {
    padding: 25px;
}

.padding30 {
    padding: 30px !important;
}

.padding50 {
    padding: 50px;
}

.padbtm100 {
    padding-bottom: 100px;
}

.padbtm80 {
    padding-bottom: 80px;
}

.padbtm50 {
    padding-bottom: 50px !important;
}

.padbtm20 {
    padding-bottom: 20px !important;
}

.padleft25 {
    padding-left: 25px !important;
}

/* ========================================= */
/* =============MARGIN CLASSES============== */
/* ========================================= */
.m0 {
    margin: 0;
}

.mbtm0 {
    margin-bottom: 0px;
}

.mtop0 {
    margin-top: 0px;
}

.mtop10 {
    margin-top: 10px;
}

.mbtm10 {
    margin-bottom: 10px;
}

.mleft20 {
    margin-left: 20px;
}

.mleft40 {
    margin-left: 40px;
}

.mleft60 {
    margin-left: 60px;
}

.mright10 {
    margin-right: 10px;
}

.mauto img {
    margin: 0px auto !important;
    width: 100% !important;
}

.mautomargin {
    margin: 0px auto !important;
}


/* ========================================= */
/* =============FONT SIZE CLASSES============== */
/* ========================================= */
.fsize8 {
    font-size: 8px !important;
}

.fsize10 {
    font-size: 10px !important;
}

.fsize12 {
    font-size: 12px !important;
}

.fsize13 {
    font-size: 13px;
}

.fsize14 {
    font-size: 14px !important;
}

.fsize16 {
    font-size: 16px !important;
}

.fsize18 {
    font-size: 18px !important;
}

.fsize20 {
    font-size: 20px !important;
}

.fsize22 {
    font-size: 22px !important;
}

.fsize24 {
    font-size: 24px !important;
}

.fsize26 {
    font-size: 26px;
}

.fsize28 {
    font-size: 28px;
}

.fsize30 {
    font-size: 30px !important;
}

.fsize36 {
    font-size: 36px !important;
}

.fsize40 {
    font-size: 40px !important;
}

.fsize50 {
    font-size: 50px !important;
}

.fsize60 {
    font-size: 60px !important;
}

.fsize70 {
    font-size: 70px !important;
}

.fsize80 {
    font-size: 80px;
}

.fsize90 {
    font-size: 90px;
}

.fsize100 {
    font-size: 100px !important;
}

/* ========================================= */
/* =============FONT WEIGHT CLASSES============== */
/* ========================================= */
.f100 {
    font-weight: 100;
}

.f200 {
    font-weight: 200;
}

.f300 {
    font-weight: 300;
}

.f400 {
    font-weight: 400;
}

.f500 {
    font-weight: 500;
}

.f600 {
    font-weight: 600;
}

.f700 {
    font-weight: 700;
}

.f800 {
    font-weight: 800;
}


/*==========================================================================*/

/*::-webkit-scrollbar {
  display: none;
}*/




/*========================Start Css=========================================*/
.title {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-top: 0;
}

header {
    background-color: #000;
}

    header .navbar-default .navbar-collapse, header .navbar-default .navbar-form {
        border-color: transparent;
    }

    header .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }

    header .navbar {
        position: relative;
        min-height: 0px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }

    header .nav > li > a {
        position: relative;
        display: block;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 600;
        color: #fff !important;
        transition: .5s;
        -webkit-transition: .5s;
    }

    header .nav > li:first-child > a {
        padding-left: 5px;
    }

div#bs-example-navbar-collapse-1 {
    padding-left: 0;
}

.nav > li > a.prolink {
    background-color: #a5192a;
    margin-left: 4px;
    border: 1px solid #a5192a;
}

#logo_sec {
    background-color: #fff;
    height: 60px;
}

.navbar-toggle {
    display: none !important;
}

.navmenu-default.offcanvas {
    display: none;
    top: 94px !important;
    bottom: 0;
    background-color: #000;
    padding: 10px 10px 50px 10px;
    overflow: scroll !important;
    z-index: 9 !important;
}

.pro_pic {
    text-align: center;
}

    .pro_pic p {
        font-size: 12px;
        color: #a5192a;
    }

.details_12 h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.details_12 p {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}

    .details_12 p small {
        font-size: 11px !important;
    }

ul.feedview {
    margin-top: 20px;
}

    ul.feedview li {
        padding: 3px;
        margin-top: 2px;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        text-align: right;
    }

        ul.feedview li span {
            width: 50px;
            height: 25px;
            background-color: #a5192a;
            font-size: 14px;
            color: #fff;
            text-align: right;
            padding: 2px 6px;
            margin-left: 20px;
        }





/*---------------- css for main_contain ----------------*/
span.edit_click {
    text-align: right;
    float: right;
    color: #ffffff;
}

.music_img img {
    margin: 10px;
    width: 100%;
}
/*------custome file upload --------*/
.avatar {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

    .avatar input {
        width: 100%;
        height: 100%;
        opacity: 0; /* Hide the button */
        cursor: pointer;
    }

.edit_box {
    margin-top: 20px;
}

    .edit_box .panel {
        background: transparent;
        box-shadow: none;
    }

    .edit_box .panel-body {
        padding: 2px 0px;
    }

    .edit_box .profile_img {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .edit_box .panel-default > .panel-heading {
        color: #fff;
        background-color: #a5192a;
        border-color: #ddd;
        border-left: 4px solid #000;
        text-transform: uppercase;
        border-radius: 0px;
    }

    .edit_box .panel-title {
        font-weight: 700;
    }

        .edit_box .panel-title a:hover, .edit_box .panel-title a:focus {
            color: #ffffff;
        }

.sing_box {
    background: #2a2a2a;
    padding: 3px 8px;
    margin-bottom: 2px;
    color: #ffffff;
}

.edit_box .panel-group .panel + .panel {
    margin-top: 0px;
}

.pr_img {
    position: relative;
}

.follow_feed {
    position: absolute;
    right: 8px;
    text-transform: uppercase;
    top: 22px;
    color: #a5192a;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    font-weight: 600;
}

.rd_box {
    color: #a5192a;
    border: 3px solid #a5192a;
    font-size: 28px;
    border-radius: 50%;
}

    .rd_box a {
        color: #a5192a;
        padding: 10px 8px;
        display: block;
    }

.cmnt {
    padding: 10px 6px !important;
}
/*================================letside_accordion====================================*/
#letside_accordion .edit_box {
    margin-top: 20px;
}

    #letside_accordion .edit_box .panel {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    #letside_accordion .edit_box .panel-body {
        padding: 2px 0px;
    }

.edit_box .profile_img {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#letside_accordion .edit_box .panel-default > .panel-heading {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid #444444;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 10px 2px;
}

#letside_accordion .edit_box .panel-title {
    font-weight: 600;
    font-size: 14px;
}

    #letside_accordion .edit_box .panel-title a:hover, .edit_box .panel-title a:focus {
        color: #ffffff;
    }

#letside_accordion .sing_box {
    background: transparent;
    padding: 3px 8px;
    margin-bottom: 2px;
    color: #ffffff;
}

#letside_accordion .edit_box .panel-group .panel + .panel {
    margin-top: 0px;
}

.edit_click .fa-square {
    color: #444444;
}


.editlist li a {
    font-size: 14px;
}

    .editlist li a:hover {
        color: #fff !important;
    }


/*==================================TABS=============================*/

.mytabs.headmenu {
    position: absolute;
    top: -60px;
    right: 14px;
}

.mytabs {
    float: right;
}

    .mytabs li a {
        font-size: 16px;
        color: #000 !important;
        font-weight: 700;
        border-bottom: 4px solid #999999;
        padding: 3px 2px;
        margin: 0 2px;
        margin-top: 28px;
    }

    .mytabs.nav-tabs > li.active > a, .mytabs.nav-tabs > li > a:hover, .mytabs.nav-tabs > li.active > a:hover, .mytabs.nav-tabs > li.active > a:focus {
        color: #000;
        cursor: default;
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 4px solid #a5192a;
    }

    .mytabs.nav-tabs {
        border-bottom: 1px solid transparent;
    }

#mainfeed_tab {
    padding: 15px;
}

    #mainfeed_tab title {
        font-size: 18px;
        color: #000;
        font-weight: 700;
    }

    #mainfeed_tab .form-control {
        border-radius: 0;
    }

.postbtn {
    width: 90px;
    height: 35px;
    color: #fff;
    background-color: #a5192a;
    padding: 2px;
    border: 1px solid #a5192a;
    transition: .5s;
    -webkit-transition: .5s;
    outline: none;
}

    .postbtn:hover {
        background-color: transparent;
        color: #a5192a;
    }

.mymediaa {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px 1px #ddd;
    margin-top: 15px;
    border: 1px solid #a51a2b;
    border-radius: 2px;
}

h4.media-heading {
    font-size: 16px;
    color: #a5192a;
    font-weight: 700;
    margin-top: 10px;
}

.media {
    text-align: left;
}

    .media p {
        font-size: 16px;
        color: #000;
    }

span.totalact {
    font-size: 14px !important;
    color: #535362 !important;
}





/*=========================file uload==================================*/
.uploadbtns {
    margin-top: 30px;
}

.btnaddvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*opacity: 0;*/
    cursor: pointer;
    background: #fff;
    border: none;
}

.file-area {
    width: 140px;
    position: relative;
    height: 25px;
    background: #fff;
    font-size: 12px;
    margin-bottom: 4px;
}

    .file-area input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }

    .file-area .file-dummy {
        width: 140px;
        padding: 0px;
        background: rgba(255, 255, 255, 0.2);
        border: 2px dashed rgba(255, 255, 255, 0.2);
        text-align: center;
        transition: background 0.3s ease-in-out;
        color: #000;
    }

        .file-area .file-dummy .success {
            display: none;
        }

    .file-area:hover .file-dummy {
        background: rgba(255, 255, 255, 0.1);
    }

    .file-area input[type=file]:focus + .file-dummy {
        outline: 2px solid rgba(255, 255, 255, 0.5);
        outline: -webkit-focus-ring-color auto 5px;
    }

    .file-area input[type=file]:valid + .file-dummy {
        border-color: rgba(0, 255, 0, 0.4);
        background-color: rgba(0, 255, 0, 0.3);
    }

        .file-area input[type=file]:valid + .file-dummy .success {
            display: inline-block;
        }

        .file-area input[type=file]:valid + .file-dummy .default {
            display: none;
        }

.follow_links {
    margin-top: 20px;
}

    .follow_links li {
        list-style: none;
        padding-left: 15px;
    }

        .follow_links li a {
            display: block;
            font-size: 14px;
            color: #000;
            padding: 5px 0;
            font-weight: 700;
        }

.comment_links {
    float: right;
}

    .comment_links li {
        list-style: none;
        display: inline-block;
        padding: 5px 0;
    }

        .comment_links li a {
            display: inline-block;
            font-size: 14px;
            color: #000;
            font-weight: 500;
            border-right: 1px solid #000;
            padding: 0 5px;
        }

        .comment_links li:last-child a {
            border-right: none;
        }

.postbtn.pull-right {
    width: 140px !important;
}

.social_links li {
    list-style: none;
    display: table-cell;
    padding: 3px 4px;
}

.footer {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px 0;
    border-top: 5px solid #a5192a;
    z-index: 999;
}


/*footer{
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px 0;
  border-top: 5px solid #a5192a;
  z-index: 999;
}*/



/*===========================player===============*/
.audio-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.2s;
    width: 80vw;
    max-width: 700px;
    background: transparent;
    box-sizing: border-box;
}

@media screen and (max-width: 560px) {
    .audio-player {
        width: 100vw;
        background: rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 560px) {
    .cover-art {
        position: relative;
        width: 100%;
        height: 80vw;
        bottom: inherit;
        right: inherit;
    }
}

@media screen and (max-width: 520px) {
    .cover-art {
        position: relative;
        width: 100%;
        height: 90vw;
        bottom: inherit;
        right: inherit;
    }
}

@media screen and (max-height: 500px) {
    .cover-art {
        display: none;
        width: 0px;
        height: 0px;
    }
}

.cover-art a {
    display: block;
    width: 100%;
    height: 100%;
}

    .cover-art a:hover {
        background: #22a952;
        opacity: 0.2;
    }

.controls {
    display: flex;
    width: 100%;
    height: 50px;
    background: transparent;
    margin-top: 2px;
    padding: 0px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.controls_plays {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.controls_player {
    flex: 1;
    fill: #7FE5A3;
    display: flex;
    justify-content: space-around;
}


#plays_btn, #prev_btn, #next_btn {
    cursor: pointer;
    width: 26px;
    max-width: 18px;
    transition: all 0.2s;
}

    #plays_btn:hover, #prev_btn:hover, #next_btn:hover {
        fill: #565349;
    }

#pause_btn {
    display: none;
}

#volume_btn, #shuffle_btn, #playlist_btn {
    cursor: pointer;
    width: 23px;
    max-width: 18px;
    transition: all 0.2s;
}

    #volume_btn:hover, #shuffle_btn:hover, #playlist_btn:hover {
        fill: #22a952;
    }

.progressbar_slide {
    width: 100%;
    background: #7fe5a3;
    height: 6px;
}

.progressbar_range {
    width: 0;
    background: black;
    height: 6px;
}

.msgnoti {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #a5192a;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding: 3px;
    text-align: center;
    top: 10px;
    right: -6px;
}


@media (min-width: 992px) {
    #main_body {
        padding: 0;
    }

    .navbar {
        right: auto;
        background: none;
        border: none;
    }
}

@media(max-width: 991px) {
    header .nav > li > a {
        padding: 5px 8px;
        font-size: 13px;
    }

    #logo_sec {
        background-color: #fff;
        height: auto;
    }

    .uploadbtns {
        margin-top: 0px;
    }

    .file-area {
        margin-right: 5px;
        display: inline-block;
    }

    .title {
        font-size: 14px;
    }

    .navmenu-default.offcanvas {
        padding-bottom: 50px !important;
    }

    .social_links li {
        padding: 4px 1px;
    }
}

@media(max-width: 767px) {
    .navbar-toggle {
        display: block !important;
        float: right;
    }

    .nav > li:first-child > a {
        padding-left: 5px;
    }

    header .nav > li > a {
        padding: 5px 5px;
        margin-top: 4px;
    }

    .nav > li > a.prolink {
        margin-left: 0px;
    }

    .mytabs li a {
        font-size: 11px;
        padding: 3px 1px;
        margin: 0 2px;
        margin-top: 5px;
    }

    section#main_body {
        padding-bottom: 60px;
    }

    .navmenu-default.offcanvas {
        top: 139px !important;
        left: 0px;
        right: 114px;
    }

    h4.media-heading {
        font-size: 14px;
    }

    .media p {
        font-size: 13px;
        color: #000;
    }

    .mymediaa .media-left {
        display: block;
        vertical-align: top;
    }

    header .nav > li > a {
        padding-left: 30px !important;
    }

    .mytabs .nav > li:first-child > a {
        padding-left: 30px;
    }

    .music_img img {
        margin: 10px 0;
        width: 100%;
    }

    .rd_box {
        font-size: 16px;
    }

    .panel-title {
        font-size: 12px;
    }

    .msgnoti {
        width: 20px;
        height: 20px;
        padding: 0px;
        top: -15px;
        right: -6px;
    }

    md-autocomplete.md-default-theme {
        background-color: transparent !important;
    }
}
/* media 767px == END*/

#edituserpic {
    width: 29px;
    cursor: pointer;
    height: 23px;
    position: absolute;
    color: transparent;
    margin-top: -42px;
    margin-left: 139px;
    opacity: 0;
}

    #edituserpic:hover {
        color: #a51a2b;
    }

.userpcame {
    margin-top: -44px;
    position: absolute;
    margin-left: 16px;
}


.mddialogScroll {
    overflow-y: hidden !important;
}

.md-dialog-is-showing {
    max-height: 100%;
    overflow: hidden;
}

md-dialog#newstudent {
    margin: auto;
    overflow: hidden;
}


md-dialog > form {
    overflow: hidden !important;
}



.upload-img-audio1 {
    width: 620px;
    display: block;
    clear: both;
}

.upload-img-audio2 {
    width: 48%;
    display: inline-block;
    clear: both;
    padding: 0 !important;
}

.upload-img-audio3 {
    width: 48%;
    display: inline-block;
    clear: both;
    vertical-align: top;
    padding: 0 !important;
}

.contentClass-audio {
    display: block !important;
}

.upload-img-audio1 .editInputContainer {
    display: block;
    margin-bottom: 0;
}

.upload-img-audio2 .uploaded-img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
}

.upload-img-audio3 .FileNameDisp1 {
    width: auto;
    text-align: center;
    padding-bottom: 5px;
}

.upload-img-audio2 .FileNameDisp1 {
    width: auto;
    text-align: center;
    padding-bottom: 5px;
}

.added-music-block .media-left {
    width: 199px;
    text-align: center;
    vertical-align: middle;
    display: table;
    position: fixed;
    height: 290px;
}

    .added-music-block .media-left a {
        display: table-cell;
        vertical-align: middle;
    }

.added-music-block .media-object1 {
    width: auto !important;
    max-width: 100%;
}

.added-music-block {
}

.added-music th, .added-music td {
    padding: 5px;
}

.full-container {
    width: 620px;
}

    .full-container .file-area11 {
        width: 100%;
        height: auto !important;
        padding: 5px 0;
        display: inline-block;
        margin-left: 0;
        margin-top: 0;
    }

p.title-block {
    display: block;
    width: 100%;
    padding-bottom: 15px;
}

.full-container-block .contentBtn {
    margin-top: 0;
    margin-bottom: 30px;
}

md-content.contentClass1.full-container-block {
    display: block;
}

.btn-content1 {
    width: 620px;
    text-align: right;
    padding-right: 0 !important;
}

md-input-container.editContainer11.full-container {
    margin-bottom: 0;
}

.heading-music {
    margin-left: 205px;
}

.full-container .file-area .file-dummy {
    text-align: left;
    padding-left: 10px;
}

.full-container .FileNameDisp1 {
    padding-left: 13px;
    width: auto !important;
}

.login-modal-block .md-dialog-container {
    top: -100px;
}

.added-music-block .file-area1 img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
}

.added-music-block .formClass {
    margin-top: 0;
}

.tableClass1.added-music {
    margin-left: 0;
}

.added-music-block .file-area1 {
    position: fixed;
    border: none;
}

.added-music-block .tableClass {
    margin-top: 0;
    margin-left: 155px;
    width: calc(100% - 165px);
    -webkit-width: calc(100% - 165px);
    -moz-width: calc(100% - 165px);
    -o-width: calc(100% - 165px);
    -ms-width: calc(100% - 165px);
}

.md-dailog-block md-dialog {
    opacity: 0;
    min-width: 240px;
    max-width: 100%;
}

.md-dailog-block .dialogContainer {
    width: 650px;
}

.media-heading-block .contentBtn1 {
    margin-top: 0;
}

.media-heading-block h4.media-heading {
    margin-top: 0;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    line-height: 30px;
}

    .media-heading-block h4.media-heading button {
        position: absolute;
        right: 8px;
        width: 70px;
        height: 36px;
        display: inline-block;
    }

.dis-block {
    display: block;
}

.media-heading-block {
    padding-left: 12px;
}

img.upload-photo1 {
    margin-top: 10px;
    opacity: 0.5;
}

    img.upload-photo1:hover {
        opacity: 1;
    }

.added-music tr td:nth-child(3) {
    width: 120px;
}

.added-music tr td:nth-child(2) {
    width: 50px;
}

.added-music tr td:nth-child(1) {
}

.biography {
    width: 670px;
}

    .biography .row.form-group {
        width: 100%;
    }

    .biography .md-resize-wrapper textarea {
        text-align: justify;
        min-height: 1px !important;
        height: auto !important;
    }

.logo_div a img {
    display: inline-block;
}

.logo_div a button {
    display: inline-block;
    background: none;
    border: none;
    width: 45px;
    position: relative;
    top: 15px;
    outline: none;
}

    .logo_div a button span {
        width: 100%;
        background: #a5192a;
        height: 4px;
        display: block;
        margin-bottom: 4px;
        vertical-align: top;
        border-radius: 3px;
    }

.edit-profile-form .dialogContainer {
    width: 100%;
}

.edit-profile-form {
    overflow: hidden;
}

    .edit-profile-form .editInputContainer {
        display: inline-block;
        width: 100%;
    }

    .edit-profile-form .editContainer {
        position: relative !important;
        margin-top: 20px;
    }

    .edit-profile-form .file-area1 {
        width: 100%;
    }

        .edit-profile-form .file-area1 img {
            max-width: 100%;
            width: 150px;
            height: auto !important;
        }

        .edit-profile-form .file-area1 .file-dummy {
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
        }

        .edit-profile-form .file-area1 .FileNameDisp {
            width: 100%;
            text-align: center;
            margin-left: 0;
            padding: 4px 0;
        }

md-progress-circular {
    width: 80px !important;
    height: 90px !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    z-index: 999 !important;
    top: 50% !important;
}

.payment-image-radio-button {
    position: relative;
    width: 250px;
    height: 50px;
}

    .payment-image-radio-button .md-label {
        position: absolute;
        top: 5px;
        left: 0;
        width: 200px;
    }

md-radio-button .md-on {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    visibility: hidden;
}

md-radio-button.md-checked .md-on {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    visibility: visible;
}

md-radio-button .md-container .md-ripple-container {
    display: none !important;
}

.dbrd-h {
    font-size: 10px;
    width: 100px;
    height: 25px;
    color: #fff;
    background-color: #a5192a;
    padding: 2px;
    border: 1px solid #a5192a;
    transition: .5s;
    -webkit-transition: .5s;
    outline: none;
}

    .dbrd-h:hover {
        font-size: 10px;
        width: 100px;
        height: 25px;
        color: #a5192a;
        background-color: #fff;
        padding: 2px;
        border: 1px solid #a5192a;
        transition: .5s;
        -webkit-transition: .5s;
        outline: none;
    }


.list-selected {
    background: #a5192a;
    padding: 5px !important;
    border-radius: 6px !important;
    color: #fff;
}


.list-select1 {
    display: inline-block;
    width: auto;
    margin-left: 1%;
    width: 24%;
    margin-bottom: 10px;
    padding: 1px !important;
    border-radius: 9px !important;
    border: #a5192a 1px solid;
    position: relative;
}

    .list-select1 .chk-bn-tags {
        font-size: 0.9em;
    }




.skil-selected {
    text-align: center;
}

    .skil-selected h4 span {
        padding: 5px;
        font-style: italic;
    }

    .skil-selected h2 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0px;
    }

.md-hedr, .md-hedr1 {
    font-weight: bold;
}

.md-hedr1 {
    color: #f5f2f2;
    background-color: #a5192a;
    text-align: center;
    margin-bottom: 8px;
    padding-top: 1px;
}

.list-select1 .chk-list {
    cursor: pointer;
    position: relative;
    top: 4px;
}

.txt-bottom {
    text-align: center;
    padding-top: 63px;
    font-weight: bold;
}

.skil-selected h4 {
    margin-top: -3px;
    margin-bottom: 1px;
}

.rightmark img {
    height: 12px;
    width: 22px;
}

.bittext1 {
    font-family: Century Gothic, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #8c0000;
    margin-top: 4px;
}

.media-body a img.puserpic {
    width: 60px;
    display: inline-block;
    height: 56px;
    border-radius: 4px;
}

.hidden1 {
    display: none;
}


.image-card {
    width: 22%;
    margin-top: -20px;
    position: absolute;
    right: 0;
}

input[type="reset"][disabled], input[type="submit"][disabled], html input[type="button"][disabled], button[disabled] {
    cursor: not-allowed !important;
    pointer-events: all;
}

.spinner-payment1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
}

    .spinner-payment1:before {
        content: '';
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        height: 100%;
    }

.userTags ul li {
    padding-bottom: 10px;
    color: #0c823c;
}

.userTags p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
}

.userTags ul li h2 {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}



.anchorlinks:link {
    color: #535362;
}

.anchorlinks:visited {
    color: #535362;
}

.anchorlinks:hover {
    color: #8c0000;
}

.anchorlinks:active {
    color: #22a952;
}

.line-reg-margin {
    margin-top: 2px;
}


.search_tag_box {
    background-color: #333;
    color: #fff;
    min-width: auto;
    width: auto;
    padding: 4px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.social_links a img:hover {
    width: 95px;
    height: 38px;
    border-radius: 4px;
}

.social_links a img {
    width: 100px;
    height: 40px;
    border-radius: 4px;
}
