/* BASED ON : 
 * START Fast & Agile YouTube Embed by Schoberg.net
 */
.youtubeVideoLoader { /* continer (responsive) */
  position: relative;
  cursor: pointer;
  background: #cc1424 no-repeat center center / cover; 
  padding-bottom: 56.25%; /* 16:9 */
  height: 0px;
  clear:both;
 /* margin-bottom: 10px;*/
}

/* Modal Styles */
#videoModalContainer{
	  width:100%;
	  padding: 0px;
	  top:0;
	  left:0;
	  height: 100%;
}
.tutorialsData .modal-content
{
	background-color: #8c0000;
	display:inline-block;
	width:100%;
	height: 100%;
    -moz-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
	box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.8);
}
.modal-body
{
	padding: 0px;
}
 